
.config-upload-modal-wrapper {
	max-width: 460px;
	width: 460px;
	padding: 20px;
	background-color: #1a1e23;
}

.config-upload-modal-header {
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #24282e;
}

.config-upload-modal-content-wrapper {
	text-align: left;
}

.config-upload-modal-button-wrapper {
	width: 100%;
}


.config-integrations-list {
	width: 100%;
	margin-bottom: 20px;
}


.config-integrations-list-item {
	width: 100%;
	padding-bottom: 20px;
}

.config-integrations-list-item:last-child {
	padding-bottom: 0;
}

.config-integrations-list-item-image-wrapper {
	position: relative;
	width: 80px;
	height: 80px;
	margin-right: 40px;
	background-color: #24282e;
}

.config-integrations-list-item-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: scale-down;
	width: 80%;
	height: 80%;
}

.config-integrations-list-item-icon {
	position: absolute;
	top: 0;
	right: 0;
	margin: -4px;
	opacity: 0;
	font-size: 18px;
	color: #7ed321;
	transition: opacity 0.125s ease-out;
}

.config-integrations-list-item-uploaded .config-integrations-list-item-icon {
	opacity: 1;
}

.config-integrations-list-item-dz {
	display: inline;
}

.config-integrations-list-item-button {
	min-width: 120px;
	max-width: 120px;
	width: 120px;
}

.config-upload-modal-form-instructions {
	margin-bottom: 20px;
}
