
.stripe-form {
	width: 100%;
}

.stripe-form > form {
	width: 100%;
}

.stripe-form input:not(:last-child) {
	margin-bottom: var(--orthodox-margin-base);
}

.stripe-form-button-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start; /* h-align */
	align-items: center; /* v-align */
}


.StripeElement {
	margin-bottom: var(--orthodox-margin-base);
	padding: var(--orthodox-padding-less) var(--orthodox-padding-base);
	border: 1px solid rgba(var(--border-color), 1.0);
	border-radius: 23px;
	background-color: rgba(var(--txtfield-bg-color), 1.0);
	font-family: inherit;
	font-size: inherit;
}
