
.input-field {
	position: relative;
}

.input-field-wrapper {
	position: relative;
}

.input-field-textfield {
	padding-right: 160px;
}

.input-field-button {
	position: absolute;
	top: 18px;
	right: 18px;
}