
.input-field {
	position: relative;
}

.input-field-wrapper {
	position: relative;
}

input[type="text"].input-field-textfield, .input-field-textfield {
	padding-right: 110px;
}

.input-field-button {
	position: absolute;
	top: 6px;
	right: 6px;
}
