
.playground-page {
	--playground-nav-width: 208px;
	--playground-comments-width: 0px;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	/*border-style: dashed;*/
	/*border-width: 1px;*/
	/*border-color: var(--matty-mana);*/
	background-color: rgba(var(--playground-content-bg-color), 1.0);
	text-align: left;
	overflow: hidden;
	transition: background-color 333ms ease-out;
}

.playground-page[data-menu="true"] {
	--playground-nav-width: 88px;
}

.playground-page[data-menu="true"] .playground-nav-panel {
	opacity: 0.5;
}

.playground-page[data-component="true"] {
	background-color: rgba(var(--playground-content-bg-color), 0.0);
}

.playground-page[data-comments="true"] {
	--playground-comments-width: 228px;	
}

.playground-page-content-wrapper {
	position: fixed;
	top: 64px;
	left: var(--playground-nav-width);
	width: calc(100vw - (var(--playground-nav-width) + var(--playground-comments-width)));
	height: calc(100vh - 64px);
	/* padding-bottom: 64px; */
	transition: width 333ms 125ms cubic-bezier(0.4, 0, 0.2, 1), height 333ms 125ms cubic-bezier(0.4, 0, 0.2, 1);

	/*border-style: dashed;*/
	/*border-color: var(--matty-earth);*/
	/*border-width: 1px;*/
}

.playground-page[data-comments="true"] .playground-page-content-wrapper {
	transition: width 333ms cubic-bezier(0.4, 0, 0.2, 1), height 333ms cubic-bezier(0.4, 0, 0.2, 1);
}


.playground-page[data-component="true"] .playground-page-content-wrapper {
	z-index: 2;
}
