
.left-nav {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: var(--left-nav-width);
	height: 100%;
	background-color: rgba(var(--nav-bg-color), 1.0);
	/* height: 100vh;
	padding: var(--spacing-20);
	z-index: 2; */
}

.left-nav > * {
	padding: 0 20px;
}

.left-nav > *:first-child {
	padding-top: 20px;
}

.left-nav .header {
	flex-shrink: 0;
	margin-bottom: var(--spacing-20);
	font-size: 18px;
	font-weight: 700;
	color: rgba(var(--site-fg-color), 1.0);
	transition: color var(--transition-duration-short) ease-out;
}

.left-nav .header[data-teams="true"]:hover {
	color: rgba(var(--link-color), 1.0);
	text-decoration: underline;
	cursor: pointer;
}

.left-nav .content {
	flex-grow: 1;
	overflow-y: auto;
}

.left-nav .content .loading {
	font-size: 10px;
	font-weight: 700;
	color: rgba(var(--site-lite-fg-color), 1.0);
	text-transform: uppercase;
	opacity: 1;
	transition: opacity var(--transition-duration-short) ease-out;
}


.left-nav .content button {
	width: 100%;
	padding: 8px 0;
}

.left-nav .teams-wrapper {
	margin: var(--spacing-20) 0;
}

.left-nav .teams-wrapper .header, .left-nav .builds-wrapper .header {
	color: rgba(var(--site-lite-fg-color), 1.0);
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.left-nav .content .teams-wrapper[data-loading="false"] .loading, .left-nav .content .builds-wrapper[data-loading="false"] .loading {
	height: 0;
	opacity: 0;
}

.left-nav .left-nav-team {
	width: 100%;
	/* color: rgba(var(--site-fg-color), 1.0);
	font-weight: 500; */
	transition: color var(--transition-duration-short) ease-out;
}

.left-nav .left-nav-team:not(:last-child) {
  margin-bottom: var(--spacing-05);
}

.left-nav .left-nav-team:hover {
	text-decoration: underline;
  cursor: pointer;
}

.left-nav .left-nav-team[data-selected="true"], .left-nav .left-nav-team[data-selected="true"]:hover {
	color: rgba(var(--site-selected-color), 1.0);
	text-decoration: none;
	cursor: default;
}

.left-nav .builds-wrapper {
	width: 100%;
	/* font-size: 14px; */
}

.left-nav .left-nav-build {
  transition: height var(--transition-duration-short) ease-out;
}

.left-nav .left-nav-build:not(:last-child) {
  margin-bottom: var(--spacing-05);
}

.left-nav .left-nav-build .title-wrapper {
  position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.left-nav .left-nav-build .title-wrapper:hover {
  cursor: pointer;
}

.left-nav .left-nav-build .title-wrapper:hover .title {
	text-decoration: underline;
}

.left-nav .left-nav-build .title-wrapper .arrow-wrapper {
  position: absolute;
	font-size: 18px;
	font-weight: 400;
	z-index: 2;
	transition: var(--expander-arrow-transition);
}

.left-nav .left-nav-build .title-wrapper .arrow-wrapper > * {
	transform-origin: center center;
	transition: var(--expander-arrow-transition);
}

.left-nav .left-nav-build .title-wrapper[data-expanded="true"] .arrow-wrapper {
  top: 0px;
	left: 2px;
}

.left-nav .left-nav-build .title-wrapper[data-expanded="true"] .arrow-wrapper > * {
	transform: rotate(90deg);
}

.left-nav .left-nav-build .title-wrapper .title {
}

.left-nav .left-nav-build .title-wrapper[data-selected="true"] .title, .left-nav .left-nav-build .title-wrapper[data-selected="true"]:hover .title {
	color: rgba(var(--site-selected-color), 1.0);
	text-decoration: none;
	cursor: default;
}


.left-nav .left-nav-build .item-wrapper {
	margin: var(--spacing-05) 0 0 var(--spacing-10);
}

.left-nav .left-nav-build .item-wrapper .device-render {
}

.left-nav .left-nav-build .item-wrapper .device-render:not(:last-child) {
  margin-bottom: var(--spacing-05);
}

.left-nav .left-nav-build .item-wrapper .device-render:hover {
	text-decoration: underline;
	cursor: pointer;
}

.left-nav .left-nav-build .item-wrapper .device-render[data-selected="true"], .left-nav .left-nav-build .item-wrapper .device-render[data-selected="true"]:hover {
	color: rgba(var(--site-selected-color), 1.0);
	text-decoration: none;
	cursor: default;
}
