
.confirm-dialog-wrapper {
	position: fixed;
	right: 26px;
	bottom: 26px;
	width: 260px;
	height: 200px;
	z-index: 1001;
	background-color: #24282e;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.confirm-dialog-button-wrapper {
	width: 100%;
	text-align: right;
}