
@keyframes top-nav-profile-intro {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes top-nav-profile-outro {
	0% { opacity: 1; }
	100% { opacity: 0; }
}


.top-nav-profile-intro {
	animation: 0.125s ease-out 0s 1 forwards top-nav-profile-intro;
}

.top-nav-profile-outro {
	animation: 0.25s ease-out 0s 1 forwards top-nav-profile-outro;
}


.top-nav-profile {
	position: relative;
}

.top-nav-profile-arrow {
	width: 10px;
	padding-bottom: 3px;
	color: #abdafd;
}

.top-nav-profile-avatar-wrapper {
	position: relative;
	width: 38px;
	height: 38px;
	margin-left: 10px;
	background-size: cover;
	overflow: hidden;
	background-color: #1a1e23;
}

.top-nav-profile-avatar-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	object-fit: scale-down;
	max-width: 100%;
	opacity: 0.875;
}

.top-nav-profile-avatar-image:hover, .top-nav-profile-arrow:hover {
	cursor: pointer;
	opacity: 1;
	color: #f7fafc;
}

.top-nav-profile-bubble-wrapper {
	position: absolute;
	top: 30px;
	right: 0;
	width: 92px;
	background-color: #24282e;
	box-shadow: 0 0 2px rgba(14, 14, 14, 0.125), 0 1px 1px rgba(14, 14, 14, 0.125);
	text-align: left;
}

.top-nav-profile-link {
	padding: 6px;
	border-bottom: 1px solid #1a1e23;
	text-decoration: none;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: -0.2px;
	color: #ffffff;
}

.top-nav-profile-link:last-child {
	border-bottom: none;
}

.top-nav-profile-link:hover {
	color: #abdafd;
	text-decoration: underline;
	cursor: pointer;
}
