
.form-acc {
	position: absolute;
	width: var(--orthodox-acc-size);
	height: var(--orthodox-acc-size);
	right: calc(var(--orthodox-acc-size) * 0.5);
	opacity: 1;
  transition: opacity var(--transition-duration-short) ease-out;
}

.form-acc:hover {
	opacity: 0.5;
  cursor: pointer;
}

.form-acc[data-align="top"] {
	top: calc(var(--orthodox-acc-size) * 0.5);
}

.form-acc[data-align="center"] {
	top: 50%;
	transform: translateY(-50%);
}

.form-acc[data-align="bottom"] {
	bottom: calc(var(--orthodox-acc-size) * 0.5);
}


.code-form-accessory {
	width: 16px;
	height: 12px;
}