
#-- os misc --#
.*DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


#-- ide meta --#
*.iml
*.ipr

.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/sonarIssues.xml
.idea/**/sonarlint/

.idea/misc.xml
.idea/workplace.xml
modules.xml


#-- npm --#
/node_modules
npm-debug.log*
yarn-error.log


#-- lint / test --#
/coverage
/.eslintrc.json


#-- production --#
/build


#-- temp --#
/.cache
/tmp


#-- php files --#
/public/index.php
/public/php/*.php


#-- stripe tokens --#
/src/assets/json/github-creds.json
/src/assets/json/stripe-creds.json


#-- vendor paths --#
**/vendor/**/node_modules
**/vendor/**/.*
**/vendor/**/*.md
**/vendor/**/examples
**/vendor/**/LICENSE
