
#-- os misc --#
.env.local
.env.development.local
.env.test.local
.env.production.local


#-- ide meta --#
/.idea
*.iml
*.ipr

/.history
/.tours

#-- npm --#
/node_modules
npm-debug.log*
yarn-error.log

#-- caches --#
/.node-persist


#-- lint / test --#
/coverage
/.eslintrc.json


#-- production --#
/build


#-- temp --#
/.cache
/.node-persist
/tmp
/tmp/**/*

#-- php files --#
/public/php


#-- creds --#
/src/assets/json/configs/stripe-creds.json


#-- user --#
/opt/debug_profiles

/.history
.tours


#-- vendor paths --#
**/vendor/**/node_modules
**/vendor/**/dist
