
#-- ide meta --#
/.idea
*.iml
*.ipr

/.history
/.tours
/.vscode/ftp-sync.json


#-- npm --#
/node_modules
npm-debug.log*
yarn-error.log


#-- lint / test --#
/coverage
/.eslintrc.json


#-- production --#
/build


#-- user add'l --#
/etc
/tmp
.env*.local


#-- temp --#
/.cache
/.node-persist


#-- php files --#
/public/php


#-- creds --#
/src/assets/json/configs/*-creds.json



/.history
.tours


#-- vendor paths --#
**/vendor/**/node_modules
**/vendor/**/dist
