
@keyframes top-nav-menu-intro {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes top-nav-menu-outro {
	0% { opacity: 1; }
	100% { opacity: 0; }
}


.top-nav-menu-intro {
	animation: 0.125s ease-in 0s 1 forwards top-nav-menu-intro;
}

.top-nav-menu-outro {
	animation: 0.125s ease-out 0s 1 forwards top-nav-menu-outro;
}


.top-nav-menu-wrapper {
	position: relative;
}

.top-nav-menu-arrow {
	margin-right: 10px;
	padding-bottom: 3px;
	font-size: 16px;
	color: #abdafd;
}

.top-nav-menu-title {
	font-size: 16px;
	color: #abdafd;
}

.top-nav-menu-title-selected {
	text-decoration: underline;
}

.top-nav-menu-arrow:hover, .top-nav-menu-title:hover {
	cursor: pointer;
}

.top-nav-menu-bubble-wrapper {
	position: absolute;
	top: 22px;
	left: -17px;
	width: 100px;
	background-color: #1a1e23;
	padding: 8px 8px 6px 8px;
	border-radius: 4px;
	box-shadow: 0 3px 5px #1c1c1c;
	text-align: left;
}

.top-nav-menu-link {
	margin-right: 0;
	font-family: "SF Pro Display Regular", sans-serif;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: -0.22px;
}
