
.base-section {
	width: 100%;
	height: 100%;
}

.base-section-content-wrapper {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	align-items: center; /* vertical-align: middle */
	justify-content: center; /* text-align: center */
	width: 100%;
	max-width: 840px;
	height: 100%;
	border: 1px dotted rgba(255, 255, 0, 0.0);
}


@media screen and (max-width: 800px) {
	.base-section-content-wrapper {
		max-width: 90%;
	}
}
