
.base-section {
	width: 100%;
}

.base-section-content-wrapper {
	width: 100%;
	max-width: 840px;
	border: 1px dotted rgba(255, 255, 0, 0.5);
}

@media screen and (max-width: 800px) {
	.base-section-content-wrapper {
		max-width: 90%;
	}
}
