
.project-overlay {
  /* display: flex; */
  /* flex-flow: column nowrap; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--site-bg-color), 1.0);
  z-index: 10;
}

.project-overlay .header-wrapper {
  width: 100%;
  height: 110px;
}

.project-overlay .content-wrapper {
  width: 100%;
  height: calc(100vh - 110px);
  background-color: #cccccc;
}
