
.filepond--root, .filepond--root > * {
  background: none;
}

.filepond--root.file-pond-wrapper {
  /* display: flex;
  width: 100%;
  height: 280px; */
  /* height: 100%; */
  /* border: 1px dotted #ff00ff; */
}