
.team-page-file-drop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  background-color: rgba(var(--site-bg-color), 1.0);
  /* background-color: rgba(0, 0, 0, 0.33); */
}


.team-page-file-drop[data-hidden="true"] {
  display: none;
}

.team-page-file-drop > div {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	width: 100%;
  height: 100%;
  transition: all 0.875s cubic-bezier(0.1, 0.9, 0.3, 1.0);
}

.team-page-file-drop > div[data-file="true"] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 50%;
  height: 50%;
}

.team-page-file-drop button.glyph-button {
  position: absolute;
  top: 20px;
  left: 20px;
	padding: 0px;
	width: 28px;
	height: 28px;
	min-width: 28px;
	min-height: 28px;
	max-width: 28px;
  max-height: 28px;
  background: none;
  border: none;
}

.team-page-file-drop button.glyph-button:hover {
  border: none;
  background: none;
}

.team-page-file-drop .input-wrapper {
  margin: 0 10px;
  transition: height 0.125s ease-out;

  display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	margin-bottom: var(--spacing-20);
}

.team-page-file-drop .input-wrapper > div {
  position: relative;
  width: 100%;
}

.team-page-file-drop .input-wrapper .code-btn {
	position: absolute;
	bottom: 8px;
	right: 10px;
	opacity: 0.67;
	transition: opacity 125ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-page-file-drop .input-wrapper .code-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.team-page-file-drop .input-wrapper .comment-txt {
  width: 100%;
  padding: 16px;;
  background-color: rgba(var(--txtarea-bg-color), 1.0);;
  border: 1px solid rgba(var(--txtfield-border-color), 1.0);
  border-radius: var(--border-radius);;
  font-size: 16px;
  font-weight: 700;
}

.team-page-file-drop .input-wrapper .comment-txt[data-code="true"] {
	font-family: Consolas, Monaco, "Courier New", Courier, monospace;
}

.team-page-file-drop .input-wrapper button {
  margin-left: var(--spacing-10);
  width: fit-content;
}


.team-page-file-drop .filepond--wrapper {
  height: 100%;
}

.file-pond-wrapper {
  /* border: 1px dotted #ff00ff; */
}

.filepond--wrapper > * {
  background: none;
  height: 100%;
}

.filepond--panel-root {
  height: 100%;
}

