
.privacy-page {
	padding: 60px 20%;
}

.privacy-page-content-wrapper {
	text-align: justify;
}

.privacy-page-content-wrapper h6::before {
	margin-top: 0;
}

.privacy-page-content-wrapper h6::after {
	content: " – ";
}

.privacy-page-content-wrapper div:last-child p:last-child {
	margin-bottom: 0;
}


@media screen and (max-width: 800px) {
	.privacy-page {
		padding: 60px 30px;
	}
}
