
.github-modal-wrapper {
	min-width: 480px;
	min-height: 480px;
	padding: 20px;
	background-color: #1a1e23;
}

.github-modal-header {
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #24282e;
}

.github-modal-header h1 {
	line-height: 0;
}

.github-modal-content-wrapper {
}

.github-modal-button-wrapper {
	width: 100%;
	text-align: left;
}


.github-modal-form {
	min-width: 50%;
	text-align: center;
}

.github-repo-form {
	width: 100%;
}


.github-modal-grid {
	width: 100%;
}

.github-modal-grid-item-wrapper {
	margin: 8px -10px 0 -10px;
}


.github-modal-grid-item {
	width: 160px;
	height: 200px;
	margin: 0 10px 20px 10px;
}
