
.stripe-modal-wrapper {
	min-width: 480px;
	height: 80%;
	padding: 20px;
	background-color: #1a1e23;
}

.stripe-modal-header {
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #24282e;
}

.stripe-modal-logo {
	opacity: 0.875;
}
