
.create-team-page {
  padding-top: 70px;
}


.create-team-form {
  width: 100%;
  text-align: left;
}

.create-team-form form {
  width: 348px;
}

.create-team-form form > *:not(.dummy-form):not(:last-child) {
  margin-bottom: 20px;
}

.create-team-form form .rules-wrapper > *:not(last-child), .create-team-form form .invites-wrapper > *:not(last-child) {
  margin-bottom: 20px;
}

.create-team-form .button-wrapper > button {
  min-width: unset;
  max-width: unset;
  width: 100%;
}
