
.radio-button {
	margin: 0 10px 30px 0;
}

.radio-button-button {
	width: 30px;
	height: 30px;
	background: #fafbfc none;
	border: 1px solid #eaecef;
	border-radius: 50%;
	margin-bottom: 10px;
	padding: 4px;
}

.radio-button-button:hover {
	background: #fafbfc none;
	border: 1px solid #bec0c2;
}

.radio-button-button:disabled, .radio-button-button:disabled:hover {
	background: #fafbfc none;
	border: 1px solid #eaecef;
}

.radio-button-image {
	width: 100%;
	height: 100%;
}

.radio-button-button:disabled .radio-button-image {
	opacity: 0;
}

.radio-button-title {
	margin-left: 8px;
	color: #333333;
	height: 27px;
}

.radio-button-title-disabled, .radio-button-subtext-disabled {
	color: #999999;
}

.radio-button-subtext {
	font-family: "San Francisco Text", sans-serif;
}
