
.docs-page {
	padding: 60px 20%;
}

.docs-page-content-wrapper {
	margin-bottom: 20px;
}

.docs-page-section-wrapper {
}


@media screen and (max-width: 800px) {
	.docs-page {
		padding: 60px 30px;
	}
}
