
.playground-processing-overlay {
	min-width: 360px;
	width: 360px;
	max-width: 360px;
	background-color: rgba(var(--site-bg-color), 1.0);
}

.playground-processing-overlay-header-wrapper {

	letter-spacing: 0.2px;
}

.playground-processing-overlay-header-wrapper h4 {
	margin-bottom: 80px;
	/*line-height: ;*/
}

.playground-processing-overlay-content-wrapper {
	/*margin-bottom: var(--orthodox-margin-dbbl);*/
}

.playground-processing-overlay-loader-wrapper {
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*margin: calc(var(--orthodox-margin-base) * -1);*/
	/*width: calc(100% + calc(var(--orthodox-padding-base) * 2.0));*/
	/*height: calc(100% + calc(var(--orthodox-padding-base) * 2.0));*/
	/*background-color: rgba(var(--site-bg-color), 0.33);*/

	position: absolute;
	top: 0;
	left: 0;
	margin: calc(var(--orthodox-margin-base) * -1);
	width: calc(100% + calc(var(--orthodox-padding-base) * 2.0));
	height: calc(100% + calc(var(--orthodox-padding-base) * 2.0));
	background-color: rgba(var(--site-bg-color), 0.33);
}


.playground-processing-overlay-loader {
	position: relative;
	width: 100%;
	height: 100%;
}
