
#-- auth --#
#AuthType Basic
#    AuthName "Password Protected Area"
#    AuthUserFile /var/www/designengine.ai/.htpasswd
#    Require valid-user

#-- drop www prefix --#
#RewriteEngine on
#    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]


#-- service paths --#
RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^verify-email/(\d+)/(.+)/?$ /php/rewrite-worker.php?action=VERIFY_EMAIL&user_id=$1&email=$2 [QSA,L]
#   RewriteRule ^/verify-email/(\d+)/(.+)/?$  /php/rewrite-worker.php?action=VERIFY_EMAIL&user_id=$1&email=$2 [R=301,L]


#-- react routing --#
RewriteEngine on
    Options -MultiViews
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ / [QSA,L]

#-- react routing alt --#
#    RewriteCond %{REQUEST_FILENAME} -f [OR]
#    RewriteCond %{REQUEST_FILENAME} -d
#    RewriteRule ^ - [L]
#    RewriteRule ^ index.html [L]

#-- react routing alt --#
#    RewriteBase /
#    RewriteRule ^index\.html$ - [L]
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} !-l
#    RewriteRule . /index.html [L]


#-- don't cache these --#
<IfModule mod_expires.c>
    <FilesMatch "\.(css|gifv?|html?|ico|jpe?g|js|json|map|mp4|mov|mpe?g|otf|pdf|php|svg|ttf|txt|xml)$">
        ExpiresActive On
        ExpiresDefault A1
        Header unset Cache-Control
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    </FilesMatch>
</IfModule>
