
RewriteEngine on
		#-- php redirects --#
		RewriteRule ^invite/(.*)$ /invite.php?email=$1 [R=301,P]
		RewriteRule ^verify/(\d+)$ /verify.php?user_id=$1 [R=301,P]

		#-- file downloads --# 
		# RewriteRule ^tryfree/?$ /app/DesignEngine.dmg [R=301,P]
    # RewriteRule ^tryfree/?$ /app/DesignEngine.dmg [L,R=301,NC]

		#-- react router fix --#
    Options -MultiViews
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ / [QSA,L]


#-- don't cache these --#
<IfModule mod_expires.c>
    <FilesMatch "\.(css|html?|ico|js|json|php)$">
        ExpiresActive On
        ExpiresDefault A1
        Header append Cache-Control must-revalidate
    </FilesMatch>
</IfModule>
