
.base-popover {
	z-index: 1000;
	width: fit-content;
	background-color: rgba(var(--modal-bg-color), 1.0);
	border-radius: var(--border-radius);
	box-shadow: var(--orthodox-shadow);
}

.base-popover[data-position="abs"] {
	position: absolute;
}

.base-popover[data-position="fixed"] {
	position: fixed;
}

.base-popover .content-wrapper {
	display: flex;
}

.base-popover .content-wrapper > * {
	padding: var(--spacing-20);
}
