
.base-popover {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: fit-content;
	background-color: var(--site-bg-color);
	border: 1px solid var(--border-color);
	border-radius: 8px;
}

.base-popover-content-wrapper {
	padding: 10px;
}
