
.base-popover {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: fit-content;
	background-color: rgba(var(--site-bg-color), 1.0);
	border: 1px solid rgba(var(--border-color), 1.0);
	border-radius: 10px;
}

.base-popover-content-wrapper {
}
