
.site-wrapper {
	width: 100%;
	height: 100vh;
}

.site-wrapper-dark {
	--site-bg-color: #1a1e23;
	--site-bg-rgb-color: 26, 30, 35;
	--site-fg-color: #f7f7f7;
	--btn-bg-color: #0067ff;
	--btn-fg-color: #ffffff;
	--btn-hover-bg-color: #0062eb;
	--btn-disabled-bg-color: #cccccc;
	--btn-disabled-fg-color: #7f7f7;
	--link-hover-color: #cccccc;
	--link-selected-color: #999999;
	--txtfield-bg-color: #cccccc;
	--border-color: #cecece;

	color: var(--site-fg-color);
	background-color: var(--site-bg-color);
}

.content-wrapper {
	position: relative;
	top: 58px;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.page-wrapper {
	width: 100%;
}

.page-intro-text p {
	margin-bottom: 70px;
	text-align: justify;
}

.page-content-wrapper {
}

.page-section-wrapper {
	line-height: 25px;
	text-align: justify;
}

.adjacent-button {
	margin-right: 20px;
}

.quiet-button {
	width: fit-content;
	min-width: fit-content;
	max-width: fit-content;
	padding: 8px 18px 10px 18px;
	border: 1px solid rgb(var(--quiet-btn-fg-rgb-color), 1.0);
	background-color: rgb(var(--quiet-btn-bg-rgb-color), 1.0);
	color: rgb(var(--quiet-btn-fg-rgb-color), 1.0);
	transition: background-color 0.125s ease-in;
}

.quiet-button:hover {
	border-color: var(--site-fg-color);
	background-color: var(--quiet-btn-hover-bg-color);
	color: var(--site-fg-color);
}

.quiet-button:disabled {
	border-color: rgb(var(--quiet-btn-fg-rgb-color), 0.5);
	background-color: rgb(var(--quiet-btn-hover-bg-color), 0.875);
	color: rgb(var(--quiet-btn-fg-rgb-color), 0.75);
}

.form-disclaimer {
	margin-top: 30px;
	font-size: 12px;
	line-height: 18px;
	/*text-decoration: underline;*/
}

.form-disclaimer::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	margin-top: calc((1 - 1.4) * 0.5em);
}

.form-disclaimer a:not(:hover) {
	text-decoration: underline;
}

.form-disclaimer a:hover {
	color: #666666;
	transition: color 0.125s ease-out;
}

.flex-wrapper {
	width: 100%;
	flex-wrap: wrap;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.txt-bold {
	font-weight: bold;
}

.txt-italics {
	font-style: italic;
}

.txt-strikethru {
	text-decoration: line-through;
}

.txt-underline {
	text-decoration: underline;
}

.is-hidden {
	display: none;
	visibility: hidden;
}


@media screen and (max-width: 800px) {
}


.debug-border {
	border: 1px dashed #ff00ff;
}
