
.desktop-site-wrapper, .mobile-site-wrapper {
  width: 100%;
	height: 100%;
}

.unsupported-browser {
	padding: 20px;
	text-align: center;
}

.content-wrapper {
	position: relative;
	top: 64px;
	left: 0;
	width: 100%;
	height: calc(100% - 64px);
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 20px;
}

.page-wrapper {
	width: 100%;
	/*min-height: calc(100% - 84px);*/
	/*margin-bottom: 30px; !* footer spacing *!*/
}

.page-header {
	width: calc(100% + 40px);
	height: 306px;
	margin: -20px -20px 20px -20px;
	background: #1a1b1d url(../../assets/images/backgrounds/bg-checkerboard.png) repeat;
}

h1.page-header-title {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.page-header-subtitle {
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 28px;
	letter-spacing: -1.47px;
	text-align: center;
	color: #005cc5;
}

.long-button {
	min-width: 100px;
	width: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.tiny-button {
	min-width: 38px;
	min-height: 38px;
	width: auto;
	height: auto;
	padding: 10px;
}


.aux-button, .aux-button:disabled, .aux-button:disabled:hover {
	background-color: #24c14d;
}

.aux-button:hover, .aux-button:active {
	background-color: #1d993c;
}

.aux-button:disabled, .aux-button:disabled:hover {
	/*background: #57aa48 linear-gradient(-180deg, #69cd58, #57aa48 90%) -0.5em;*/
	/*background-color: #62a854;*/
	color: #eef0f2;
	opacity : 0.5;
}

.destruct-button {
	background-color: #ff4646;
}

.destruct-button:hover {
	background-color: #d93d3d;
}

.destruct-button:disabled, .destruct-button:disabled:hover {
}

.adjacent-button {
	margin-right: 20px;
}

.adjacent-button-mobile {
	margin-right: 15px;
}

.stack-button {
	display: block;
	margin-bottom: 14px;
}

.page-link, .page-link a:any-link {
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 14px;
	letter-spacing: -0.26px;
	color: #abdafd;
	text-decoration: none;
}

.page-link:hover, .page-link a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-link-form {
}

.page-link-form-disabled, .page-link-form-disabled:hover {
	cursor: default;
	color: #8facbf;
	opacity : 0.5;
	text-decoration: none;
}

.input-wrapper {
	cursor: pointer;
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	width: 100%;
}

.input-wrapper-error {
	border: 1px solid #ff4646;
}

.input-wrapper-error input[type="text"], .input-wrapper-error input[type="password"], .input-wrapper-error input[type="tel"], .input-wrapper-error .input-txt, .input-wrapper-error .field-error {
	background-color: #1a1e23;
	color: #ff4646;
}

.input-wrapper-error .field-error {
	height: 53px;
	padding-top: 11px;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 16px;
	letter-spacing: -0.3px;
}

.input-wrapper-disabled, .input-wrapper-disabled:hover {
	cursor: not-allowed;
	opacity: 0.5;
}

.input-error {
	border: 1px solid #ff4646;
	background-color: #1a1e23;
	color: #ff4646;
}

.upload-progress-bar-wrapper {
	position: fixed;
	top: 64px;
	left: 0;
	width: 100%;
	height: 7px;
	z-index: 5;
}

.upload-progress-bar {
	width: 100%;
	height: 100%;
	background-color: #005cc5;
}

.flex-wrapper {
	width: 100%;
	flex-wrap: wrap;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.txt-bold {
	font-weight: bold;
}

.txt-italics {
	font-style: italic;
}

.txt-strikethru {
	text-decoration: line-through;
}

.txt-underline {
	text-decoration: underline;
}

.is-hidden {
	display: none;
	visibility: hidden;
}



.debug-border {
	border: 1px dashed #ff00ff;
}
