
.api-page-wrapper {
}

.api-topic-wrapper {
	margin-bottom: 40px
}

.api-page-paragraph {
	margin-bottom: 20px;
}

.api-page-url-box, .api-page-code-box {
	position: relative;
	width: 100%;
	padding: 13px;
	background-color: #fafbfc;
	border: 1px solid #eaecef;
	border-radius: 4px;
}

.api-page-code-box {
	border: 1px solid #111111;
	background-color: #111111;
}

.api-page-url {
}

.api-page-float-button {
	position: absolute;
	bottom: 11px;
	right: 11px;
	background: none #f2f2f2;
	border: none;
	width: 22px;
	height: 22px;
	padding: 0;
}

.api-page-float-button:hover {
	background: none #f2f2f2;
	border: none;
}