
.home-page-wrapper {
}

.home-page-upload-url {
	margin-top: 24px;
	font-size: 12px;
}

.home-page-project {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #3e3e3e;
	margin-bottom: 14px;
}

.home-page-project:hover {
	cursor: pointer;
}

.home-page-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.home-page-image-landscape {
	width: 100%;
}

.home-page-image-portrait {
	height: 100%;
}

.home-page-title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.875);
	padding: 28px;
}

.home-page-plugins-wrapper {
}

.home-page-form-wrapper {
	margin-bottom: 56px;
}