
.inspector-page-wrapper {
	margin: -20px -20px 75px -20px;
	width: calc(100% + 40px);
	height: calc(100% - 90px);
	display: table;
	background-color: #111111;
}

.inspector-page-content {
	width: calc(100% - 364px);
	height: 100%;
	display: table-cell;
	vertical-align: top;
}

.inspector-page-landing-button-wrapper {
	height: 100%;
	padding: 20px;
}


.inspector-page-landing-button {
	width: 120px;
	padding: 10px;
	margin-bottom: 10px;
}

.inspector-page-landing-button:hover {
}


.inspector-page-artboards-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background: #111111 url(../../images/backgrounds/bg-checkerboard.png) repeat;
	overflow: scroll;
	z-index: 1;
	-ms-touch-action: none;
	touch-action: none;
}

.inspector-page-caption {
	position : absolute;
	top       : -15px;
	left      : 0;
	width     : 100%;
	height    : 15px;
	font-size : 10px;
	color     : #00ff00;
}

.inspector-page-canvas-wrapper {
	position: fixed;
	top: -50px;
	left: -100px;
	z-index: 2;
	cursor: grab;
}

.inspector-page-hero-slices-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.inspector-page-background-wrapper {
	z-index: 4;
	width: 100%;
	height: 100%;
}

.inspector-page-hotspot-wrapper {
	z-index: 5;
	width: 100%;
	height: 100%;
}

.inspector-page-textfield-wrapper {
	z-index: 6;
	width: 100%;
	height: 100%;
}

.inspector-page-slice-wrapper {
	z-index: 7;
	width: 100%;
	height: 100%;
}

.inspector-page-zoom-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	margin: 12px;
	padding: 15px;
	z-index: 10;
	background-color: #000000;
	border-radius: 4px;
	opacity: 0.75;
}

.inspector-page-panel {
	max-width: 364px;
	width: 364px;
	height: 100%;
	display: table-cell;
	vertical-align: top;
	background-color: #111111;
}

.inspector-page-panel-content-wrapper {
	width: 100%;
	height: calc(50vh - 70px);
}

.inspector-page-panel-tab-wrapper {
	list-style: none;
	display: flex;
	padding: 0;
	margin : 0;
}

.inspector-page-panel-tab {
	background-color: #181818;
	padding: 15px 20px;
	white-space: nowrap;
	cursor: pointer;
	font-size: 12px;
}

.inspector-page-panel-tab-selected {
	border-bottom: 2px solid #68ca57;
	background-color: #2f3132;
}

.inspector-page-panel-tab-content-wrapper {
	overflow: auto;
	background-color: #202020;
	width: 100%;
	height: 100%
}

.inspector-page-panel-tab-content {
	width: 100%;
	font-family: "Roboto Mono", sans-serif;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 0.31px;
	color: #ffffff;
	padding: 8px;
	white-space: nowrap;
	overflow-wrap: break-word;
}

.inspector-page-panel-button-wrapper {
	padding: 0 8px;
}

.inspector-page-panel-button {
	width: 47%;
}

.inspector-page-panel-info-wrapper {
	width: 100%;
	font-family: "Roboto Mono", sans-serif;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 0.31px;
	color: #ffffff;
	line-height: 18px;
}

.inspector-page-panel-info-val {
	color: #0267d8;
}

.inspector-page-float-button {
	background: #000000 none;
	border: 1px dashed #7a7c7e;
	border-radius: 2px;
	width: 30px;
	height: 30px;
	padding: 6px;
	margin-bottom: 20px;
}

.inspector-page-float-button:hover {
	background: #1c1c1c none;
	border: 1px dashed #7a7c7e;
}

.inspector-page-float-button-image {
	width: 100%;
	height: 100%;
}

.inspector-page-tooltip {
	z-index: 1001;
	position: fixed;
	left: 50%;
	top: 80px;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	color: #ffffff;
	border-radius: 3px;
	background-color: #000000;
	padding: 6px;
	font-size: 14px;
	min-width: 80px;
	text-align: center;
}

.inspector-page-dz-wrapper {
	width: 100%;
	display: inline;
}



.slice-item {
	position: absolute;
	/*border: 1px solid rgba(0, 0, 0, 0.125);*/
	/*background-color: rgba(0, 0, 0, 0.125);*/
	zoom: 0;
}

.slice-item:hover {
	cursor: pointer;
}

.slice-item-slice-filled {
	background-color: rgba(255, 181, 18, 0.5);
}

.slice-item-hotspot-filled {
	background-color: rgba(62, 84, 255, 0.5);
}

.slice-item-textfield-filled {
	background-color: rgba(255, 88, 62, 0.5);
}

.slice-item-background-filled {
	background-color: rgba(62, 255, 109, 0.5);
}

.slice-item-plus {
	position: absolute;
	top: 2px;
	left: 2px;
	font-size: 40px;
	color: #ff9500;
	opacity: 0.75;
	display: none;
}


.comment-item {
	margin: 20px 0;
	display: table;
}

.comment-item-avatar {
	width: 73px;
	height: 73px;
	display: table-cell;
	margin: 0 10px 0 0;
	background-color: #fafbfc;
	border: 1px solid #eaecef;
	border-radius: 4px;
}

.comment-item-vote-wrapper {
	display: table-cell;
	vertical-align: top;
	text-align: center;
	padding: 0 4px 0 4px;
}

.comment-item-arrow {
	font-size: 14px;
}

.comment-item-arrow:hover {
	cursor: pointer;
}

.comment-item-arrow-voted {
	color: #0267D8;
}

.comment-item-score {
	padding: 8px 0;
}

.comment-item-content-wrapper {
	padding: 15px 4px;
	display: table-cell;
	vertical-align: top;
}

.comment-item-date {
	margin-bottom: 8px;
}

.comment-item-text {
}
