
.inspector-page-wrapper {
	margin: -20px -20px 0 -20px;
	width: calc(100% + 40px);
	height: calc(100% - 90px);
	display: table;
	background-color: #111111;
}

.inspector-page-content {
	width: calc(100% - 364px);
	height: 100%;
	display: table-cell;
	vertical-align: top;
}

.inspector-page-drag-wrapper {
}

.inspector-page-hero-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background: #111111 url("/images/checkerboard.png") repeat;
	overflow: scroll;
	z-index: 1;
}

.inspector-page-caption {
	position : absolute;
	top       : -15px;
	left      : 0;
	width     : 100%;
	height    : 15px;
	font-size : 10px;
}

.inspector-page-hero-canvas-wrapper {
	position: absolute;
	top: -50px;
	left: -100px;
	z-index: 2;
}

.inspector-page-hero-slices-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.inspector-page-background-wrapper {
	z-index: 4;
	width: 100%;
	height: 100%;
}

.inspector-page-hotspot-wrapper {
	z-index: 5;
	width: 100%;
	height: 100%;
}

.inspector-page-textfield-wrapper {
	z-index: 6;
	width: 100%;
	height: 100%;
}

.inspector-page-slice-wrapper {
	z-index: 7;
	width: 100%;
	height: 100%;
}

.inspector-page-zoom-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	margin: 12px;
	padding: 15px;
	z-index: 10;
	background-color: #000000;
	border-radius: 4px;
}

.inspector-page-toggle-wrapper {
	position: absolute;
	top: 0;
	right: 364px;
	margin: 12px;
	padding: 15px;
	z-index: 10;
	background-color: #000000;
	border-radius: 4px;
}

.inspector-page-button-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	display: none;
}

.inspector-page-button {
	background: #000000 none;
	border: 2px solid #262626;
	width: 100%;
}

.inspector-page-button:hover {
	background: #1c1c1c none;
	border: 2px solid #444;
}

.inspector-page-panel {
	width: 364px;
	height: 100%;
	display: table-cell;
	vertical-align: top;
	background-color: #202020;
}

.inspector-page-panel-content-wrapper {
	height: 50vh;
	padding: 20px;
}

.inspector-page-zoom-button {
	padding: 8px 8px;
	margin: 0 0 4px 10px;
}

.inspector-page-zoom-button-disabled {
	cursor: default;
	background-color: #3e3e3e;
}

.inspector-page-panel-info-wrapper {
	width: 100%;
	font-family: "Roboto Mono", sans-serif;
	font-size: 10px;
	letter-spacing: 0.31px;
	color: #ffffff;
	line-height: 18px;
}

.inspector-page-panel-info-val {
	color: #0267d8;
}

.inspector-page-panel-code-wrapper {
	position: relative;
	height: 100%;
}

.inspector-page-panel-code {
	height: 100%;
	padding: 14px;
	font-size: 12px;
}

.inspector-page-copy-code-button {
	position: absolute;
	bottom: 0;
	right: 20px;
	z-index: 2;
}

.inspector-page-float-button {
	background: #000000 none;
	border: 1px dashed #7a7c7e;
	border-radius: 2px;
	width: 30px;
	height: 30px;
	padding: 6px;
	margin-bottom: 20px;
}

.inspector-page-float-button:hover {
	background: #1c1c1c none;
	border: 1px dashed #7a7c7e;
}


.inspector-page-float-button-image {
	width: 100%;
	height: 100%;
}