
.inspector-page-wrapper {
	margin: -20px 0 0 -20px;
	width: calc(100% + 40px);
	height: calc(100% + 20px);
	display: table;
	background-color: #111111;
}

.inspector-page-content {
	width: calc(100% - 364px);
	height: 100%;
	display: table-cell;
	vertical-align: top;
}

.inspector-page-artboards-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background: #111111 url(../../assets/images/backgrounds/bg-checkerboard.png) repeat;
	overflow: scroll;
	z-index: 1;
	cursor: crosshair;
	-ms-touch-action: none;
	touch-action: none;
}

.inspector-page-artboards-wrapper-scrolling, .inspector-page-artboards-wrapper:active {
	cursor: move;
}

.inspector-page-artboard-caption {
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 15px;
	font-size: 10px;
	color: #00ff00;
}

.inspector-page-canvas-wrapper {
	position: fixed;
	top: -50px;
	left: -100px;
	z-index: 2;
	/*background-color: rgba(255, 0, 255, 0.33);*/
}

.inspector-page-slices-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.inspector-page-group-slice-wrapper {
	z-index: 4;
	width: 100%;
	height: 100%;
}

.inspector-page-hotspot-slice-wrapper {
	z-index: 5;
	width: 100%;
	height: 100%;
}

.inspector-page-textfield-slice-wrapper {
	z-index: 6;
	width: 100%;
	height: 100%;
}

.inspector-page-slice-slice-wrapper {
	z-index: 7;
	width: 100%;
	height: 100%;
}

.inspector-page-floating-url-button {
	z-index: 2;
	position: fixed;
	left: 50%;
	top: 70px;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	padding: 6px 20px;
	background: #000000 none;
	border: 1px dashed #7a7c7e;
	border-radius: 4px;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: -0.24px;
}

.inspector-page-floating-url-button:hover, .inspector-page-floating-url-button:active {
	background: #1c1c1c none;
	border: 1px dashed #7a7c7e;
}

.inspector-page-floating-url-button:active {
	color: #eaecef;
}

.inspector-page-zoom-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	margin: 12px;
	padding: 15px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 4px;
}

.inspector-page-zoom-button, .inspector-page-zoom-button:disabled, .inspector-page-zoom-button:disabled:hover {
	background: #000000 none;
	border: 1px dashed #7a7c7e;
	border-radius: 2px;
	width: 30px;
	height: 30px;
	padding: 6px;
	margin-bottom: 20px;
}

.inspector-page-zoom-button:hover {
	background: #1c1c1c none;
	border: 1px dashed #7a7c7e;
}


.inspector-page-zoom-button-image {
	width: 100%;
	height: 100%;
}

.inspector-page-modal-button-wrapper {
	position: absolute;
	left: 0;
	bottom: 24px;
	margin: 12px;
	z-index: 10;
}

.inspector-page-invite-modal-wrapper {
	text-align: left;
}

.inspector-page-processing-spinner {
	width: 28px;
	height: 28px;
	margin-bottom: 8px;
}

.inspector-page-invite-modal-message {
	width: 100%;
	margin-bottom: 25px;
	font-size: 14px;
	text-align: center;
}

.inspector-page-modal-button {
	margin: 20px 0;
}

.inspector-page-panel {
	width: 364px;
	max-width: 364px;
	max-height: calc(100vh - 57px);
	display: table-cell;
	vertical-align: top;
	background-color: #111111;
}

.inspector-page-panel-full-content-wrapper {
	width: 100%;
	height: calc(100vh - 104px);
	overflow: hidden;
}

.inspector-page-panel-split-content-wrapper {
	width: 100%;
	height: calc(50vh - 76px);
}

.inspector-page-panel-tab-wrapper {
	list-style: none;
	display: flex;
	padding: 0;
	margin : 0;
	height: 46px;
	overflow-x: auto;
}

.inspector-page-panel-tab {
	background-color: #181818;
	padding: 15px 20px;
	cursor: pointer;
	font-size: 12px;
}

.inspector-page-panel-tab-selected {
	border-bottom: 2px solid #68ca57;
	background-color: #2f3132;
}

.inspector-page-panel-tab-content-wrapper {
	background-color: #202020;
	width: 100%;
	height: calc(100% - 46px);
}

.inspector-page-panel-tab-content {
	width: 100%;
	height: 100%;
	padding: 8px;
	font-family: "Roboto Mono", Monaco, Consolas, monospace;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 0.31px;
	color: #ffffff;
	word-break: break-all;
	overflow: auto;
}

.inspector-page-panel-button-wrapper {
	padding: 4px 4px;
}

.inspector-page-panel-button {
	width: 100%;
}

.inspector-page-tooltip {
	z-index: 10;
	position: fixed;
	left: 50%;
	top: 80px;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	color: #ffffff;
	border-radius: 3px;
	background-color: #000000;
	padding: 6px;
	font-size: 14px;
	min-width: 80px;
	text-align: center;
}


.inspector-page-specs-list-wrapper {
	width: 100%;
	font-family: "Roboto Mono", Monaco, Consolas, monospace;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 0.31px;
	color: #ffffff;
	line-height: 18px;
}

.inspector-page-specs-list-val {
	color: #0267d8;
}


.slice-rollover-item {
	position: absolute;
	zoom: 0;
}

.slice-rollover-item:hover {
	cursor: pointer;
}

.slice-rollover-item-slice-filled {
	border: 1px dashed rgba(255, 181, 18, 0.5);
	/*background-color: rgba(255, 181, 18, 0.5);*/
}

.slice-rollover-item-hotspot-filled {
	border: 1px dashed rgba(62, 84, 255, 0.5);
	/*background-color: rgba(62, 84, 255, 0.5);*/
}

.slice-rollover-item-textfield-filled {
	border: 1px dashed rgba(255, 88, 62, 0.5);
	/*background-color: rgba(255, 88, 62, 0.5);*/
}

.slice-rollover-item-group-filled {
	border: 1px dashed rgba(62, 255, 109, 0.5);
	/*background-color: rgba(62, 255, 109, 0.5);*/
}


.parts-list-wrapper {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 8px 0;
}


.part-item {
	margin: 0 8px;
	padding: 10px 0;
	border-bottom: 1px solid #2f3132;
}

.part-item:nth-child(even) {
	background-color: #262626;
}

.part-item:first-child {
	padding-top: 0;
}

.part-item:last-child {
	border-bottom: none;
}

.part-item-image {
	width: 25%;
	height: 25%;
	margin-right: 20px;
	padding: 4px;
	background: #111111 url(../../assets/images/backgrounds/bg-checkerboard.png) repeat;
}

.part-item-title {
	width: 100%;
	color: #0267d8;
	font-size: 12px;
	letter-spacing: -0.23px;
}

.part-item-button {
	margin-right: 2px;
	font-size: 10px;
}
