
.inspector-page-wrapper {
	margin: -20px;
	width: calc(100% + 40px);
	height: calc(100% - 90px);
	/*margin-bottom: 78px;*/
	display: table;
}

.inspector-page-content {
	width: calc(100% - 300px);
	height: 100%;
	display: table-cell;
	vertical-align: top;
	padding: 20px 20px 78px 20px;
}

.inspector-page-title {
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0 40px 0;
}

.inspector-page-drag-wrapper {
}

.inspector-page-hero-wrapper {
	position: relative;
	width: 100%;
	height: 600px;
	background-color: #111111;
	overflow: hidden;
}

.inspector-page-hero-slice-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.inspector-page-hero-canvas-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.inspector-page-zoom-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	z-index: 4;
}

.inspector-page-toggle-wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
	z-index: 4;
}

.inspector-page-download-button {
	width: 100%;
	margin: 20px 0;
}

.inspector-page-add-button {
	width: 100%;
	margin: 0 0 40px 0;
}

.inspector-page-comment-wrapper {
	width: 100%;
}

.inspector-page-comment-txt {
	height: 125px;
	padding: 10px;
}

.inspector-page-comment-button {
	margin-top: 20px;
}

.inspector-page-panel {
	width: 364px;
	height: 100%;
	display: table-cell;
	vertical-align: top;
	font-weight: 200;
	background-color: #fafbfc;
	border-left: 1px solid #eaecef;
}

.inspector-page-panel-content-wrapper {
	padding: 20px;
	border-bottom: 1px solid #eaecef;
}

.inspector-page-panel-display {
	position: relative;
	width: 100%;
	height: 323px;
	background-image: url("/images/checkerboard.png");
	overflow: hidden;
}

.inspector-page-panel-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	object-fit: contain;
	font-family: "AndaleMono", monospace;
	font-size: 10px;
	color: #000000;
	max-width: 98%;
	max-height: 98%;
}

.inspector-page-zoom-button {
	padding: 8px 8px;
	margin: 0 0 4px 10px;
}

.inspector-page-zoom-button-disabled {
	cursor: default;
	background-color: #3e3e3e;
}

.inspector-page-panel-image {
	/*border: 2px solid #00ff00;*/
	border-radius: 2px;
	/*background-color: rgba(0, 0, 0, 0.25);*/
}

.inspector-page-panel-image-artboard {
	border: none;
	background: none;
}

.inspector-page-panel-image-landscape {
	width: 95%;
}

.inspector-page-panel-image-portrait {
	height: 95%;
}

.inspector-page-panel-image-slice {
	background-color: rgba(255, 127, 0, 0.25);
	border: 1px solid rgba(255, 127, 0, 0.5);
}

.inspector-page-panel-image-hotspot {
	background-color: rgba(0, 255, 0, 0.25);
	border: 1px solid rgba(0, 255, 0, 0.5);
}

.inspector-page-panel-image-textfield {
	background-color: rgba(0, 0, 255, 0.25);
	border: 1px solid rgba(0, 0, 255, 0.5);
}

.inspector-page-panel-image-background {
	background-color: rgba(255, 0, 0, 0.25);
	border: 1px solid rgba(255, 0, 0, 0.5);
}

.inspector-page-panel-button-wrapper {
	width: 100%;
	margin-top: 20px;
}

.inspector-page-panel-info-wrapper {
	width: 100%;
	line-height: 26px;
}

.inspector-page-panel-info-val {
	color: #0267d8;
}

.inspector-page-panel-code-wrapper {
	position: relative;
}

.inspector-page-panel-code {
	min-height: 150px;
	padding: 14px;
}

.inspector-page-copy-code-button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 2;
}

.inspector-page-float-button {
	background: #f2f2f2 none;
	border: 1px solid #7a7c7e;
	border-radius: 8px;
	width: 50px;
	height: 50px;
	padding: 12px;
}

.inspector-page-float-button:hover {
	background: #f2f2f2 none;
	border: 1px solid #7a7c7e;
}


.inspector-page-float-button-image {
	width: 100%;
	height: 100%;
}