
.logged-out-page-wrapper {
	display: table;
	width: 100%;
}

.logged-out-page-column-left {
	width: 56%;
	display: table-cell;
	margin-right: 20px;
}

.logged-out-page-column-right {
	width: 44%;
	display: table-cell;
}