
.mission-page-wrapper {
}

.mission-page-title {
	margin-bottom: 20px;
}

.mission-page-reviews-wrapper {
	margin: 20px 0;
}

.mission-page-column-left {
	width: 56%;
	display: table-cell;
	margin-right: 60px;
}

.mission-page-column-right {
	width: 44%;
	display: table-cell;
}


.review-item {
	width: 260px;
	height: 350px;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
	background-color: #fafbfc;
	border: 1px solid #eaecef;
	border-radius: 4px;
	font-family: "San Francisco Text", sans-serif;
	font-size: 18px;
}

.review-item-image {
	width: 98px;
	height: 98px;
	border-radius: 50%;
}

.review-item-text {
	margin-top: 26px;
}

.review-item-quote:before {
	content: "“";
}

.review-item-quote:after {
	content: "”";
}

.review-item-author {
	margin-top: 20px;
	font-family: "San Francisco Text Bold", sans-serif;
	color: #0267d8;
	text-decoration: underline;
}

.review-item-author:hover {
	cursor: pointer;
	text-decoration: none;
}