
.profile-page-wrapper {
}

.profile-page-form-wrapper {
	width: 33%;
}

.profile-page-avatar-wrapper {
	margin-bottom: 20px;
}

.profile-page-avatar-image {
	width: 58px;
	height: 58px;
	margin-right: 20px;
	border: 1px solid #eaecef;
	border-radius: 4px;
	background: #fafbfc url(../../assets/images/avatars/avatar-default.png) no-repeat center;
	background-size: cover;
	cursor: copy;
}

.profile-page-dz-wrapper {
}
