
.rate-this-page-wrapper {
}

.rate-this-page-star-wrapper {
	margin-bottom: 20px;
}

.rate-this-star-item {
	padding-right: 20px;
	font-size: 30px;
	color: #24282e;
}

.rate-this-star-item:hover {
	cursor: pointer;
}

.rate-this-star-item:last-child {
	padding-right: 0;
}

.rate-this-star-item-filled {
	color: #2288fb;
}

.rate-this-comment-text {
	width: 100%;
	height: 68px;
}

.rate-this-page-form-wrapper {
	width: 50%;
}

.rate-this-page-list-wrapper {
	width: 50%;
	margin-top: 20px;
}

.rate-item {
	width: 100%;
	padding: 10px 0;
	font-family: "San Francisco Text Medium", sans-serif;
	font-weight: 500;
	letter-spacing: -0.3px;
	color: #abdafd;
}

.rate-item:nth-child(even) {
	/*background-color: #24282e;*/
}

.rate-item:not(:last-child) {
	border-bottom: 1px solid #24282e;
}

.rate-item-image {
	width: 40px;
	height: 40px;
}

.rate-item-star {
	margin-right: 10px;
	font-size: 14px;
	color: #24282e;
}

.rate-item-star:last-child {
	margin-right: -20px;
}

.rate-item-star-filled {
	color: #2288fb;
}

.rate-item-column {
	padding-right: 20px;
}

.rate-item-column:last-child {
	text-align: right;
	margin-right: 0;
}

.rate-item-column-index {
	min-width: 36px;
	width: 36px;
	max-width: 36px;
}

.rate-item-column-avatar {
}

.rate-item-column-username {
}

.rate-item-column-score {
}
