
.upload-page-wrapper {
	margin-bottom: 50px;
}

.upload-page-progress-wrapper {
	position: fixed;
	top: 58px;
	left: 0;
	width: calc(100% + 301px);
	height: 6px;
	z-index: 10;
}

.upload-page-progress {
	height: 100%;
	background-color: #68ca57;
}

.upload-page-header-dz {
	cursor: copy;
}

.upload-page-icon {
	width: 50px;
	height: 50px;
	margin: 20px 0 23px 0;
}

.upload-page-form-wrapper {
	width: 100%;
	margin-top: 30px;
}

.upload-page-dz-wrapper {
	position: relative;
	width: 100%;
}

.upload-page-artboards-wrapper {
	margin-top: 25px;
}

.upload-page-radio-wrapper {
	margin-top: 30px;
}

.upload-page-invite-wrapper {
	margin-top: 20px;
}

.upload-page-more-link {
	margin: 0 0 20px 20px;
	color: #0267D8;
	text-decoration: underline;
}

.upload-page-more-link:hover {
	text-decoration: none;
	cursor: pointer;
}

.upload-page-more-link-hidden, .upload-page-more-link-hidden:hover {
	text-decoration: none;
	cursor: none;
	color: #ffffff
}