
.upload-page-wrapper {
	/*margin-top: -20px;*/
}

.upload-page-progress-wrapper {
	position: fixed;
	top: 58px;
	left: 0;
	width: calc(100% + 300px);
	height: 6px;
	z-index: 10;
}

.upload-page-progress {
	height: 100%;
	background-color: #61be51;
}

.upload-page-header-dz {
	cursor: copy;
}

.upload-page-icon {
	width: 48px;
	height: 48px;
	margin-top: 20px;
}

.upload-page-form-wrapper {
	width: 100%;
	margin-top: 30px;
}

.upload-page-dz-wrapper {
	position: relative;
	width: 100%;
}
