
.playground-comments-panel {
	position: fixed;
	top: calc(var(--spacing-05) * -1);
	right: 0;
	width: var(--playground-comments-width);
	height: 100%;
	overflow-y: auto;
	background-color: rgba(var(--playground-panel-bg-color), 1.0);
	border-left: 1px solid rgba(var(--border-alt-color), 1.0);
	transition: width 333ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 2;
}

.playground-page[data-component="true"] .playground-comments-panel {
	z-index: 1;
}

.playground-comments-panel[data-collapsed="true"] {
	transition: width 250ms ease-out;
}

.comments-panel-item-wrapper {
	width: 100%;
	opacity: 1;
	transition: opacity 250ms 333ms ease-out; /* intro */
}


.playground-comments-panel[data-collapsed="true"] .comments-panel-item-wrapper {
	opacity: 0;
	transition: opacity 75ms ease-in; /* outro */
}