
.playground-comments-panel {
	position: fixed;
	top: 0;
	right: 0;
	width: var(--playground-comments-width);
	height: 100%;
	padding: 20px 0 0 0;
	background-color: var(--playground-panel-bg-color);
	border-left: 1px solid var(--border-color);
	transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
	overflow-y: auto;
	/*border: 1px dotted #ff00ff;*/
}

.playground-comments-panel-collapsed {
}

.playground-comments-panel-collapsed > * {
	visibility: hidden;
}