
.playground-comments-panel {
	position: fixed;
	top: calc(var(--orthodox-margin-mini) * -1);
	right: 0;
	width: var(--playground-comments-width);
	height: 100%;
	overflow-y: auto;
	background-color: rgba(var(--playground-panel-bg-color), 1.0);
	border-left: 1px solid rgba(var(--border-alt-color), 1.0);
	transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 2;
}

.playground-comments-panel[data-collapsed="true"] > * {
	visibility: hidden;
}

.comments-panel-item-wrapper {
	width: 100%;
}
