
.mobile-menu {
}

/*.mobile-menu > * {*/
	/*margin: auto;*/
/*}*/

.derp-derp {
	flex: 10 0 0;
}

.mobile-menu-header {
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;;
	align-items: flex-end;;
	text-align: right;
}

.mobile-menu-header:hover {
	color: rgba(var(--link-hover-color), 1.0);
	cursor: pointer;
}

.mobile-menu-header-open .mobile-menu-header-title {
	color: var(--site-fg-color);
	font-weight: var(--orthodox-font-weight);
}

.mobile-menu-header-title {
	/*flex: 1 0 0;*/
	/*padding: 0 10px;*/
	width: fit-content;
}

.mobile-menu-item-wrapper {
	display: none;
	position: absolute;
	top: 44px;
	right: 0;
	padding: var(--spacing-05) var(--spacing-20);
	text-align: right;
	background-color: rgba(var(--site-bg-color), 0.975);
	/*border-top: 1px solid rgba(var(--border-color), 0.975);*/
}

.mobile-menu-item-wrapper-open {
	display: block;
}


.mobile-menu-item {
	margin-bottom: var(--spacing-10);
}

.mobile-menu-item:last-child {
	margin-bottom: 0;
}
