
.integrations-modal-wrapper {
	padding: 20px;
	background-color: #1a1e23;
}

.integrations-modal-header {
	width: 100%;
	margin: 20px 0;
	padding-bottom: 25px;
	border-bottom: 1px solid #24282e;
}

.integrations-modal-header h1 {
	line-height: 0;
}

.integrations-modal-content-wrapper {
}

.integrations-modal-button-wrapper {
	width: 100%;
	text-align: left;
}


.integrations-modal-grid {
	width: 100%;
}

.integrations-modal-grid-item-wrapper {
	margin: 8px -10px 0 -10px;
}


.integrations-modal-grid-item {
	position: relative;
	width: 160px;
	height: 200px;
	background-color: #24282e;
	margin: 0 10px 20px 10px;
	overflow: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.integrations-modal-grid-item:hover {
	cursor: pointer;
}

.integrations-modal-grid-item-selected, .integrations-modal-grid-item-selected:hover {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}

.integrations-modal-grid-item-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	border: 1px solid rgba(36, 40, 46, 0.0);
	opacity: 0;
	transition: opacity 0.125s ease-out;
}

.integrations-modal-grid-item:hover .integrations-modal-grid-item-overlay {
	opacity: 0.25;
	border: 1px solid #24282e;
}

.integrations-modal-grid-item-selected .integrations-modal-grid-item-overlay, .integrations-modal-grid-item-selected:hover .integrations-modal-grid-item-overlay {
	opacity: 0.33;
	border: 1px solid #24282e;
}

.integrations-modal-grid-item-image {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	object-fit: scale-down;
	width: 50%;
	height: 50%;
}

.integrations-modal-grid-item-title-wrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

.integrations-modal-grid-item-title {
	width: 100%;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 16px;
	letter-spacing: -0.3px;
	color: #c8e1fd;
}

.integrations-modal-grid-item-selected-icon {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	opacity: 0;
	color: #7ed321;
	transition: opacity 0.125s ease-out;
}

.integrations-modal-grid-item-selected-icon-visible {
	opacity: 1;
}
