
.project-page {
	--project-comments-width: 0px;
}

.project-page[data-comments="true"] {
	--project-comments-width: 288px;
}

.project-page .view-wrapper {
	position: fixed;
	/* top: 64px; */
	/* left: var(--left-nav-width); */
	width: calc(100vw - (var(--left-nav-width) + var(--project-comments-width)));
	height: calc(100vh - 64px);
	transition: width var(--transition-duration-long) var(--transition-duration-short) cubic-bezier(0.4, 0, 0.2, 1), height var(--transition-duration-long) var(--transition-duration-short) cubic-bezier(0.4, 0, 0.2, 1);
}

.project-page[data-comments="true"] .view-wrapper {
	transition: width var(--transition-duration-long) cubic-bezier(0.4, 0, 0.2, 1), height var(--transition-duration-long) cubic-bezier(0.4, 0, 0.2, 1);
}

.project-views-grid {
  display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
	width: 100%;
}

.project-views-grid > * {
	display: flex;
	flex-flow: column nowrap;
	width: 226px;
  height: 180px;
  margin-bottom: 20px;
  background-color: #cccccc;
}

.project-views-grid > *:hover {
	cursor: pointer;
	filter: brightness(75%);
}
