
.project-page {
	--project-comments-width: 0px;
}

.project-page[data-comments="true"] {
	--project-comments-width: 288px;
}

.project-page .view-wrapper {
	position: fixed;
	/* top: 64px; */
	/* left: var(--left-nav-width); */
	width: calc(100vw - (var(--left-nav-width) + var(--project-comments-width)));
	height: calc(100vh - 64px);
	transition: width var(--transition-duration-long) var(--transition-duration-short) cubic-bezier(0.4, 0, 0.2, 1), height var(--transition-duration-long) var(--transition-duration-short) cubic-bezier(0.4, 0, 0.2, 1);
}

.project-page[data-comments="true"] .view-wrapper {
	transition: width var(--transition-duration-long) cubic-bezier(0.4, 0, 0.2, 1), height var(--transition-duration-long) cubic-bezier(0.4, 0, 0.2, 1);
}

.project-views-grid {
  display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
	width: 100%;
}

.project-views-grid > * {
	display: flex;
	flex-flow: column nowrap;
	width: 226px;
  height: 180px;
  margin-bottom: 20px;
  background-color: #cccccc;
}

.project-views-grid > *:hover {
	cursor: pointer;
	filter: brightness(75%);
}


.project-page-footer {
	position: fixed;
	bottom: 0;
	left: var(--left-nav-width);
	width: calc(100vw - (var(--left-nav-width) + var(--project-comments-width)));
	display: flex;
	align-items: flex-start; /* v-align */
	padding: 0 var(--spacing-20) var(--spacing-20) var(--spacing-20);
	border-top: 1px solid #999999;
	transition: width var(--transition-duration-mid) cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 2;
}

.project-page .view-wrapper .view-item-wrapper {
	position: relative;
}

.view-item-comments-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	/* width: 100%; */
	/* height: 100%; */
	display: flex;
	border: 1px dotted #ff00ff;
}

.project-view-item {
	width: 100%;
	height: 1080px;
	background-color: #cccccc;
}

.project-page-comments-list {
	position: fixed;
	top: 64px;
	right: 0;
	width: var(--project-comments-width);
	height: 100%;
	overflow-y: auto;
	background-color: rgba(var(--playground-panel-bg-color), 1.0);
	transition: width var(--transition-duration-long) var(--transition-duration-mid) cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 2;
}

.project-page-comments-list-comment {
	margin: 20px;
}

.project-page-comments-list-comment:not(:last-child) {
	padding-bottom: 20px;
	border-bottom: 1px solid #999999;
}

.project-page-comments-list-comment:last-child {
	padding-bottom: 0px;
}