
.user-settings {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.user-settings-avatar-ico {
	opacity: 0.875;
	transition: opacity 0.125s ease-out;
}

.user-settings-avatar-ico:hover {
	cursor: pointer;
	opacity: 1;
}


.user-settings-popover {
	width: 188px;
	background-color: #ffffff;
	border-radius: var(--border-radius);
}

.user-settings-popover > * {
	width: 100%;
	padding: var(--orthodox-padding-less) var(--orthodox-padding-base);
	border-bottom: 1px solid rgba(var(--border-color), 1.0);
	color: rgba(var(--link-color), 1.0);
	transition: color 125ms ease-in;
}

.user-settings-popover > *:hover {
	cursor: pointer;
	color: rgba(var(--link-hover-color), 1.0);
}

.user-settings-popover > *:last-child {
	border-bottom: none;
}

.user-settings-popover-item > a {
	/*width: 100%;*/
	display: flex;
}
