
.comments-panel-item {
	width: 100%;
	border-bottom: 1px solid rgba(var(--border-alt-color), 1.0);
	/* border-right: 0px solid rgba(var(--border-color), 0.0); */
	
	/* transition: border 333ms ease-in; */
}

/* .comments-panel-item[data-selected="true"] {
	border-right: 8px solid rgba(var(--border-color), 0.5);
	transition: border 250ms ease-out;
} */

.comments-panel-item:last-child {
	border-bottom: none;
}
