
.login-modal {
	max-width: 316px;
}

.login-modal-header-wrapper {
	width: 100%;
}

.login-modal-header-logo {
	width: 100px;
	margin-bottom: 20px;
}

.login-modal-content-wrapper {
	width: 100%;
	min-width: 100%;
}

.login-modal-footer-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.login-modal-footer-wrapper > * {
	margin: auto;
	flex: 1 0 0;
	/*border: 1px dotted #ff00ff;*/
}
