
.login-modal-wrapper {
	min-width: 480px;
	height: 80%;
	padding: 20px;
	background-color: #1a1e23;
}

.login-modal-header {
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #24282e;
}

.login-modal-content-wrapper .login-form-wrapper {
	width: 100%;
	min-width: 100%;
}
