
.login-modal {
	max-width: 360px;
	margin-top: 20px;
	padding: 0 20px;
}

.login-modal-header-wrapper {
	width: 100%;
	margin-bottom: 30px;
}

.login-modal-content-wrapper {
	width: 100%;
	min-width: 100%;
}

.login-modal-footer-wrapper {
	width: 100%;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.login-modal-footer-wrapper > * {
	margin: auto;
	/*border: 1px dotted #ff00ff;*/
	flex: 1 0 0;
}

.login-modal-footer-link {
	width: fit-content;
	font-size: 12px;
	color: rgba(var(--link-color), 1.0);
	text-decoration: underline;
	transition: color 0.125s ease-out;
}

.login-modal-footer-link:hover {
	text-decoration: none;
	color: rgba(var(--link-hover-color), 1.0);
	cursor: pointer;
}