.devices-popover {
	min-width: 258px;
	padding: var(--spacing-20);
	border-radius: var(--border-radius);
}

.devices-popover .device-item-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}


.devices-popover .device-item:not(:last-child) {
  width: 100%;
	margin-bottom: var(--spacing-10);
	/* border-bottom: 1px solid rgba(var(--border-color), 1.0); */
	opacity: 1;
	transition: opacity 125ms 175ms ease-in;
}

.devices-popover .device-item:hover {
	cursor: pointer;
}

.devices-popover .device-item[data-selected="true"] {
	cursor: default;
}

.devices-popover .device-item-title {
  font-size: 14px;
	line-height: 20px;
	color: rgba(var(--link-color), 1.0);
	text-align: justify;
	transition: color 0.125s ease-out;
}

.devices-popover .device-item:hover .device-item-title {
	color: rgba(var(--link-hover-color), 1.0);
}

.devices-popover .device-item[data-selected="true"] .device-item-title {
	font-weight: 600;
}

.devices-popover .device-item[data-selected="true"]:hover .device-item-title {
	color: rgba(var(--link-color), 1.0);
}
