
.alert-dialog-content {
	min-width: 320px;
	max-width: 520px;
	text-align: left;
	line-height: 20px;
}

.alert-dialog-button-wrapper {
	margin-top: 20px;
}

.alert-dialog-button-wrapper > button {
	width: 50%;
}
