
.base-overlay-wrapper {
	z-index: 2000;
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

.base-overlay-content-wrapper {
	position: fixed;
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 85%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 2002;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 2px;
	padding: 15px;
	background-color: #ffffff;
	text-align: center;
	color: #9b9b9b;
	box-shadow: 3px 3px 10px #1a1b1d;
}

.base-overlay-content-wrapper-unblurred {
	background-color: rgba(0, 0, 0, 0.0);;
	box-shadow: none;
}

.base-overlay-content-wrapper-auto {
}

.base-overlay-content-wrapper-fixed {
	overflow-y: hidden;
}

.base-overlay-content-wrapper-percent {
	width: 50%;
}

.base-overlay-header-wrapper {
	display: table;
	width: 100%;
	margin: -10px 0 10px -5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eaecef;
	font-family: "San Francisco Text SemiBold", sans-serif;
	font-size: 16px;
	letter-spacing: -0.24px;
	color: #1c1c1c;
}

.base-overlay-title {
	display: table-cell;
	text-align: left;
	padding-right: 20px;
}

.base-overlay-close-button {
	display: table-cell;
	min-width: 0;
	min-height: 0;
	margin-right: -10px;
	padding: 3px 8px;
	font-size: 11px;
}

.base-overlay-content {
	height: 100%;
	line-height: 24px;
}

.base-overlay-button-wrapper {
	margin-top: 20px;
}

.base-overlay-button {
	padding: 6px 4px;
	max-width: 80px;
	height: auto;
	font-family: "San Francisco Text SemiBold", sans-serif;
	font-size: 14px;
	letter-spacing: -0.3px;
}
