
.playground-accessibility {
	padding: 58px 20px 68px 20px;
	max-width: calc(100vw - var(--playground-nav-width));
	overflow: hidden;
}

.playground-accessibility-tree-item-wrapper, .playground-accessibility-tree-item-wrapper .accessibility-tree-item-child-wrapper {
	position: relative;
}


.playground-accessibility-tree-item-wrapper .accessibility-tree-item  {
	margin: 0;
	padding: 0 12px;
	position: relative;
}

.accessibility-tree-item::before, .accessibility-tree-item::after {
	content: '';
	position: absolute;
	left: 0;
}

.accessibility-tree-item::before {
	top: 10px;
	width: 10px;
	height: 0;
	border-top: 1px solid rgb(var(--border-color), 1.0);
}

.playground-accessibility-tree-item-wrapper > .accessibility-tree-item:first-child::before {
	border: none;
}

.accessibility-tree-item::after {
	top: -10px;
	height: 100%;
	width: 0;
	border-left: 1px solid rgb(var(--border-color), 1.0);
}

.playground-accessibility-tree-item-wrapper > .accessibility-tree-item::after {
	top: 10px;
}

.playground-accessibility-tree-item-wrapper > .accessibility-tree-item:last-child::after {
	display: none;
}

.playground-accessibility-tree-item-wrapper .accessibility-tree-item-child-wrapper:last-child .accessibility-tree-item:last-child::after {
	height: 20px;
}

.accessibility-tree-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.accessibility-tree-item > div {
	flex: 1 1 auto;
	/*margin: auto;*/
}

.accessibility-tree-item-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 1px;
}

.accessibility-tree-item-thumb-wrapper {
	margin-right: 10px;
	max-width: 100px;
	max-height: 100px;
	background-color: rgba(var(--playground-panel-bg-color), 1.0);
}

.accessibility-tree-item-thumb-wrapper > img {
	max-width: 100px;
	width: 100%;
	max-height: 100px;
	object-fit: scale-down;
	object-position: 50% 50%;
}

.accessibility-tree-item-aria-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}

.accessibility-tree-item-aria-wrapper > * {
	margin: auto;
	border: 1px solid #ff00ff;
}

.accessibility-tree-item-rules-wrapper {
	flex: 4 4 auto;
}

.accessibility-tree-item-rules-wrapper > * {
	margin: auto;
	flex: 1 1 auto;
}

.accessibility-tree-item-rules {
	padding: 2px;
}

.accessibility-tree-item-rules-failed {
	background-color: rgba(var(--invalid-bg-color), 1.0);
	color: rgba(var(--invalid-fg-color), 1.0);
	border: 1px solid rgba(var(--invalid-border-color), 0.5);
}

.accessibility-tree-item-rules-passed {
}

.accessibility-tree-item-rules-aborted {
	background-color: rgba(var(--btn-disabled-fg-color), 1.0);
	color: rgba(var(--txtfield-disabled-fg-color), 1.0);
	border: 1px solid rgba(var(--border-color), 0.5);
}

.accessibility-tree-item-rule {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	font-size: 12px;
	margin-bottom: 10px;
}

.accessibility-tree-item-rule > * {
	/*border: 1px dashed #ff00ff;*/
}

.accessibility-tree-item-rule-title {
	flex: max-content;
	min-width: 75px;
	text-transform: uppercase;
	font-weight: 600;
}

.accessibility-tree-item-rule-info {
	flex: 1 0 0;
}

.accessibility-tree-item-rule-info > ul {
	margin: 0 0 0 15px;
}

.accessibility-tree-item-rule-info > ul > li {
	line-height: normal;
	margin-bottom: 0;
}

.accessibility-tree-item-child-wrapper {
	padding: 10px;
}



