
.share-popover {
	width: 268px;
	margin-top: 0;
}

.share-popover .copy-wrapper > * {
	width: 100%;
}

.share-popover .url {
	padding: 0 var(--spacing-10) 10px 10px;
	color: rgba(var(--link-lite-color), 1.0);
	word-break: break-all;
	transition: color var(--transition-duration-short) ease-out;
}

.share-popover .url[data-copied="true"], .share-popover .url:hover {
	color: rgba(var(--link-lite-hover-color), 1.0);
	text-decoration: underline;
	cursor: pointer;
}

.share-popover .cancel-button {
	width: 100%;
}
