
@keyframes rule-focus-intro {
	from { transform: scale(0.00); }
	to { transform: scale(1.00); }
}

@keyframes rule-focus-outro {
	0%   { transform: scale(1.00); }
	33%  { transform: scale(1.00); }
	100% { transform: scale(0.00); }
}



.team-page {
	margin: 0;
	text-align: left;
	overflow: hidden;
}

.team-page .content-wrapper, .team-page .content-loading {
	position: fixed;
	left: 208px;
	top: 58px;
	width: calc(100% - 208px);
	height: 100%;
	display: flex;
	flex-flow: nowrap;
	/*justify-content: flex-start; /* h-align */
	/*align-items: center; /* v-align */
	padding: 0 var(--spacing-20);
}


.team-page .content-wrapper > span {
	display: flex;
	width: 100%;
}

/* .team-page .content-wrapper .filepond--root.file-pond-wrapper {
	width: 100%;
	height: 100%;
} */

.team-page .content-wrapper .comments-wrapper {
	height: 100%;
	flex: 3 3 0;
	background-color: rgba(var(--site-bg-color), 0.0);
	transition: background-color 250ms cubic-bezier(0.5, 0.9, 0.1, 1.0);
	overflow-y: auto;
}

.team-page .content-wrapper .comments-wrapper .header {
	display: flex;
}

.team-page .content-wrapper .comments-wrapper .header button {
	width: fit-content;
	margin-left: var(--spacing-10);
}

.team-page .content-wrapper .comments-wrapper .empty-comments {
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	height: 0;
	margin-top: 20px;
	color: rgba(var(--site-fg-lite-color), 1.0);
	opacity: 0;
	transition: opacity 333ms cubic-bezier(0.5, 0.9, 0.1, 1.0);
}

.team-page .content-wrapper .comments-wrapper[data-empty="true"] .empty-comments {
	margin-top: 20px;
	opacity: 1;
}

.team-page .content-wrapper .comments-wrapper::-webkit-scrollbar {
	/* display: initial; */
	display: none;
}

.team-page .content-wrapper .comments-wrapper[data-fetching="true"] {
	background-color: rgba(var(--site-bg-color), 1.0);
}

.team-page .content-wrapper .team-wrapper {
	flex: 2 0 0;
	margin-left: var(--spacing-20);
	/* width: 100px; */
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start; /* v-align */
}

.team-page .content-wrapper .team-wrapper > * {
	width: 50%;
	background-color: rgba(var(--modal-bg-color), 1.0);
	text-align: left;
	border-radius: var(--border-radius);
	border: 1px solid rgba(var(--border-alt-color), 1.0);
}

.team-page .content-wrapper .team-wrapper > *:not(:last-child) {
	margin-bottom: var(--spacing-20);
}

.team-page .content-wrapper .team-wrapper .header {
	padding: var(--spacing-15) 0 var(--spacing-15) var(--spacing-15);
	color: rgba(var(--panel-title-fg-color), 1.0);
	font-size: 16px;
	font-weight: 600;
}

.team-page .content-wrapper .team-wrapper .header:hover {
	cursor: crosshair;
}

.team-page .content-wrapper .team-wrapper .content {
	padding: 0 var(--spacing-15);
}

.team-page .content-wrapper .team-wrapper .content textarea {
	min-height: 88px;
	padding: var(--spacing-05);
	transition: opacity 125ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-page .content-wrapper .team-wrapper .footer {
	padding: var(--spacing-15);
}

.team-page .content-wrapper .team-wrapper .about-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around; /* h-align */
	align-items: flex-start; /* v-align */
}

.team-page .content-wrapper .team-wrapper .about-wrapper > * {
	flex: 1 1 0;
	width: 100%;
}

.team-page .content-wrapper .team-wrapper .member-count {
	font-size: 12px;
	font-weight: 700;
}

.team-page .content-wrapper .team-wrapper .timestamp {
	padding-top: var(--spacing-10);
	color: rgba(var(--txtfield-fg-color), 1.0);
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}



.team-page .content-wrapper .team-wrapper .rules-wrapper .content > *:nth-child(even) {
	background-color: rgba(var(--txtarea-bg-color), 1.0);
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .content > *:not(:last-child) {
	margin-bottom: 10px;
}

.team-page .content-wrapper .team-wrapper .rules-wrapper textarea {
	min-height: 36px;
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center; /* h-align */
	align-items: center;
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer > * {
	width: 100%;
	transition: opacity 125ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="false"] button {
	z-index: 2;

	display: flex;
	opacity: 1;
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="false"] > span, .team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="false"] textarea {
	z-index: 1;

	display: none;
	opacity: 0;
}

/* .team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="false"] button {
	display: flex;
	opacity: 1;
} */

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="true"] button {
	display: none;
	opacity: 0;
}

/* .team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="false"] textarea {
	display: none;
	opacity: 0;
} */

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="true"] > span, .team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="true"] textarea {
	display: flex;
	opacity: 1;
}

.team-page .content-wrapper .team-wrapper .about-wrapper[data-loading="true"] textarea, .team-page .content-wrapper .team-wrapper .rules-wrapper[data-loading="true"] .footer textarea {
	opacity: 0.75;
	cursor: progress;
}


.team-page-add-comment .content-wrapper {
	position: relative;
	display: flex;
	width: 100%;
	padding: 5px;
	background-color: rgba(var(--txtfield-bg-color));
	border: 1px solid rgba(var(--txtfield-border-color));
	border-radius: var(--border-radius);
}

.team-page-add-comment .content-wrapper textarea.comment-txt, .team-page-add-comment .content-wrapper textarea.comment-txt:hover {
	padding: 10px 50px 10px 10px;
}

.team-page-add-comment form {
  display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	margin-bottom: var(--spacing-20);
}

.team-page-add-comment button {
  margin-left: var(--spacing-10);
  width: fit-content;
}

.team-page-comments-panel {
	transition: all 125ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .team-page-comments-panel > .team-page-comment:not(:first-child) {} */

.team-page-comments-panel > .team-page-comment:not(:last-child) {
	margin-bottom: 20px;
}

.team-page-comment {
	border-bottom: 1px solid rgba(var(--border-alt-color), 1.0);
}


.team-page-rule {
	display: flex;
	min-width: 100%;
	/* min-height: 38px; */
	align-items: center;
	padding: var(--spacing-10);
	background-color: rgba(var(--txtarea-bg-color), 1.0);
	color: rgba(var(--txtfield-fg-color), 1.0);
	border: 1px solid rgba(var(--txtfield-border-color), 1.0);
	border-radius: var(--border-radius);
	font-size: 12px;
	word-break: break-all;
}


.team-page .content-wrapper .team-wrapper .rules-wrapper .footer .team-page-add-rule-button {
	/* width: 100%; */
	min-width: 100%;
	padding: var(--spacing-10);
	justify-content: center;
	border-color: rgba(var(--txtfield-border-color));
  opacity: 0.5;
  transition: opacity 0.125s ease-out;
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer .team-page-add-rule-button:hover {
  opacity: 1;
  cursor: pointer;
}