
@keyframes rule-focus-intro {
	from { transform: scale(0.00); }
	to { transform: scale(1.00); }
}

@keyframes rule-focus-outro {
	0%   { transform: scale(1.00); }
	33%  { transform: scale(1.00); }
	100% { transform: scale(0.00); }
}



.team-page {
	text-align: left;
}

.team-page .content-wrapper, .team-page .content-loading {
	display: flex;
	flex-flow: nowrap;
	width: calc(100% - 208px);
	height: 100%;
}

/* .team-page .content-wrapper .filepond--root.file-pond-wrapper {
	width: 100%;
	height: 100%;
} */

.team-page .content-wrapper .comments-wrapper {
	position: relative;
	height: 100%;
	flex: 3 3 0;
	padding-top: 60px;
	background-color: rgba(var(--site-bg-color), 0.0);
	transition: background-color 250ms cubic-bezier(0.5, 0.9, 0.1, 1.0);
}

.team-page .content-wrapper .comments-wrapper .header {
	position: absolute;
	display: flex;
	width: 100%;
	z-index: 3;
}

.team-page .content-wrapper .comments-wrapper .header input.comment-txt {
	filter: var(--txtfield-shadow);
}

.team-page .content-wrapper .comments-wrapper .header button {
	width: fit-content;
	margin-left: var(--spacing-10);
}

.team-page .content-wrapper .comments-wrapper[data-fetching="true"] {
	background-color: rgba(var(--site-bg-color), 1.0);
}

.team-page .content-wrapper .comments-wrapper .scroll-comments-wrapper {
	/* height: 100%; */
	height: 100vh;
	margin-top: -60px;
	padding: 140px 0 0 0;
	overflow-y: auto;
}

.team-page .content-wrapper .comments-wrapper .scroll-comments-wrapper::-webkit-scrollbar {
	/* display: initial; */
	display: none;
}


.team-page .content-wrapper .team-wrapper {
	flex: 2 0 0;
	margin-top: 60px;
	margin-left: var(--spacing-10);
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start; /* v-align */
}

.team-page .content-wrapper .team-wrapper > * {
	padding: 10px;
	width: 200px;
	background-color: rgba(var(--modal-bg-color), 1.0);
	text-align: left;
	border-radius: var(--border-radius);
	/* border: 1px solid rgba(var(--border-alt-color), 1.0); */
}

.team-page .content-wrapper .team-wrapper > *:not(:last-child) {
	margin-bottom: var(--spacing-20);
}

.team-page .content-wrapper .team-wrapper .header {
	color: rgba(var(--panel-title-fg-color), 1.0);
	font-size: 16px;
	font-weight: 600;
}

.team-page .content-wrapper .team-wrapper .header:hover {
	cursor: crosshair;
}

.team-page .content-wrapper .team-wrapper .content {
	padding: var(--spacing-10) 0;
}

.team-page .content-wrapper .team-wrapper textarea {
	min-height: 88px;
	padding: var(--spacing-05);
	border: 1px solid rgba(var(--txtarea-bg-color), 1.0);
	transition: opacity 125ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-page .content-wrapper .team-wrapper .about-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around; /* h-align */
	align-items: flex-start; /* v-align */
}

.team-page .content-wrapper .team-wrapper .about-wrapper > * {
	flex: 1 1 0;
	width: 100%;
}

.team-page .content-wrapper .team-wrapper .member-count {
	font-size: 12px;
	font-weight: 700;
}

.team-page .content-wrapper .team-wrapper .timestamp {
	padding-top: var(--spacing-10);
	color: rgba(var(--txtfield-fg-color), 1.0);
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}



.team-page .content-wrapper .team-wrapper .rules-wrapper .content > *:nth-child(even) {
	background-color: rgba(var(--txtarea-bg-color), 1.0);
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .content > *:not(:last-child) {
	margin-bottom: 10px;
}





.team-page .content-wrapper .team-wrapper .rules-wrapper .footer {
	display: flex;
	flex-wrap: column nowrap;
	justify-content: center; /* h-align */
	align-items: center;
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer > * {
	display: flex;
	flex: 1 1 0;
	transition: width 125ms cubic-bezier(0.1, 0.9, 0.3, 1.0), opacity 125ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-page .content-wrapper .team-wrapper .rules-wrapper textarea {
	min-height: 38px;
	padding: var(--spacing-10);
}


.team-page .content-wrapper .team-wrapper .rules-wrapper .footer .team-page-add-rule-button {
	min-width: 100%;
	padding: var(--spacing-10);
	justify-content: center;
	border: none;
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="false"] button {
	width: 100%;
	opacity: 1;
	z-index: 2;
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="false"] > span, .team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="false"] > span > * {
	width: 0;
	padding: 0;
	opacity: 0;
	z-index: 1;
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="true"] button {
	display: none;
	width: 0;
	min-width: 0;
	padding: 0;
	opacity: 0;
	z-index: 1;
}

.team-page .content-wrapper .team-wrapper .rules-wrapper .footer[data-input="true"] > span {
	width: 100%;
	opacity: 1;
	z-index: 2;
}

.team-page .content-wrapper .team-wrapper .about-wrapper[data-loading="true"] textarea, .team-page .content-wrapper .team-wrapper .rules-wrapper[data-loading="true"] .footer > span {
	opacity: 0.75;
	cursor: progress;
}

.team-page-comments-panel {
	margin-bottom: 20px;
	transition: all 125ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-page-comments-panel .empty-comments {
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	width: 0;
	height: 0;
	color: rgba(var(--site-fg-lite-color), 1.0);
	opacity: 0;
}

.team-page-comments-panel[data-empty="true"] .empty-comments {
	width: 100%;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.5, 0.9, 0.1, 1.0);
}

/* .team-page-comments-panel[data-loading="true"] > .team-page-comment { */
	/* margin-top: 20px; */
	/* opacity: 0; */
/* } */

.team-page-comments-panel > .team-page-comment:not(:last-child) {
	margin-bottom: 50px;
}

.team-page-rule {
	display: flex;
	min-width: 100%;
	align-items: center;
	padding: var(--spacing-10);
	background-color: rgba(var(--txtarea-bg-color), 1.0);
	color: rgba(var(--txtfield-fg-color), 1.0);
	/* border: 1px solid rgba(var(--txtfield-border-color), 1.0); */
	border-radius: var(--border-radius);
	font-size: 12px;
	word-break: break-all;
}

