
@keyframes top-nav-logo-bg-hover {
	0%   { transform: scale(1.00) }
	100% { transform: scale(0.875) }
}

@keyframes top-nav-logo-fg-hover {
	0%   { transform: scale(1.00); }
	50%  { transform: scale(0.75); }
	100% { transform: scale(1.00); }
}

@keyframes top-nav-logo-out {
	0%   { transform: scale(0.75); }
	95%  { transform: scale(1.125); }
	100% { transform: scale(1.00); }
}

.top-nav {
	position: absolute;
	display: inline-flex;
	flex-shrink: 0;
	width: 100%;
	padding: 18px;
	/*background-color: rgba(var(--site-bg-color), 0.975);*/
	/* z-index: 2; */
	align-items: center;
	transition: width var(--transition-duration-mid) var(--transition-duration-short) cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 2;
	/* display: none; */
}

/* .playground-page[data-comments="true"] .top-nav {
	transition: width var(--transition-duration-short) var(--transition-duration-long) cubic-bezier(0.4, 0, 0.2, 1); */
/* } */

.top-nav > .col {
	flex: 4 4 0;
}

.top-nav .link-wrapper {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.top-nav .col-right .link-wrapper > *:not(:last-child) {
	margin-right: var(--spacing-20);
}

.top-nav .col-middle {
	display: none;
	visibility: hidden;
	flex: 1 0 auto;
	text-align: center;
}

.top-nav .page-header-wrapper {
	font-weight: 700;
}

.top-nav .breadcrumb-wrapper {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}


.top-nav .breadcrumb-wrapper > * {
	flex: 0 0 auto;
}

.top-nav .top-nav-breadcrumb {
	color: rgba(var(--link-color), 1.0);
	text-decoration: none;
	transition: color var(--transition-duration-short) ease-out;
}

.top-nav .top-nav-breadcrumb:not(:first-child):hover, .top-nav .top-nav-breadcrumb:not(:last-child):hover {
	cursor: pointer;
	color: rgba(var(--link-hover-color), 1.0);
}

.top-nav .top-nav-breadcrumb:first-child:hover {
	color: rgba(var(--link-selected-color), 1.0);
	cursor: default;
}

.top-nav .top-nav-breadcrumb:last-child, .top-nav .top-nav-breadcrumb:last-child:hover {
	color: rgba(var(--link-selected-color), 1.0);
	font-weight: 500;
	text-decoration: underline;
	cursor: default;
}


.top-nav .nav-link {
	color: rgba(var(--link-color), 1.0);
	transition: color var(--transition-duration-short) ease-out;
}

.top-nav .nav-link:hover {
	color: rgba(var(--link-hover-color), 1.0);
	cursor: pointer;
}


.top-nav .top-nav-share-link {
	position: relative;
}

.team-page-header {
  display: flex;
	align-items: center;
	transition: width var(--transition-duration-mid) cubic-bezier(0.4, 0, 0.2, 1);
}

.team-page-header > * {
	flex: 4 4 0;
}

.team-page-header-col-right > *:not(:last-child) {
	margin-right: var(--spacing-20);
}

.team-page-header .sort-by-wrapper {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.team-page-header .sort-by-wrapper > * {
	flex: 0 0 auto;
}

.team-page-header .sort-by-wrapper .sort-by-link {
	color: rgba(var(--link-color), 1.0);
	font-weight: 700;
	text-decoration: none;
	transition: color var(--transition-duration-short) ease-out;
}

.team-page-header .sort-by-wrapper .sort-by-link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.team-page-header .sort-by-wrapper .sort-by-link[data-selected="true"] {
	/* font-weight: 500; */
	text-decoration: none;
	color: rgba(var(--site-fg-color), 1.0);
}

.team-page-header .sort-by-wrapper .sort-by-link[data-selected="true"]:hover {
	cursor: default;
}

.team-page-header .sort-by-wrapper .sort-by-link:not(:last-child) {
	margin-right: var(--spacing-10);
}
