
@keyframes top-nav-logo-bg-hover {
	0%   { transform: scale(1.00) }
	100% { transform: scale(0.875) }
}

@keyframes top-nav-logo-fg-hover {
	0%   { transform: scale(1.00); }
	50%  { transform: scale(0.75); }
	100% { transform: scale(1.00); }
}

@keyframes top-nav-logo-out {
	0%   { transform: scale(0.75); }
	95%  { transform: scale(1.125); }
	100% { transform: scale(1.00); }
}

.top-nav {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 20px;
	background-color: rgba(247, 247, 247, 0.975);
	z-index: 2;
}

.top-nav > * {
	margin: auto;
}

.top-nav-branding-wrapper, .top-nav-mobile-menu-wrapper {
	flex: 1 1 0;
}

a.top-nav-branding-wrapper:hover {
	color: #232323;
	text-decoration: none;
}

.top-nav-branding-wrapper > div {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.top-nav-logo {
	width: 18px;
	height: 18px;
}

a:not(:hover):not(:active).top-nav-branding-wrapper rect#logo-fg {
	/*transform: scale(1.00);*/
	transform-origin: center;
	animation: 0.125s ease-in 0s 1 forwards top-nav-logo-out;
}

/*a.top-nav-branding-wrapper:hover rect#logo-bg {*/
	/*transform-origin: center;*/
	/*animation: 0.25s ease-out 0.0s 1 forwards top-nav-logo-bg-hover;*/
/*}*/

a.top-nav-branding-wrapper:hover rect#logo-fg {
	transform-origin: center;
	animation: 0.33s ease-out 0s infinite alternate top-nav-logo-fg-hover;
}

.top-nav-title {
	display: inline;
	margin-left: 10px;
}

a.top-nav-branding-wrapper:hover .top-nav-title {
	opacity: 0.5;
	transition: opacity 0.25s ease-out;
}

.top-nav-theme-toggle-wrapper {
	flex: 16 1 0;
	text-align: right;
}

.top-nav-link-wrapper {
	flex: 3 1 0;
	text-align: right;
}
