
@keyframes top-nav-logo-bg-hover {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes top-nav-logo-fg-hover {
	0%   { opacity: 1; transform: scale(1); filter: brightness(100%);}
	50%  { opacity: 0.9; transform: scale(1.125); filter: brightness(90%); }
	100% { opacity: 1; transform: scale(1); filter: brightness(100%); }
}


.top-nav {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 20px;
	background-color: rgba(252, 252, 252, 0.975);
	z-index: 2;
}

.top-nav > * {
	margin: auto;
}

.top-nav-branding-wrapper {
	flex: 1 0 0;
}

a.top-nav-branding-wrapper:hover {
	color: #232323;
	text-decoration: none;
}

.top-nav-branding-wrapper > div {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.top-nav-logo {
	width: 18px;
	height: 18px;
}

a.top-nav-branding-wrapper:any-link rect, a.top-nav-branding-wrapper:any-link circle {
	opacity: 1;
	transform: scale(1);
	transition: transform 0.125s ease-in;
}

a.top-nav-branding-wrapper:hover rect {
	animation: 0.125s ease-out 0s 1 forwards top-nav-logo-bg-hover;
}

a.top-nav-branding-wrapper:hover circle {
	transform-origin: center;
	animation: 0.33s ease-out 0.125s infinite alternate top-nav-logo-fg-hover;
}

.top-nav-title {
	display: inline;
	margin-left: 10px;
}

a.top-nav-branding-wrapper:hover .top-nav-title {
	opacity: 0.5;
	transition: opacity 0.25s ease-out;
}


.top-nav-link-wrapper {
	flex: 5 0 auto;
	text-align: right;
}

.top-nav-menu-wrapper {
	flex: 1 0 0;
}
