
.base-overlay-wrapper {
	z-index: 2000;
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.05);
}

.base-overlay-content-wrapper {
	position: fixed;
	width: fit-content;
	height: auto;
	max-width: 85%;
	max-height: 85%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	padding: 10px;
	z-index: 2002;
	overflow: hidden;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	background-color: var(--site-bg-color);
	text-align: center;
	/*box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.33);*/
}

.base-overlay-content-wrapper-unblurred {
	background-color: rgba(0, 0, 0, 0.0);
	/*box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.33);*/
}

.base-overlay-content-wrapper-auto-scroll {
	overflow-y: auto;
}

.base-overlay-content-wrapper-fixed {
	overflow-y: hidden;
}

.base-overlay-content-wrapper-percent {
	width: 50%;
}

.base-overlay-header-wrapper {
	display: table;
	width: calc(100% - 20px);
	margin: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--border-color);
}

.base-overlay-title {
	display: table-cell;
	text-align: left;
}

.base-overlay-close-button {
	display: table-cell;
	min-width: 0;
	min-height: 0;
	padding: 3px 8px;
	font-size: 11px;
	text-align: right;
}

.base-overlay-content {
}

.base-overlay-content-padded {
	padding: 10px 20px;
}

.base-overlay-content-wrapper-unblurred .base-overlay-content-padded {
	padding: 0;
}

.base-overlay-button-wrapper {
	margin: 15px 0;
}

.base-overlay-button {
}

.base-overlay-button:hover {
}
