@keyframes loader-rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.base-overlay {
  position: fixed;
  top: 0;
  left: 0;
	width: 100vw;
	height: 100vh;
	text-align: left;
	z-index: 2000;
	background-color: rgba(var(--site-bg-color), 0.0);
}

.base-overlay[data-closeable="true"] {
  /* width: 0; */
	/* height: 0; */
}


.base-overlay[data-filled="true"] {
	background-color: rgba(var(--site-bg-color), 1.0);
	/*transition: all var(--transition-duration-short) cubic-bezier(0.2, 0.9, 0.3, 1.0);*/

	transition: all var(--transition-duration-short) cubic-bezier(0.5, 0.9, 0.1, 1.0);
	/*transition: all var(--transition-duration-short) cubic-bezier(0.4, 1, 0.2, 1);*/
	/*transition: all var(--transition-duration-short) cubic-bezier(0.2, 0.9, 0.3, 1.0);*/
	/*transition: all var(--transition-duration-short) cubic-bezier(0.4, 0.0, 0.2, 1.0);*/
}

/* .base-overlay > div {
  position: fixed;
  width: 100%;
  height: 100%;
} */

.base-overlay .resizable {
  min-width: 306px;
  height: auto;
  top: 50%;
  left: 50%;
  width: 540px;
  height: auto;
	transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  /* border: 1px dotted #00ff00; */
}

.base-overlay .content-wrapper {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* padding: var(--spacing-10); */
	overflow: hidden;
	/* transform-style: preserve-3d; */
	transform-style: flat;
  /*backface-visibility: hidden;*/
  /* border: 1px dashed #ff00ff; */
}

.base-overlay .content-wrapper[data-bordered="true"] {
	border: 1px solid rgba(var(--border-color), 1.0);
	border-radius: var(--border-radius);
	background-color: rgba(var(--modal-bg-color), 1.0);
}

.base-overlay .content-wrapper[data-auto-size="true"] {
	/* width: fit-content; */
	transform-style: flat;
	box-shadow: none;
}

.base-overlay .content-wrapper[data-auto-scroll="true"] {
	overflow-y: auto;
}

.base-overlay .content-wrapper[data-fixed="true"] {
	overflow-y: hidden;
}

.base-overlay .content-wrapper[data-percent="true"] {
	/* width: 50%; */
}

.base-overlay .content-wrapper .header-wrapper {
	display: flex;
	justify-content: center;
	/* padding-bottom: var(--spacing-20); */
}

.base-overlay .content-wrapper .header-wrapper {
	justify-content: flex-start;
}

.base-overlay .content-wrapper .header-wrapper .title {
	flex: 1 1 auto;
	margin: auto;
	font-size: 28px;
	font-weight: 700;
	text-align: left;
}


.base-overlay .content-wrapper .content {
	overflow: hidden;
	padding-top: 20px;
  /* padding: var(--spacing-10) 0; */
}

.base-overlay .content-wrapper .content:not(:only-child) {
  /* margin-bottom: var(--spacing-20); */
}

.base-overlay .content .link-wrapper {
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: var(--spacing-20);
	font-size: 14px;
	/* padding-left: var(--spacing-10); */
  /* border: 1px dotted #ffff00; */
}

.base-overlay .content .link-wrapper > *span {
	flex: 1 0 auto;
	/* border: 1px dashed #00ff00; */
}


/* .base-overlay .content-wrapper .content form {
	padding: 0 var(--spacing-10);
} */

.base-overlay .content-wrapper .content .loader-wrapper {
	/* margin: var(--spacing-20); */
	min-width: 100%;
	min-height: 100%;
}

.base-overlay .content-wrapper .content .loader-wrapper .loader {
	height: 48px;
	width: 48px;
	color: #5a5a5a;
	position: relative;
	display: inline-block;
	border: 5px solid;
	border-radius: 50%;
	border-top-color: transparent;
	animation: loader-rotate 1s linear infinite;
}

.base-overlay .content-wrapper .content .footer-wrapper {
	margin-top: 20px;
	font-size: 14px;
	text-align: center;
}