
.profile-form {
}

.profile-form form input, .profile-form form input:hover {
	text-align: left;
}

.profile-form form > *:not(:last-child) {
	margin-bottom: var(--orthodox-margin-base);
}

.profile-form-team-wrapper {
	position: relative;
}

.profile-form-team-wrapper .profile-form-team-txt {

}

.profile-form-team-txt:hover {
	cursor: default;
}
