
.base-page {
	width: 100%;
	padding: var(--orthodox-padding-page);
	text-align: center;
}

.base-page-intro-text {
}

.base-page-intro-text p {
	margin-bottom: 70px;
	text-align: justify;
}

.base-page-content-wrapper {
	margin-bottom: var(--orthodox-margin-dbbl);
}

.base-page-section-wrapper {
	line-height: var(--orthodox-padding-more);
	text-align: justify;
}


.base-page-bottom-nav {
	text-align: left;
}

.base-page-bottom-nav > ul {
	margin: 0;
	padding: 0;
	width: fit-content;
	column-count: 2;
	column-gap: var(--orthodox-margin-base);
	column-rule: 0;
}

.base-page-bottom-nav > ul > li {
	margin-bottom: var(--orthodox-margin-less);
	padding: 0;
	width: fit-content;
	list-style: none;
	line-height: normal;
}

.base-page-bottom-nav > ul > li:nth-child(3n) {
	margin-bottom: 0;
}


@media screen and (max-width: 800px) {
	.base-page {
		padding: var(--orthodox-padding-dbbl) var(--orthodox-padding-page-mobile);
	}
}
