
.video-image {
	width: 326px;
	height: 200px;
}

.quotes-wrapper {
	margin: 40px 0 20px 0;
	padding: 0 40px 30px 40px;
	border-bottom: 1px solid #cad7e2;
}

.partner-icon {
	width: 90px;
	height: 22px;
}

@media only screen and (max-width: 600px) {
	.video-image {
		width: 163px;
		height: 100px;
	}

	.partner-icon {
		width: 45px;
		height: 11px;
	}
}