
.intro-image {
	width: 100%;
	margin: 10px 0 40px 0;
}

.project-item-wrapper {
}

.intro-projects {
	margin: 80px 0 40px 0;
	padding: 0 50px;
	border-bottom: 1px solid #cccccc;
}

@media only screen and (max-width: 600px) {
	.intro-projects {
		padding: 0 20px;
	}
}

.reviews-wrapper {
	margin-top: 40px;
	text-align: left;
}

.review-item {
	margin-bottom: 20px;
}

.app-icons-wrapper {
	margin-bottom: 40px;
}

.review-image {
	width: 120px;
	height: 120px;
}

@media only screen and (max-width: 600px) {
	.review-image {
		width: 60px;
		height: 60px;
	}
}

.review-star, .review-star-empty {
	font-size: 20px;
	color: #000000;
	margin: 10px 10px 10px 0;
}

.review-star-empty {
	color: #cccccc;
}

.review-quote {
	font-size: 16px;
	color: #999999;
	margin-top: 5px;
}