
.purchase-wrapper {
	margin-top: 30px;
	width: 200px;
	padding: 50px 50px 30px 50px;
	box-shadow: 0 0 20px #cccccc;
	text-align: center;
}

.purchase-title {
	font-size: 30px;
	margin-bottom: 40px;
	font-family: "Poppins SemiBold", sans-serif;
}

.purchase-text {
	color: #9b9b9b;
	margin-bottom: 30px;
}

.purchase-button {
	width: 100%;
	margin-bottom: 20px;
}

.purchase-link {
	width: 200px;
	padding: 15px 20px;
	box-shadow: 0 0 20px #cccccc;
	border-radius: 20px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: #002fff;
	text-decoration: none;
}
