
.cookies-overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: var(spacing-20);
	opacity: 1;
	background-color: rgba(var(--site-bg-color), 1.0);
	border: 1px solid rgba(var(--border-color), 1.0);
	z-index: 3000;
}

.cookies-overlay-intro {
	/*opacity: 0;*/
	/*transition: opacity var(--transition-duration-mid) ease-out;*/
}

.cookies-overlay-hide {
	bottom: -170px;
	transition: bottom var(--transition-duration-mid) ease-in;
}

.cookies-overlay-title {
	margin-bottom: var(--spacing-20);
}

.cookies-overlay-content a {
	text-decoration: underline;
	text-decoration-skip: objects spaces edges box-decoration;
	text-decoration-color: rgba(var(--link-color), 1.0);
	transition: text-decoration-color var(--transition-duration-short) ease-in;
}

.cookies-overlay-content a:hover {
	color: rgba(var(--link-color), 1.0);
	text-decoration-color: rgba(var(--link-color), 0.0);
}

.cookies-overlay-button-wrapper {
	margin-top: var(--spacing-20);
	text-align: center;
}

.cookies-overlay-button-wrapper button {
	width: fit-content;
}
