
.page-nav-link {
	width: fit-content;
	letter-spacing: 0.2px;
}

.page-nav-link:not(:last-child) {
	margin-right: 40px;
}

.page-nav-link-selected, a.page-nav-link-selected {
	color: rgba(var(--link-selected-color), 1.0);
	text-decoration: underline;
}
