
.playground-content {
	position: relative;
	top: 0;
	/*left: var(--playground-nav-width);*/
	padding: var(--orthodox-padding-base) var(--orthodox-padding-base) calc(var(--orthodox-padding-base) + 28px) var(--orthodox-padding-base);
	display: flex;
	flex-flow: nowrap;
	/*align-items: flex-start; !* v-align *!*/
	/*justify-content: center; !* h-align *!*/
	width:100%;
	height: 100%;
	z-index: 1;
	transition: all 333ms 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.playground-content-components-wrapper[data-component="true"] .playground-content {
	align-items: center;
}

.playground-content[data-cursor="true"] {
	cursor: none;
}

.playground-content[data-component="true"] .playground-content {
	align-items: center; /* v-align */
}

.playground-content-components-wrapper {
	/*width: 100%;*/
	/*padding: 40px 84px 40px;*/
}

.playground-content[data-component="true"] .playground-content-components-wrapper {
	margin: auto;
}

.playground-content-component-wrapper-cursor:hover {
	cursor: pointer;
}

.comment-pin-cursor {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 20px;
}


/*.playground-component-wrapper {*/
	/*position: relative;*/
	/*width: 100%;*/
/*}*/


.playground-content-components-wrapper .image-loader {
	display: flex;
	align-items: center; /* v-align */
	justify-content: center; /* h-align */
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	width: 45px;
	height: 45px;
	transform: translate(-50%, -50%);
	font-size: 2em;
	color: rgba(var(--site-fg-color), 1.0);
}

.playground-content-components-wrapper[data-component="true"] .image-loader {
	top: calc(56px + var(--orthodox-margin-base));
}


.playground-component {
	position: relative;
	/*top: 50%;*/
	/*left: 50%;*/
	/*height: fit-content;*/
}

.playground-component > .scaling-wrapper {
	max-width: 100%;
	max-height: 1000px;
	transform: translate(-50%, -50%);
	object-fit: scale-down;
}

.playground-component[data-processed="true"]{
	border: 1px solid rgba(var(--border-alt-color), 1.0);
}

.playground-component h5 {
	margin-bottom: var(--orthodox-margin-base);
	text-align: left;
	font-size: var(--orthodox-font-size);
	font-weight: var(--orthodox-font-weight);
	line-height: 0;
}

.playground-component h5, .playground-component:hover h5 {
	color: rgba(var(--playground-panel-link-color), 1.0);
	cursor: default;
}

.playground-component[data-processed="false"] h5.component-title, .playground-component[data-processed="false"] .component-caption {
	visibility: hidden;
	/*background-color: var(--matty-mana);*/
}

.playground-component .component-caption {
	margin-top: var(--orthodox-margin-base);
	text-align: center;
	color: rgba(var(--playground-panel-link-color), 1.0);
	font-size: 13px;
}

.playground-component-comments-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;

}

.playground-components-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;
	/*justify-content: space-between;*/
	/*justify-content: space-around;*/
	/*justify-content: space-evenly;*/
	align-content: flex-start;
	width: 100%;
}

.playground-components-grid > * {
	display: flex;
	flex-flow: column nowrap;
	/*border: 1px dotted #ff00ff;*/
}

.components-grid-item {
	width: 226px;
	height: 180px;
	margin: 0 var(--orthodox-margin-half) var(--orthodox-margin-base) var(--orthodox-margin-half);
}

.playground-content[data-cursor="false"] .components-grid-item:hover {
	cursor: pointer;
}

.components-grid-item h5.component-title {
	color: rgba(var(--playground-panel-link-color), 1.0);
	transition: color 0.125s ease-out;
	margin-bottom: var(--orthodox-margin-base);
}

.components-grid-item:hover h5.component-title {
	color: rgba(var(--playground-panel-link-hover-color), 1.0);
}


.components-grid-item:hover .image-overlay {
	opacity: 0.1;
}

.components-grid-item .content-wrapper {
	position: relative;
	width: 100%;
	height: 144px;
	background-color: #ffffff;
	border: 1px solid rgba(var(--border-alt-color), 1.0);
	overflow: hidden;
	transition: background-color 0.125s ease-out;
}

.components-grid-item .content-wrapper[data-loaded="false"] {
	background-color: rgba(var(--playground-content-bg-color), 1.0);
}

.components-grid-item .content-wrapper[data-loaded="true"] {
	border: 1px solid rgba(var(--border-alt-color), 1.0);
}

.components-grid-item .content-wrapper img {
	/*height: fit-content;*/
	/*object-fit: scale-down;*/
}

.components-grid-item-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.components-grid-item .image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgb(var(--site-fg-color), 1.0);
	transition: opacity 0.125s ease-out;
}


/*-- width 100% / height ratio --*/
/*display: block;*/
/*max-width: 100%;*/
/*object-fit: scale-down;*/
