
.color-swatch {
	position: relative;
	margin: 0 30px 35px 30px;
	width: 150px;
	opacity: 0.5;
}

.color-swatch-selected {
	opacity: 1;
}

.color-swatch-fill {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0 0 12px #cccccc;
}

.color-swatch-text {
	font-size: 18px;
	font-weight: 500;
	margin-top: 30px;
	text-align: center;
	width: 100%;
	color: #9b9b9b;
	line-height: 22px;
}

.color-swatch:hover {
	cursor: pointer;
}

