
.color-swatch {
	position: relative;
	height: 50px;
	margin: 0 18px 25px 18px;
	border-radius: 25px;
	padding: 2px 28px;
	display: table;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	box-shadow: 0 0 12px #cccccc;
}

.color-swatch-hex {
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	/*text-shadow: 0 0 2px #ffffff;*/
}

.color-swatch-selected {
	background-color: #7ed321;
}

.color-swatch:hover {
	cursor: pointer;
}

.color-swatch-check {
	position : absolute;
	top: 3px;
	right: 6px;
	font-size: 34px;
	color: #7ed321;
}
