
.corner-type {
	position: relative;
	display: table;
	min-width: 154px;
	height: 50px;
	margin: 0 18px 25px 18px;
	border-radius: 25px;
	padding: 2px 28px;
	box-shadow: 0 0 12px #cccccc;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}

.corner-type:hover {
	cursor: pointer;
}

.corner-type-selected {
	background-color: #7ed321;
	color: #ffffff;
	/*border: 2px solid #002fff;*/
}

.corner-type-text {
	display: table-cell;
	vertical-align: middle;
}
