
.download-item {
	width: 300px;
	height: 400px;
	padding: 10px;
	margin: 10px;
}

.download-item-container {
	position: relative;
}

.download-item-image {
	width: 300px;
	height: 213px;
	border-radius: 6px;
	box-shadow: 0 0 20px #cccccc;
	background-color: #f3f3f3;
}


.download-item-title {
	font-family: "Poppins SemiBold", sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: 600;
	text-align: left;
	margin: 20px 0 12px 0;
}

.download-item-text {
	font-family: "Poppins Regular", sans-serif;
	font-size: 14px;
	color: #9b9b9b;
	text-align: left;
	line-height: 22px;
	margin-bottom: 15px;
}

.download-item-button {
	background-color: #002fff;
	color: #ffffff;
	min-width: 80px;
	font-size: 12px;
	font-weight: 400;
}

.download-item-button:hover {
	cursor : pointer;
}
