
.imagery-item {
	width: 180px;
	margin: 15px 15px 0 0;
	text-align: center;
}

.imagery-item:hover {
	cursor: pointer;
}

.imagery-item-image {
	width: 100%;
	border-radius: 10px;
	opacity: 1.0;
}

.imagery-item-image-selected {
	opacity: 0.5;
}