
.imagery-item {
	width: 180px;
	min-height: 114px;
	margin: 15px 15px 0 0;
	text-align: center;
	box-shadow: 0 0 4px #cccccc;
	clip-path: inset(0 0 0 0 round 4px);
}

.imagery-item:hover {
	cursor: pointer;
}

.imagery-item-image {
	width: 100%;
	border-radius: 15px;
	opacity: 1.0;
	background-color: #f3f3f3;
}

.imagery-item-image-selected {
	opacity: 0.5;
}

.grid-item {
	float: left;
}