
.keyword-item {
	height: 40px;
	margin: 0 10px 25px 10px;
	border-radius: 25px;
	padding: 2px 20px;
	text-align: center;
	display: table;
	color: #4a4a4a;
	font-size: 14px;
	box-shadow: 0 0 12px #cccccc;
	background-color: #ffffff;
}

.keyword-item-selected {
	background-color: #7ed321;
	color: #ffffff;
}

.keyword-item-text {
	display: table-cell;
	font-weight: 500;
	vertical-align: middle;
}

.keyword-item:hover {
	cursor: pointer;
}
