
.keyword-item {
	position: relative;
	height: 50px;
	margin: 0 18px 25px 18px;
	border-radius: 25px;
	padding: 2px 24px;
	text-align: center;
	display: table;
	font-size: 18px;
	font-weight: 500;
	box-shadow: 0 0 12px #cccccc;
	background-color: #ffffff;
}

.keyword-item-selected {
	background-color: #7ed321;
	color: #ffffff;
}

.keyword-item-text {
	display: table-cell;
	vertical-align: middle;
}

.keyword-item:hover {
	cursor: pointer;
}