
.keyword-item {
	position: relative;
	margin: 0 30px 35px 30px;
}

.keyword-item-image-wrapper {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0 0 12px #cccccc;
}

.keyword-item-image {
	width: 50%;
	height: 50%;
	vertical-align: middle;
	text-align: center;
	margin-top: 37px;
	/*clip-path: inset(0 0 0 0 round 50%);*/
}

.keyword-item-text {
	font-size: 18px;
	font-weight: 500;
	margin-top: 30px;
	text-align: center;
	width: 100%;
	color: #9b9b9b;
}

.keyword-item:hover {
	cursor: pointer;
}