
.project-item {
	/*background-color: #e0e0e0;*/
	width: 160px;
	height: 180px;
	margin: 10px;
}

.project-item-image {
	width: 160px;
	height: 160px;
	margin-bottom: 5px;
}

.project-item-text {
	font-size: 11px;
	color: #666666;
	font-weight: bold;
}