
.project-item {
	width: 260px;
	height: 201px;
	margin: 10px;
	background-color: #4e4e4e;
	border-radius: 10px;
	box-shadow: 0 0 20px #000000;
}

.project-item:hover {
	cursor: pointer;
}

.project-item-image {
	width: 260px;
	height: 201px;
	border-radius: 10px;
}


@media only screen and (max-width: 600px) {
	.project-item {
		width: 68px;
		height: 52px;
	}
	.project-item-image {
		width: 68px;
		height: 52px;
	}
}