
.project-item {
	width: 270px;
	height: 201px;
	margin: 10px;
}

.project-item:hover {
	cursor: pointer;
}

.project-item-image {
	width: 260px;
	height: 201px;
	margin-bottom: 5px;
}

.project-item-text {
	font-size: 11px;
	color: #666666;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.project-item {
		width: 68px;
		height: 52px;
	}
	.project-item-image {
		width: 68px;
		height: 52px;
		margin-bottom: 5px;
	}

}