
.template-item {
	width: 160px;
	height: 260px;
	padding: 10px;
	margin: 10px;
}

.template-item-container {
	background-color: #000000;
}

.template-item-image {
	width: 140px;
	height: 180px;
}

.template-item-price {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 10px;
}

.template-item-title {
	color: #666666;
	margin-bottom: 10px;
}

.template-item-button {
	margin-top: 10px;
}