
.template-item {
	width: 160px;
	height: 260px;
	padding: 10px;
	margin: 10px;
}

.template-item-container {
	position: relative;
}

.template-item-image {
	width: 140px;
	height: 180px;
	border-radius: 6px;
	box-shadow: 0 0 20px #cccccc;
}

.template-item-image-selected {
}

.template-item-price {
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	background-color: #76aa3c;
	padding: 10px;
	position: absolute;
	left: 20px;
	bottom: 10px;
	border-radius: 7px;
}

.template-item-title {
	color: #666666;
	margin-bottom: 10px;
}

.template-item-button {
	margin-top: 20px;
}