
.template-item {
	width: 200px;
	height: 242px;
	padding: 10px;
	margin: 10px;
}

.template-item-container {
	position: relative;
}

.template-item-image {
	width: 200px;
	height: 142px;
	border-radius: 6px;
	box-shadow: 0 0 20px #cccccc;
}

.template-item-image-selected {
	opacity: 0.5;
}

.template-item-check {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	color: #7ed321;
	font-size: 36px;
}

.template-item-title {
	font-family: "Poppins SemiBold", sans-serif;
	margin: 10px 0 10px 0;
}

.template-item-text {
	font-family: "Poppins Medium", sans-serif;
	color: #9b9b9b;
	margin-bottom: 10px;
}

.template-item-button {
	background-color: #002fff;
	color: #ffffff;
	min-width: 80px;
}

.template-item-button:hover {
	cursor : pointer;
}

.template-item-button-selected {
	background-color: #7ed321;
	color: #ffffff;
}