
.nav-logo {
	width: 40px;
	height: 40px;
}

.nav-link {
	padding-left: 20px;
	font-size: 12px;
	color: #000000;
}

.nav-link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.nav-link a, .nav-link a:active, .nav-link a:link, .nav-link a:visited {
	text-decoration: none;
	color: #000000;
}