
.integrations-page-wrapper {
}


.integrations-page-grid {
	width: 100%;
}

.integrations-page-grid-item-wrapper {
	width: 100%;
	margin: 8px -10px 0 -10px;
}


.integrations-page-grid-item {
	width: 260px;
	height: 320px;
	margin-bottom: 20px;
	border-radius: 4px;
}
