
.ask-page-header {
	position: fixed;
	top: 0;
	left: 208px;
	width: calc(100% - 208px);
	display: flex;
	align-items: center;
	padding: calc(var(--orthodox-padding-base) - 4px) var(--orthodox-padding-base) 0 var(--orthodox-padding-base);
	transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 2;
}

.ask-page-header > * {
	flex: 4 4 0;
}

.ask-page-header-col-left {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.ask-page-header-col-middle {
	display: none;
	visibility: hidden;
	flex: 1 0 auto;
	text-align: center;
}

.ask-page-header-col-right {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

.ask-page-header-col-right > *:not(:last-child) {
	margin-right: var(--orthodox-margin-base);
}

.ask-page-header .sort-by-wrapper {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.ask-page-header .sort-by-wrapper > * {
	flex: 0 0 auto;
}

.ask-page-header .sort-by-wrapper .sort-by-link {
	color: rgba(var(--link-color), 1.0);
	text-decoration: none;
	transition: color 0.125s ease-out;
}

.ask-page-header .sort-by-wrapper .sort-by-link:hover {
	cursor: pointer;
	color: rgba(var(--link-hover-color), 1.0);
}

.ask-page-header .sort-by-wrapper .sort-by-link[data-selected="true"] {
	font-weight: 700;
	text-decoration: underline;
}

.ask-page-header .sort-by-wrapper .sort-by-link[data-selected="true"]:hover {
	cursor: pointer;
}

.ask-page-header .sort-by-wrapper .sort-by-link:not(:last-child) {
	margin-right: var(--orthodox-margin-half);
}

.playground-share-link {
	position: relative;
}

.playground-header-link {
	color: rgba(var(--link-color), 1.0);
	transition: color 0.125s ease-out;
}

.playground-header-link:hover {
	color: rgba(var(--link-hover-color), 1.0);
	cursor: pointer;
}
