
.features-page-wrapper {
	padding: 60px 20%;
}

.features-page-text p {
	margin-bottom: 70px;
}

.features-page-section-wrapper {
	line-height: 25px;
	text-align: justify;
}


@media screen and (max-width: 800px) {
	.features-page-wrapper {
		padding: 60px 30px;
	}
}
