
.playground-nav-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--playground-nav-width);
	height: 100%;
	padding: var(--orthodox-padding-base);
	background-color: rgba(var(--playground-panel-bg-color), 1.0);
	border-right: 1px solid rgba(var(--border-color), 1.0);
	z-index: 8;
}

.playground-nav-panel-header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: var(--orthodox-margin-base);
}

.playground-nav-panel-header-logo {
	width: var(--orthodox-acc-size);
	height: var(--orthodox-acc-size);
	margin-right: var(--orthodox-margin-half);
}

.playground-nav-panel-header-title:hover {
	cursor: pointer;
}

.playground-nav-panel-component-type-wrapper {
	width: 100%;
	max-height: calc(100% - calc(var(--orthodox-padding-base) * 2.0));
	font-size: 15px;
	overflow-y: auto;
}
