
.playground-nav-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--playground-nav-width);
	height: 100%;
	padding: var(--spacing-20);
	background-color: rgba(var(--playground-panel-bg-color), 1.0);
	border-right: 1px solid rgba(var(--border-alt-color), 1.0);
	text-align: left;
	z-index: 2;
}

.playground-nav-panel-header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: var(--spacing-20);
}

.playground-nav-panel-header img {
	width: var(--orthodox-acc-size);
	height: var(--orthodox-acc-size);
	margin-right: var(--spacing-10);
}

.playground-nav-panel-header-title:hover {
	cursor: pointer;
}

.playground-nav-panel .nav-panel-link {
	display: block;
	margin-bottom: var(--spacing-10);
	font-size: 14px;
}


.playground-nav-panel .teams-wrapper {
	width: 100%;
	max-height: calc(100% - calc(var(--spacing-20) * 2.0));
	margin-top: var(--spacing-20);
	font-size: 14px;
	overflow-y: auto;
}


.playground-nav-panel .teams-wrapper .items-wrapper {
	margin-bottom: var(--spacing-10);
}

.playground-nav-panel .teams-wrapper .create-team {
	color: rgba(var(--link-color), 1.0);
	transition: color 0.125s ease-out;
}

.playground-nav-panel .teams-wrapper .create-team:hover {
	color: rgba(var(--playground-panel-link-hover-color), 1.0);
	cursor: pointer;
}

.playground-nav-panel .builds-wrapper {
	width: 100%;
	max-height: calc(100% - calc(var(--spacing-20) * 2.0));
	margin-top: var(--spacing-20);
	font-size: 14px;
	overflow-y: auto;
}

.playground-nav-panel .builds-wrapper-header {
	color: rgba(var(--txtfield-fg-color), 1.0);
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.playground-nav-panel .builds-item-wrapper {
	margin-top: var(--spacing-10);
}





.nav-panel-team {
	width: 100%;
}

.nav-panel-team:not(:last-child) {
  margin-bottom: var(--spacing-05);
}

.nav-panel-team:hover {
	color: rgba(var(--playground-panel-link-color), 1.0);
  cursor: pointer;
}

.nav-panel-team[data-selected="true"] {
  text-decoration: underline;
}

.nav-panel-team[data-selected="true"]:hover {
	color: rgba(var(--playground-panel-link-hover-color), 1.0);
  cursor: default;
}
