
.playground-nav-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--playground-nav-width);
	height: 100%;
	padding: 20px;
	background-color: rgba(var(--playground-panel-bg-color), 1.0);
	border-right: 1px solid rgba(var(--border-color), 1.0);
	z-index: 2;
}

.playground-nav-panel-header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 20px;
}

.playground-nav-panel-header-logo {
	width: 18px;
	height: 18px;
	margin-right: 10px;
}

.playground-nav-panel-header-title:hover {
	cursor: pointer;
}

.playground-nav-panel-component-type-wrapper {
	width: 100%;
	font-size: 15px;
	letter-spacing: 0.2px;
}
