
.playground-page-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 208px;
	height: 100%;
	padding: 20px;
	background-color: var(--playground-nav-bg-color);
	border-right: 1px solid var(--border-color);
}

.playground-page-nav-header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 20px;
}

.playground-page-nav-header-logo {
	width: 18px;
	height: 18px;
	margin-right: 10px;
}

.playground-page-nav-header-title {

}

.playground-page-nav-link-wrapper {
	width: 100%;
	font-size: 15px;
	letter-spacing: 0.2px;
	color: var(--link-selected-color);
}

.playground-page-nav-link {
	margin-bottom: 18px;
}