
.popup-notification {
	position: fixed;
	bottom: var(--spacing-20);
	left: 0;
	width: 100%;
	/* height: 38px; */
	display: flex;
	justify-content: center;
	font-size: var(--orthodox-font-size);
	z-index: 5000;
	overflow: hidden;
}

.popup-notification[data-embedded="true"] {
	z-index: 5000;
}

.popup-notification .content-wrapper {
	width: 100%;
	height: 100%;
}

.popup-notification .content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: var(--spacing-20);
	border: 1px solid rgba(var(--border-color), 1.0);
	border-radius: var(--border-radius);
	text-align: center;
	vertical-align: middle;
	/*box-shadow:*/
		/*-1px -1px 0 rgba(26, 27, 29, 0.5),*/
		/*1px -1px 0 rgba(26, 27, 29, 0.5),*/
		/*-1px  1px 0 rgba(26, 27, 29, 0.5),*/
		/*1px  1px 0 rgba(26, 27, 29, 0.5);*/
}

.popup-notification .content[data-type="error"] {
	background-color: rgba(var(--popup-error-bg-color), 1.0);
	color: rgba(var(--popup-error-fg-color), 1.0);
	border-color: rgba(var(--popup-error-fg-color), 1.0);
}

.popup-notification .content[data-type="ok"] {
	background-color: rgba(var(--popup-ok-bg-color), 1.0);
	color: rgba(var(--popup-ok-fg-color), 1.0);
	border-color: rgba(var(--popup-ok-fg-color), 1.0);
}

.popup-notification .content[data-type="status"] {
	background-color: rgba(var(--site-bg-color), 1.0);
	color: rgba(var(--popup-ok-fg-color), 1.0);
	border-color: rgba(var(--site-bg-color), 1.0);
}
