
.popup-notification-wrapper {
	position: fixed;
	top: 64px;
	left: 0;
	width: 100%;
	height: 38px;
	z-index: 3000;
	overflow: hidden;
}

.popup-notification-wrapper-embedded {
	z-index: 1001;
}

.popup-notification-content-wrapper {
	width: 100%;
	height: 100%;
}

.popup-notification-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(var(--border-color), 1.0);
	text-align: center;
	vertical-align: middle;
}

.popup-notification-content-error {
	background-color: rgba(var(--invalid-bg-color), 0.95);
	color: rgba(var(--invalid-fg-color), 1.0);
}

.popup-notification-content-ok {
	background-color: rgba(var(--popup-ok-bg-color), 1.0);
	/*color: rgba(128, 255, 70, 1.00);*/
	color: rgba(var(--popup-ok-fg-color), 1.0);
	/*color: #ff00ff;*/
}

.popup-notification-content-status {
	background-color: rgba(var(--site-bg-color), 1.0);
	color: rgba(var(--site-fg-color), 1.0);
	/*text-shadow:*/
			/*-1px -1px 0 rgba(26, 27, 29, 0.5),*/
			 /*1px -1px 0 rgba(26, 27, 29, 0.5),*/
			/*-1px  1px 0 rgba(26, 27, 29, 0.5),*/
			 /*1px  1px 0 rgba(26, 27, 29, 0.5);*/
}
