
.ask-page-comments-panel {
	width: 100%;
}

.ask-page-comments-panel[data-loading="true"] .comments-panel-item {
	background-color: rgba(var(--playground-panel-bg-color), 1.0);
}

.comments-panel-item-wrapper {
	width: 100%;
}

.ask-page-comment {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: var(--spacing-20);
	background-color: rgba(var(--site-bg-color), 0.0);
	border-bottom: 1px solid rgba(var(--border-alt-color), 1.0);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 333ms ease-out;
}

.ask-page-comment[data-loading="true"] {
	background-color: rgba(var(--playground-panel-bg-color), 1.0);
	border-radius: var(--border-radius);
	border-bottom: 1px solid rgba(var(--playground-panel-bg-color), 1.0);
}

.ask-page-comment > * {
	opacity: 1;
	transition: opacity 333ms cubic-bezier(0.5, 0.9, 0.1, 1.0);
}

.ask-page-comment[data-loading="true"] > * {
	opacity: 0;
}

.ask-page-comment:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.ask-page-comment .vote-wrapper {
	padding: var(spacing-10)
}

.ask-page-comment .vote-wrapper .vote-arrow {
	color: rgba(var(--site-fg-color), 1.0);
	transition: color 0.125s ease-out;
}

.ask-page-comment .vote-wrapper .vote-arrow:hover {
	color: rgba(var(--site-fg-color), 1.0);
	cursor: pointer;
}

.ask-page-comment[data-author="true"] .vote-wrapper .vote-arrow:hover {
	cursor: default;
}

.ask-page-comment .vote-wrapper[data-disabled="true"] .vote-arrow, .ask-page-comment .vote-wrapper[data-disabled="true"] .vote-arrow:hover {
	color: rgba(var(--disabled-fg-color), 1.0);
	cursor: default;
}

.ask-page-comment .vote-wrapper .vote-arrow[data-selected="true"] {
	color: rgba(var(--btn-bg-color), 1.0);
}

.ask-page-comment .vote-wrapper .vote-arrow[data-selected="true"]:hover {
	color: rgba(var(--btn-bg-color), 1.0);
	cursor: default;
}

.ask-page-comment .vote-wrapper .vote-score {
	cursor: default;
}

.ask-page-comment .vote-wrapper[data-voted="true"] .vote-score:hover {
	cursor: pointer;
}

.ask-page-comment[data-author="true"] .vote-wrapper .vote-score:hover {
	cursor: default;
}