

@keyframes marquee-banner-intro {
	0%   { display: block; opacity: 0; }
	100% { opacity: 1; }
}

@keyframes marquee-banner-outro {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes marquee-banner-outro-remove {
	0%   { opacity: 1; }
	100% { opacity: 0; display: none; }
}


.artboards-list-wrapper, .parts-list-wrapper {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 60px 52px;
}

.artboard-list-item, .part-list-item {
	width: 100%;
	padding-bottom: 60px;
}

.artboard-list-item:hover {
	cursor: pointer;
}

.artboard-list-item:nth-child(even), .part-list-item:nth-child(even) {
	/*background-color: #24282e;*/
}

.artboard-list-item:last-child, .part-list-item:last-child {
	padding-bottom: 0;
}


.artboard-list-item-content-wrapper, .part-list-item-content-wrapper {
	position: relative;
	width: 188px;
	height: 172px;
	background: #1a1b1d url(../../../assets/images/backgrounds/bg-checkerboard.png) repeat;
	border: 1px solid #00ff0f;
	text-align: center;
	vertical-align: middle;
	overflow: hidden
}

.artboard-list-item-content-wrapper {
	height: 192px;
}

.artboard-list-item-image, .part-list-item-image {
	position: absolute;
	max-width: 95%;
	max-height: 55%;
	top: 25px;
	left: 50%;
	transform: translate(-50%, 0%);
	object-fit: scale-down;
	text-align: center;
}

.artboard-list-item-image-loading, .artboard-list-item-image-error, .part-list-item-image-loading, .part-list-item-image-error {
	width: 100px;
	height: 100px;
}

.artboard-list-item-fa-status, .part-list-item-fa-status {
	width: 50px;
	height: 50px;
}

.artboard-list-item-title, .part-list-item-title {
	position: absolute;
	bottom: 22px;
	left: 0;
	width: 100%;
	color: #abdafd;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 16px;
	letter-spacing: -0.5px;
	text-align: center;
}

.artboard-list-item-button, .part-list-item-button {
	min-width: 20px;
	min-height: 14px;
	max-width: 20px;
	max-height: 14px;
	margin-left: 48px;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.0);
	font-size: 16px;
	color: #addafd;
}

.artboard-list-item-button:hover, .part-list-item-button:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.0);
	color: #ffffff;
}


.filing-tab-set {
	width: 100%;
	height: 100%;
}

.filing-tab-set-title-wrapper {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin : 0;
	height: 48px;
	overflow-x: auto;
}

.filing-tab-set-content-wrapper {
	width: 100%;
	height: calc(100% - 46px);
}

.filing-tab-title {
	flex: 1 1 0;
	padding: 14px 14px;
	background-color: #14161b;
	font-family: "San Francisco Text", sans-serif;
	font-size: 14px;
	line-height: normal;
	letter-spacing: -0.26px;
	color: #abdafd;
}

.filing-tab-title:hover {
	background-color: #171b21;
	cursor: pointer;
}

.filing-tab-title-selected {
	border-bottom: 2px solid #005cc5;
	background-color: #171b21;
	color: #005cc5;
	text-decoration: underline;
}

.filing-tab-title-disabled, .filing-tab-title-disabled:hover {
	cursor: default;
}

.filing-tab-title-blank, .filing-tab-title-blank:hover {
	background-color: #171b21;
	cursor: default;
}

.filing-tab-content {
	width: 100%;
	height: 100%;
	font-family: "San Francisco Text", sans-serif;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.44px;
	color: #00ff0f;
	white-space: nowrap;
	word-break: keep-all;
	overflow: scroll;
}

.filing-tab-content-disabled, .filing-tab-content-disabled:hover {
	cursor: default;
}


.inspector-page-wrapper {
	margin: -20px 0 -20px -20px;
	width: calc(100% + 40px);
	height: calc(100vh - 64px);
	display: table;
	background-color: #111111;
}

.inspector-page-content {
	width: calc(100% - 360px);
	height: 100%;
	display: table-cell;
	vertical-align: top;
}

.inspector-page-content-presenter {
	width: calc(100% - 880px);
}

.inspector-page-marquee-wrapper {
	position: absolute;
	left: 0;
	width: 100%;
	height: fit-content;
	z-index: 9;
	display: block;
	background-color: rgba(255, 0, 255, 0.0);
}

.inspector-page-artboards-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background: #111111 url(../../../assets/images/backgrounds/bg-checkerboard.png) repeat;
	overflow: scroll;
	z-index: 1;
	cursor: crosshair;
	-ms-touch-action: none;
	touch-action: none;
}

.inspector-page-artboards-wrapper-scrolling, .inspector-page-artboards-wrapper:active {
	cursor: move;
}

.inspector-page-artboard-caption {
	position: absolute;
	top: -24px;
	left: -1px;
	width: max-content;
	padding: 5px;
	border: 1px solid #005cc5;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 10px;
	line-height: normal;
	color: #005cc5;
	text-transform: uppercase;
}

.inspector-page-canvas-wrapper {
	position: fixed;
	top: -50px;
	left: -100px;
	z-index: 2;
	background-color: rgba(255, 0, 255, 0.0);
}

.inspector-page-slices-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	overflow: hidden;
}

.inspector-page-group-slices-wrapper, .inspector-page-background-slices-wrapper, .inspector-page-symbol-slices-wrapper, .inspector-page-slice-slices-wrapper, .inspector-page-textfield-slices-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.inspector-page-group-slices-wrapper, .inspector-page-artboard-slices-wrapper {
	z-index: 4;
}

.inspector-page-background-slices-wrapper {
	z-index: 5;
}

.inspector-page-symbol-slices-wrapper {
	z-index: 6;
}

.inspector-page-slice-slices-wrapper {
	z-index: 7;
}

.inspector-page-textfield-slices-wrapper {
	z-index: 8;
}

.inspector-page-invite-modal-wrapper {
	text-align: left;
}

.inspector-page-footer-wrapper {
	position: relative;
	bottom: 58px;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.25);
	vertical-align: middle;
}

.inspector-page-footer-logo {
	width: 35px;
	height: 16px;
	filter: saturate(0) brightness(2);
}

.inspector-page-footer-logo:hover {
	cursor: pointer;
}

.inspector-page-footer-button-wrapper {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.inspector-page-footer-button {
	width: fit-content;
	height: 38px;
	margin-right: 20px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 14px;
}

.inspector-page-zoom-button:last-child {
	margin-right: 0;
}

.inspector-page-panel {
	width: 360px;
	max-width: 360px;
	height: calc(100vh - 64px);
	max-height: calc(100vh - 64px);
	display: table-cell;
	vertical-align: top;
	background-color: #1a1e23;
}

.inspector-page-panel-presenter {
	width: 880px;
	max-width: 880px;
	height: 100%;
	max-height: calc(100vh - 64px);
}

.inspector-page-panel-content-wrapper {
	min-height: 100%;
	overflow: auto;
	/*border: 1px solid #ff00ff;*/
}

.inspector-page-panel-presenter-wrapper {
	/*display: table;*/
	display: flex;
	width: 100%;
}

.inspector-page-panel-full-height-content-wrapper {
	/*height: calc(100vh - 64px);*/
	height: calc(100vh - 64px);
}

.inspector-page-panel-split-height-content-wrapper {
	/*height: calc(50vh - 32px);*/
	height: calc(50vh - 40px);
}

.inspector-page-panel-full-width-content-wrapper {
	width: 100%;
}

.inspector-page-panel-split-width-content-wrapper {
	/*display: table-cell;*/
	display: flex;
	width: 50%;
}

.inspector-page-panel-button-wrapper {
	padding: 10px;
}

.inspector-page-panel-button {
	width: 100%;
	margin-bottom: 10px;
}

.inspector-page-panel-button:only-child, .inspector-page-panel-button:last-child {
	margin-bottom: 0
}

.inspector-page-specs-list-wrapper {
	width: 100%;
	font-family: "San Francisco Text", sans-serif;
	font-size: 14px;
	letter-spacing: 0.44px;
	line-height: 20px;
	color: #ffffff;
}

.inspector-page-specs-list-item-attribute, .inspector-page-specs-list-item-val {
	width: 50%;
}

.inspector-page-specs-list-item-attribute:hover, .inspector-page-specs-list-item-val:hover {
	cursor: pointer;
}

.inspector-page-specs-list-item-val {
	color: #00ff0f;
}

.inspector-page-color-swatch {
	width: 12px;
	height: 12px;
	border: 1px solid #030307;
	border-radius: 2px;
	margin-left: 6px;
}


.marquee-banner {
	position: relative;
	height: 38px;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 15px;
	letter-spacing: -0.5px;
	overflow: hidden;
}

.marquee-banner-intro {
	animation: 0.125s ease-in 0s 1 forwards marquee-banner-intro;
}

.marquee-banner-outro {
	animation: 0.125s ease-out 0s 1 forwards marquee-banner-outro;
}

.marquee-banner-content-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.marquee-banner-close-button {
	position: absolute;
	top: 9px;
	right: 12px;
	min-width: fit-content;
	min-height: fit-content;
	padding: 0;
	background-color: rgba(0, 92, 197, 0.0);
}

.marquee-banner-close-button:hover {
	background-color: rgba(0, 92, 197, 0.0);
	color: #abdafd;
}

.marquee-banner-content {
	width: 100%;
	height: 100%;
	padding: 5px 0;
	text-align: center;
	color: #abdafd;
}

.marquee-banner-content-url {
	background-color: rgba(0, 92, 197, 0.95);
	color: #ffffff;
}

.marquee-banner-content-url:hover {
	cursor: pointer;
}

.marquee-banner-content-tooltip {
	text-shadow:
			/*3px 3px 0 #1a1b1d,*/
		-1px -1px 0 rgba(26, 27, 29, 0.75),
		 1px -1px 0 rgba(26, 27, 29, 0.75),
		-1px  1px 0 rgba(26, 27, 29, 0.75),
		 1px  1px 0 rgba(26, 27, 29, 0.75);
	font-weight: bold;
	color: #ffffff;
}


.slice-rollover-item {
	position: absolute;
	transform-origin: 0 0;
	background-color: rgba(0, 0, 0, 0.0);
	border: 1px solid rgba(0, 92, 197, 0.0);
}

.slice-rollover-item:hover {
	cursor: pointer;
}

.slice-rollover-item-artboard-filled, .slice-rollover-item-slice-filled, .slice-rollover-item-symbol-filled, .slice-rollover-item-textfield-filled, .slice-rollover-item-background-filled, .slice-rollover-item-group-filled {
	border-color: rgba(0, 92, 197, 0.0);
}


.upload-processing-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 360px);
	height: 100%;
	z-index : 8;
	padding-top: 70px;
	background-color: rgba(0, 0, 0, 0.875);
}

.upload-processing-title {
	margin-bottom: 45px;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 48px;
	letter-spacing: -2.53px;
	color: #c8e1fd;
}

.upload-processing-url, a.upload-processing-url, a:link.upload-processing-url, a:visited.upload-processing-url, a:active.upload-processing-url {
	margin-bottom: 50px;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 28px;
	text-decoration: none;
	letter-spacing: -1.47px;
	color: #005cc5;
}

.upload-processing-url:hover, a:hover.upload-processing-url {
	cursor: pointer;
	text-decoration: underline;
}

.upload-processing-button-wrapper {
	margin-bottom: 55px;
}

.upload-processing-image {
	width: 100%;
	height: 100%;
}

.upload-processing-image-placeholder:hover {
	cursor: pointer;
}
