
@keyframes inspector-page-url-outro {
	0% { opacity: 1; }
	99% { width: calc(100% - 360px); }
	100% { opacity: 0; width: 0; }
}

.inspector-page-wrapper {
	margin: -20px 0 -20px -20px;
	width: calc(100% + 40px);
	height: calc(100vh - 64px);
	display: table;
	background-color: #111111;
}

.inspector-page-content {
	width: calc(100% - 360px);
	height: 100%;
	display: table-cell;
	vertical-align: top;
}

.inspector-page-artboards-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background: #111111 url(../../../assets/images/backgrounds/bg-checkerboard.png) repeat;
	overflow: scroll;
	z-index: 1;
	cursor: crosshair;
	-ms-touch-action: none;
	touch-action: none;
}

.inspector-page-artboards-wrapper-scrolling, .inspector-page-artboards-wrapper:active {
	cursor: move;
}

.inspector-page-artboard-caption {
	position: absolute;
	top: -24px;
	left: -1px;
	width: max-content;
	padding: 5px;
	border: 1px solid #005cc5;
	font-family: "San Francisco Text Medium", sans-serif;
	font-weight: 500;
	font-size: 10px;
	line-height: normal;
	color: #005cc5;
	text-transform: uppercase;
}

.inspector-page-canvas-wrapper {
	position: fixed;
	top: -50px;
	left: -100px;
	z-index: 2;
	background-color: rgba(255, 0, 255, 0.0);
}

.inspector-page-slices-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	overflow: hidden;
}

.inspector-page-group-slices-wrapper, .inspector-page-background-slices-wrapper, .inspector-page-symbol-slices-wrapper, .inspector-page-slice-slices-wrapper, .inspector-page-textfield-slices-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.inspector-page-group-slices-wrapper {
	z-index: 4;
}

.inspector-page-background-slices-wrapper {
	z-index: 5;
}

.inspector-page-symbol-slices-wrapper {
	z-index: 6;
}

.inspector-page-slice-slices-wrapper {
	z-index: 7;
}

.inspector-page-textfield-slices-wrapper {
	z-index: 8;
}

.inspector-page-url-wrapper {
	position: fixed;
	top: 64px;
	left: 0;
	width: calc(100% - 360px);
	z-index: 2;
	padding: 4px 0;
	background-color: rgba(0, 92, 197, 0.95);
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 15px;
	letter-spacing: -0.3px;
	color: #abdafd;
	text-align: center;
	overflow: hidden;
}

.inspector-page-url-outro {
	animation: 0.2s ease-out 0s 1 forwards inspector-page-url-outro;
}

.inspector-page-url:hover {
	cursor: pointer;
}

.inspector-page-url-close-button {
	position: absolute;
	right: 9px;
	top: 9px;
	color: #ffffff;
}

.inspector-page-url-close-button:hover {
	cursor: pointer;
}

.inspector-page-invite-modal-wrapper {
	text-align: left;
}

.inspector-page-processing-spinner {
	width: 28px;
	height: 28px;
	margin-bottom: 8px;
}

.inspector-page-invite-modal-message {
	width: 100%;
	margin-bottom: 25px;
	font-size: 14px;
	text-align: center;
}

.inspector-page-footer-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc(100% - 360px);
	z-index: 2;
	padding: 10px 20px;
	vertical-align: middle;
}

.inspector-page-footer-logo {
	width: 35px;
	height: 16px;
	filter: saturate(0) brightness(2);
}

.inspector-page-footer-button-wrapper {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.inspector-page-zoom-button {
	width: 38px;
	height: 38px;
	margin-right: 20px;
	font-size: 14px;
}

.inspector-page-zoom-button:last-child {
	margin-right: 0;
}

.inspector-page-panel {
	width: 360px;
	max-width: 360px;
	max-height: calc(100vh - 64px);
	display: table-cell;
	vertical-align: top;
	background-color: #1a1e23;
}

.inspector-page-panel-full-content-wrapper {
	width: 100%;
	height: calc(100vh - 150px);
	overflow: hidden;
}

.inspector-page-panel-split-content-wrapper {
	width: 100%;
	height: calc(50vh - 78px);
}

.inspector-page-panel-tab-wrapper {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin : 0;
	height: 48px;
	overflow-x: auto;
}

.inspector-page-panel-tab {
	flex: 1 1 0;
	padding: 14px 14px;
	background-color: #14161b;
	font-family: "San Francisco Text", sans-serif;
	font-size: 14px;
	line-height: normal;
	letter-spacing: -0.26px;
	color: #abdafd;
}

.inspector-page-panel-tab:hover {
	background-color: #171b21;
	cursor: pointer;
}

.inspector-page-panel-tab-selected {
	border-bottom: 2px solid #005cc5;
	background-color: #171b21;
	color: #005cc5;
	text-decoration: underline;
}

.inspector-page-panel-tab-blank, .inspector-page-panel-tab-blank:hover {
	background-color: #171b21;
	cursor: default;
}

.inspector-page-panel-tab-content-wrapper {
	width: 100%;
	height: calc(100% - 46px);
}

.inspector-page-panel-tab-content {
	width: 100%;
	height: 100%;
	padding: 10px;
	font-family: "San Francisco Text", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.44px;
	color: #00ff0f;
	white-space: nowrap;
	word-break: keep-all;
	overflow: auto;
}

.inspector-page-panel-button-wrapper {
	padding: 4px 10px;
}

.inspector-page-panel-button {
	width: 100%;
}

.inspector-page-panel-button:not(:last-child) {
	margin-bottom: 4px;
}

.inspector-page-tooltip {
	z-index: 10;
	position: fixed;
	left: 50%;
	top: 80px;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	color: #ffffff;
	border-radius: 3px;
	background-color: #000000;
	padding: 6px;
	font-size: 14px;
	min-width: 80px;
	text-align: center;
}


.inspector-page-specs-list-wrapper {
	width: 100%;
	font-family: "San Francisco Text", sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.44px;
	line-height: 20px;
	color: #ffffff;
}

.inspector-page-specs-list-attribute, .inspector-page-specs-list-val {
	width: 50%;
}

.inspector-page-specs-list-attribute:hover, .inspector-page-specs-list-val:hover {
	cursor: pointer;
}

.inspector-page-specs-list-val {
	color: #00ff0f;
}

.inspector-page-download-button-icon {
	font-size: 12px;
	margin-right: 8px;
}

.inspector-page-color-swatch {
	width: 12px;
	height: 12px;
	border: 1px solid #030307;
	border-radius: 2px;
	margin-left: 6px;
}


.upload-processing-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 360px);
	height: 100%;
	z-index : 10;
	padding-top: 70px;
	background-color: rgba(0, 0, 0, 0.875);
}

.upload-processing-title {
	margin-bottom: 45px;
	font-family: "San Francisco Text Medium", sans-serif;
	font-weight: 500;
	font-size: 48px;
	letter-spacing: -2.53px;
	color: #c8e1fd;
}

.upload-processing-url {
	margin-bottom: 50px;
	font-family: "San Francisco Text Medium", sans-serif;
	font-weight: 500;
	font-size: 28px;
	letter-spacing: -1.47px;
	color: #005cc5;
}

.upload-processing-url:hover {
	cursor: pointer;
}

.upload-processing-button-wrapper {
	margin-bottom: 55px;
}

.upload-processing-image {
	width: 100%;
	height: 100%;
}


.slice-rollover-item {
	position: absolute;
	transform-origin: 0 0;
	background-color: rgba(0, 0, 0, 0.0);
	border: 1px solid rgba(0, 92, 197, 0.0);
}

.slice-rollover-item:hover {
	cursor: pointer;
}

.slice-rollover-item-slice-filled, .slice-rollover-item-symbol-filled, .slice-rollover-item-textfield-filled, .slice-rollover-item-background-filled, .slice-rollover-item-group-filled {
	border-color: rgba(0, 92, 197, 0.0);
}


.parts-list-wrapper {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 8px 0;
}


.part-item {
	/*margin: 0 10px;*/
	padding: 10px 0;
	border-bottom: 1px solid #2f3132;
}

.part-item:nth-child(even) {
	background-color: #24282e;
}

.part-item:first-child {
	padding-top: 0;
}

.part-item:last-child {
	border-bottom: none;
}

.part-item-image {
	width: 25%;
	height: 25%;
	margin: 0 20px 0 10px;
	padding: 4px;
	background: #1a1b1d url(../../../assets/images/backgrounds/bg-checkerboard.png) repeat;
	border: 1px solid #18191a;
	text-align: center;
}

.part-item-image-loading, .part-item-image-error {
	width: fit-content;
	height: fit-content;
	font-size: 24px;
}

.part-item-image-loading {
	color: #c8e1fd;
}

.part-item-image-error {
	color: #ff4646;
}

.part-item-title {
	width: 100%;
	color: #0267d8;
	font-size: 12px;
	letter-spacing: -0.23px;
}

.part-item-button {
	margin-right: 10px;
	font-size: 10px;
}
