
.rate-this-page-wrapper {
}

.rate-this-page-star-wrapper {
	margin-bottom: 20px;
}

.rate-this-star-item {
	padding-right: 20px;
	font-size: 30px;
	color: #24282e;
}

.rate-this-star-item:hover {
	cursor: pointer;
}

.rate-this-star-item:last-child {
	padding-right: 0;
}

.rate-this-star-item-filled {
	color: #2288fb;
}

.rate-this-comment-text {
	width: 100%;
	height: 68px;
}

.rate-this-page-form-wrapper {
	width: 50%;
	margin-bottom: 40px;
}

.rate-this-page-list-wrapper {
	width: 48%;
	margin-top: 20px;
}

.rate-this-item {
	width: 100%;
	height: 63px;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 16px;
	letter-spacing: -0.3px;
	color: #abdafd;
}

.rate-this-item:nth-child(even) {
	/*background-color: #24282e;*/
}

.rate-this-item:not(:last-child) {
	border-bottom: 1px solid #24282e;
}

.rate-this-item-image-wrapper {
	position: relative;
	width: 38px;
	height: 38px;
	background-size: cover;
	background-color: #24282e;
}

.rate-this-item-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	object-fit: scale-down;
	max-width: 100%;
}

.rate-this-item-comment {
	color: #727d8d;
	padding-left: 20px;
	font-style: italic;
}

.rate-this-item-comment:before {
	content: "– “";
}

.rate-this-item-comment:after {
	content: "”";
}

.rate-this-item-star {
	margin-left: 10px;
	font-size: 14px;
	color: #24282e;
}

.rate-this-item-star:first-child {
	margin-left: 0;
}

.rate-this-item-star-filled {
	color: #2288fb;
}

.rate-this-item-column {
	height: 60px;
	/*border : 1px solid #ff00ff;*/
}

.rate-this-item-column-index {
	min-width: 38px;
	width: 38px;
	max-width: 38px;
}

.rate-this-item-column-avatar {
}

.rate-this-item-column-username {
}

.rate-this-item-column-score {
	width: 120px;
}
