
.create-team-form {
  display: flex;
  text-align: left;
}

.create-team-form form {
  width: 50%;
}

.create-team-form form > *:not(:last-child) {
  margin-bottom: 20px;
}

.create-team-form form .dummy-form {
  margin: 0;
}

.create-team-form form .input-wrapper {
  position: relative;
  width: 100%;
}

.create-team-form form .rules-wrapper > *:not(last-child), .create-team-form form .invites-wrapper > *:not(last-child) {
  margin-bottom: 20px;
}

.create-team-form-acc {
  position: absolute;
  top: 12px;
  right: 10px;
  opacity: 0.5;
  transition: opacity 0.125s ease-out;
}

.create-team-form-acc:hover {
  opacity: 1;
  cursor: pointer;
}

.create-team-form .button-wrapper > button {
  min-width: unset;
  max-width: unset;
  width: 100%;
}