
.create-team-form {
  display: flex;
  text-align: left;
}

.create-team-form form {
  width: 50%;
}

.create-team-form form > *:not(:last-child) {
  margin-bottom: 20px;
}

.create-team-form form > .dummy-form {
  margin: 0;
}

.create-team-form form .rules-wrapper > *:not(last-child), .create-team-form form .invites-wrapper > *:not(last-child) {
  margin-bottom: 20px;
}

.create-team-form .button-wrapper > button {
  min-width: unset;
  max-width: unset;
  width: 100%;
}