
.terms-page-wrapper {
	padding: 60px 20%;
}

.terms-page-text {
}

.terms-page-text div:last-child p:last-child {
	margin-bottom: 0;
}


@media screen and (max-width: 800px) {
	.terms-page-wrapper {
		padding: 60px 30px;
	}
}
