
.confirm-dialog {
	min-width: 320px;
}

.confirm-dialog-content {
	min-width: 320px;
	max-width: 520px;
	width: min-content;
	text-align: left;
	line-height: 30px;
}

.confirm-dialog-footer-wrapper {
	display: flex;
	flex-flow: column;
	margin-top: var(--spacing-20);
	text-align: center;
}

.confirm-dialog-footer-wrapper > button {
}

.confirm-dialog-footer-wrapper > *:first-child {
}



