
.confirm-dialog {
	max-width: 316px;
}

.confirm-dialog-content {
	min-width: 320px;
	max-width: 520px;
	padding: 0 var(--orthodox-padding-less);
	text-align: left;
	line-height: 20px;
}

.confirm-dialog-button-wrapper {
	margin-top: var(--orthodox-margin-base);
	text-align: right;
}

.confirm-dialog-button-wrapper > button {
	width: 33%;
}
