
.activity-item {
	width: 100%;
	margin-bottom: 28px;
	background-color: #fafbfc;
	border: 1px solid #eaecef;
	border-radius: 4px;
	padding: 14px 20px;
	font-family: "San Francisco Text", sans-serif;
	font-size: 16px;
	letter-spacing: -0.26px;
	color: #9b9b9b;
}

.activity-item-title {
}

.activity-item-avatar {
	width: 28px;
	height: 28px;
}
