
.artboard-tree-item {
	margin-bottom: 12px;
	font-weight: 400;
	width: fit-content;
}

.artboard-tree-item-arrow {
	margin-right: 8px;
	width: 10px;
	height: 10px;
}

.artboard-tree-item-text:hover {
	text-decoration: underline;
	cursor: pointer;
}

.artboard-tree-item-text-selected {
	font-weight: bold;
	text-decoration: underline;
}

.artboard-tree-item-slices, .artboard-tree-item-hotspots, .artboard-tree-item-textfields, .artboard-tree-item-backgrounds {
	margin: 12px 0 0 20px;
}