
.comment-item {
	margin: 28px 0;
	display: table;
	font-size: 12px;
}

.comment-item-avatar {
	width: 50px;
	height: 50px;
	display: table-cell;
	margin: 0 10px 0 0;
}

.comment-item-vote-wrapper {
	display: table-cell;
	vertical-align: top;
	text-align: center;
	padding: 0 4px 0 4px;
}

.comment-item-arrow {
	font-size: 14px;
}

.comment-item-arrow:hover {
	cursor: pointer;
}

.comment-item-arrow-voted {
	color: #7ed321;
}

.comment-item-score {
}

.comment-item-content-wrapper {
	padding: 4px;
	display: table-cell;
	vertical-align: top;
}

.comment-item-date {
	margin-bottom: 3px;
}

.comment-item-text {
}
