
.page-tree-item {
	margin-bottom: 12px;
	font-weight: 400;
}

.page-tree-item:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-tree-item-arrow {
	margin-right: 4px;
	width: 10px;
	height: 10px;
}

.page-tree-item-text {

}

.page-tree-item-arrow-selected, .page-tree-item-text-selected {
	color: #7ed321;
}