
.slice-item {
	position: absolute;
	background-color: rgba(0, 255, 255, 0.33);
	zoom: 0;
}

.slice-item:hover {
	cursor: pointer;
}

.slice-item-slice {
	/*background-color: rgba(155, 95, 0, 0.25);*/
	/*border: 1px solid rgba(255, 153, 0, 0.5);*/
}

.slice-item-hotspot {
	background-color: rgba(0, 255, 255, 0.5);
	/*background-color: rgba(0, 255, 0, 0.25);*/
	/*border: 1px dashed rgba(0, 255, 0, 0.5);*/
}

.slice-item-textfield {
	background-color: rgba(0, 255, 255, 0.5);
	/*background-color: rgba(30, 0, 155, 0.25);*/
	/*border: 1px dotted rgba(30, 0, 155, 0.5);*/
}

.slice-item-background {
	background-color: rgba(0, 255, 255, 0.5);
	/*background-color: rgba(102, 102, 102, 0.25);*/
	/*border: 1px hidden rgba(102, 102, 102, 0.5);*/
}

.slice-item-plus {
	position: absolute;
	top: 2px;
	left: 2px;
	font-size: 40px;
	color: #ff9500;
	opacity: 0.75;
	display: none;
}
