
.slice-tree-item {
	margin: 12px 0 0 34px;
	font-weight: 400;
}

.slice-tree-item:hover {
	cursor: pointer;
	text-decoration: underline;
}

.slice-tree-item-icon {
	margin-right: 8px;
	width: 10px;
	height: 10px;
}

.slice-tree-item-text {

}

.slice-tree-item-text-selected {
	color: #7ed321;
}