
.home-page-wrapper {
}

.home-page-header {
	width: 100%;
	margin: 40px 0;
	text-align: center;
}

.home-page-header-logo {
	width: 138px;
	height: 63px;
	margin-bottom: 50px;
}

.home-page-header-title {
	width: 50%;
}

@media screen and (max-width: 600px) {
	.home-page-header-title {
		width: 100%;
	}
}

.home-page-header-button-wrapper {

}