
.section-expander {
	margin-bottom: 50px;
	/*border: 1px dashed #ff00ff;*/
}

.section-expander:last-child {
	margin-bottom: 0;
}

.section-expander-title {
}

.section-expander-content-wrapper {
	display: block;
	position: relative;
	overflow: hidden;
	/*transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
	transition: height 250ms cubic-bezier(0.5, 0.9, 0.1, 1.0);
}

.section-expander-content-wrapper::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	content: "";
	background: linear-gradient(transparent 75%, #f7f7f7);
	pointer-events: none;
	will-change: opacity;
	transition: opacity 250ms;
}

.section-expander-content-wrapper-open::after {
	opacity: 0;
}

.section-expander-content {
	position: relative;
	margin-top: 40px;
	transition: 333ms;
}

.section-expander-title-open h2 {
	font-weight: 500;
}
