
.section-expander {
	margin-bottom: var(--orthodox-margin-huge);
}

.section-expander:last-child {
	margin-bottom: 0;
}

.section-expander-content-wrapper {
	margin-top: var(--orthodox-margin-half);
}

.section-expander-content {
	position: relative;
	margin: var(--orthodox-margin-base) 0 0 3px;
}

.section-expander-content div {
	margin: var(--orthodox-margin-mini) 0 0 var(--orthodox-margin-base);
}
