
.header-profile {
	position: relative;
	margin-left: 10px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.header-profile-title {
	color: rgba(var(--link-color), 1.0);
	transition: color 125ms;
}

.header-profile-title:hover {
	color: rgba(var(--link-hover-color), 1.0);
	cursor: pointer;
}


.header-profile-avatar-wrapper {
	position: relative;
	width: 24px;
	height: 24px;
	margin-left: 10px;
	padding: 3px;
	border: 1px solid rgba(var(--site-fg-color), 1.0);
	border-radius: 50%;
	font-size: 12px;
	font-weight: 500;
}

.header-profile-avatar-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	opacity: 0.875;
	clip-path: circle(8px at center);
	transition: opacity 0.125s ease-out;
}

.header-profile-avatar-image:hover {
	cursor: pointer;
	opacity: 1;
}


.profile-popover {
	width: 228px;
}

.profile-popover-item {
	padding: 14px 20px;
	border-bottom: 1px solid rgba(var(--border-color), 1.0);
	color: rgba(var(--link-color), 1.0);
	transition: color 125ms;
}

.profile-popover-item:hover {
	cursor: pointer;
	color: rgba(var(--link-hover-color), 1.0);
}


.profile-popover-item:last-child {
	border-bottom: none;
}