
.header-profile {
	position: relative;
	margin-left: 20px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.header-profile-title {
	color: var(--link-color);
	transition: color 125ms;
}

.header-profile-title:hover {
	color: var(--link-hover-color);
	cursor: pointer;
}


.header-profile-avatar-wrapper {
	position: relative;
	width: 18px;
	height: 18px;
	margin-left: 10px;
	background-size: cover;
	overflow: hidden;
	background-color: #1a1e23;
	/*border: 1px solid #ff00ff;*/
}

.header-profile-avatar-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	object-fit: scale-down;
	max-width: 100%;
	opacity: 0.875;
}

.header-profile-avatar-image:hover, .header-profile-arrow:hover {
	cursor: pointer;
	opacity: 1;
	color: #f7fafc;
}


.profile-popover {
	width: 228px;
}

.profile-popover-item {
	padding: 14px 20px;
	border-bottom: 1px solid var(--border-color);
	color: var(--link-color);
	transition: color 125ms;
}

.profile-popover-item:hover {
	cursor: pointer;
	color: var(--link-hover-color);
}


.profile-popover-item:last-child {
	border-bottom: none;
}