
.documents-page-wrapper {
	background-color: #1f2329;
}

.documents-list {

}

.documents-list-item-wrapper {
	width: 100%;
	padding: 20px;
}

.document-list-item {
	width: 280px;
	margin-bottom: 20px;
}

.document-list-item-image-wrapper {
	position: relative;
	width: 280px;
	height: 186px;
	background-color: #000000;
	border-radius: 8px;
}

.document-list-item-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: scale-down;
}

.document-list-item-details-wrapper {
	margin: 10px 0;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
}

.document-list-item:last-child {
	margin-bottom: 0;
}

.document-content {

}