
@keyframes component-menu-intro {
	from { top: 5px; }
	to { top: 0; }
}

@keyframes component-menu-outro {
	/*from { transform: scale(1.05); }*/
	/*to { transform: scale(0.9); }*/
	0%   { transform: scale(1.00); }
	30%  { transform: scale(1.00); }
	100% { transform: scale(0.90); }
}


.component-menu-wrapper {
	z-index: 1001;
	transition: opacity 125ms ease-out;
}

.component-popover {
	position: absolute;
	top: 0;
	left: 0;
	width: 278px;
	height: 394px;
	background-color: rgba(var(--site-bg-color), 1.0);
	border: 1px solid rgba(var(--border-color), 1.0);
	border-radius: 10px;
	box-shadow: var(--overlay-shadow);
}

.component-menu-intro {
	animation: 0.125s cubic-bezier(0.0, 0.2, 0.4, 1.0) 0s 1 forwards component-menu-intro;
}

.component-menu-outro {
	animation: 0.125s cubic-bezier(0.0, 0.3, 0.5, 1.0) 0s 1 forwards component-menu-outro;
}

.component-menu-content-wrapper {
}

.component-menu-content-wrapper form {
	width: 100%;
	padding: 20px;
}

.component-menu-content-wrapper button {
	width: 100%;
}

.component-menu-content-wrapper textarea {
	width: 228px;
	height: 128px;
	margin: 5px 5px 25px 5px;
	padding: 10px;
	border: 1px solid rgba(var(--border-color), 1.0);
	border-radius: 10px;
	text-align: left;
}

.component-menu-item-wrapper > * {
	padding: 15px 20px;
	border-bottom: 1px solid rgba(var(--border-color), 1.0);
}

.component-menu-item-wrapper > *:first-child {
	padding-top: 15px;
}


.component-menu-item {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start; /* h-align */
	align-items: center; /* v-align */
	width: 100%;
	color: rgba(var(--link-color), 1.0);
	transition: color 0.125s ease-out;
}

.component-menu-item:hover {
	color: rgba(var(--link-hover-color), 1.0);
	cursor: pointer;
}

.component-menu-item > * {
	margin: auto;
	/*border: 1px dotted #ff00ff;*/
	flex: 1 1 auto;
}

.component-menu-item > *:last-child {
	flex: 1 0 0;
}

.component-menu-item-spacer {
	flex: 5 0 0;
}


.component-menu-item-acc {
	width: 18px;
	height: 18px;
	padding: 1px;
	border: 1px solid rgba(var(--site-fg-color), 1.0);
	border-radius: 50%;
	font-size: 11px;
	font-weight: 500;
	text-align: center;
	color: rgba(var(--link-color), 1.0);
}
