
.ai-status {
	width: 200px;
	height: 50px;
	margin: 0 18px 25px 18px;
	border-radius: 25px;
	padding: 2px 24px;
	text-align: center;
	display: table;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	border: 1px solid #ffffff;
	background-color: #7ed321;
	z-index: 100;
	opacity: 0;
}

.ai-status-text {
	display: table-cell;
	font-weight: 500;
	vertical-align: middle;
}