
.ai-status {
	width: 200px;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	z-index: 100;
}

.ai-status-main, .ai-status-tail-1, .ai-status-tail-2, .ai-status-tail-3, .ai-status-tail-4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 50px;
	border-radius: 6px;
	background-color: #002fff;
}

.ai-status-main {
	display: table;
	z-index: 100;
}

.ai-status-tail-1 {
	top: 10px;
	opacity: 0.5;
	z-index: 99;
}

.ai-status-tail-2 {
	top: 15px;
	opacity: 0.33;
	z-index: 98;
}

.ai-status-tail-3 {
	top: 20px;
	opacity: 0.25;
	z-index: 97;
}

.ai-status-tail-4 {
	top: 25px;
	opacity: 0.125;
	z-index: 96;
}

.ai-status-text {
	display: table-cell;
	font-weight: 500;
	vertical-align: middle;
}