
.bottom-nav-wrapper {
	width: calc(100% + 40px);
	font-family: "San Francisco Text", sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: -0.3px;
	margin: 0 -20px;
	padding: 10px 20px;
}

.bottom-nav-logo {
	width: 41px;
	height: 19px;
	margin-bottom: 10px;
}

.bottom-nav-logo:hover {
	cursor: pointer;
}

.bottom-nav-link-wrapper {
	padding-bottom: 10px;
	width: 100%;
}

.bottom-nav-link, a.bottom-nav-link {
	display: inline;
	color: #0267d8;
	text-decoration: underline;
	padding-right: 24px;
}

.bottom-nav-link:hover, .bottom-nav-link a:hover {
	text-decoration: none;
	cursor: pointer;
}

.bottom-nav-link a, .bottom-nav-link a:active, .bottom-nav-link a:link, .bottom-nav-link a:visited {
	text-decoration: underline;
	color: #0267d8;
}
