
.bottom-nav-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.875);
}

.copyright {
	margin: 5px 0;
	color: #999999;
	font-size: 11px;
	font-weight: 300;
}


@media only screen and (max-width: 600px) {
}
