
.required-glyph {
	position: absolute;
	right: 6px;
	top: 6px;
	color: #999999;
	font-size: 18px;
	z-index: 101;
}

.required-glyph-ok {
	color: #33aa00;
}

.input-tip {
	position: absolute;
	right: 9px;
	top: 9px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	padding: 6px 8px;
	border-radius: 4px;
}

.input-tip-red {
	background-color: #ff7d8d;
}

.input-tip-green {
	background-color: #61a913;
}

.input-tip-red:hover, .input-tip-green:hover {
	cursor: pointer;
}
