
.lightbox-wrapper {
	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.875);
}

.lightbox-container {
	position: fixed;
	width: auto;
	max-width: 408px;
	height: auto;
	max-height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 11;
	overflow: hidden;
}

.lightbox-content {
	overflow-x: hidden;
	overflow-y: auto;
}

.lightbox-button {
}

.lightbox-image {
	width: 408px;
}
