
.popup-wrapper {
	z-index: 1001;
	position: fixed;
	left: 50%;
	top: 100px;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	color: #0267d8;
	border: 1px solid #eaecef;
	border-radius: 8px;
	background-color: #fafbfc;
	padding: 16px;
}

.popup-icon {
	font-size: 28px;
}

.popup-content {
	margin-left: 16px;
}