
.side-nav-wrapper {
	position: fixed;
	top: 68px;
	width: 300px;
	overflow-y: scroll;
	height: 100%;
	background-color: #fafbfc;
	border-right: 1px solid #eaecef;
	padding: 28px 28px 0 28px;
}

.side-nav-link-wrapper {
	margin: 28px;
	height: 100%;
}

.side-nav-bottom-wrapper {
	padding: 100px 0 80px 0;
}

.side-nav-invite-button {
	width: 100%;
	margin-bottom: 28px;
}

.side-nav-header {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 28px;
}

.side-nav-arrow {
	margin-right: 8px;
	width: 8px;
	height: 8px;
}

.nav-link {
	width: fit-content;
	color: #0267D8;
	margin-bottom: 10px;
}

.nav-link:hover, .nav-link a:hover {
	text-decoration: none;
	cursor: pointer;
}

.nav-link a, .nav-link a:active, .nav-link a:link, .nav-link a:visited {
	text-decoration: none;
	color: #0267D8;
}

.nav-link a:active {
	color: #eeeeee;
}

.copyright {
	color: #999999;
	font-size: 10px;
	font-weight: 300;
	margin-top: 20px;
}
