
.side-nav-back {
	margin-bottom: 12px;
	font-weight: 400;
}

.side-nav-back:hover {
	cursor: pointer;
	text-decoration: underline;
}

.side-nav-back-arrow {
	width: 10px;
	height: 10px;
	margin-right: 8px;
}

.side-nav-back-text {

}

.side-nav-back-text-selected {
	color: #7ed321;
}