
.side-nav-wrapper {
	position: fixed;
	top: 58px;
	/*width: 301px;*/
	width: 0;
	overflow-y: scroll;
	height: calc(100% - 58px);
	background-color: #fafbfc;
	border-right: 1px solid #eaecef;
	padding: 22px 20px 22px 25px;
	color: #9b9b9b;
	display : none;
	visibility: hidden;
}

.side-nav-top-wrapper {
	padding-bottom: 18px;
	border-bottom: 1px solid #eaecef;
}

.side-nav-header {
	margin-bottom: 33px;
}

.side-nav-subtext {
	font-family: "San Francisco Text", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: -0.27px;
	color: #696969;
}

.side-nav-tree-wrapper {
}

.side-nav-link {
	font-size: 12px;
	color: #999999;
	text-decoration: underline;
	margin: 34px 0 10px 0;
	width: fit-content;
}

.side-nav-link:hover {
	cursor: pointer;
	text-decoration: none;
}

.side-nav-team-wrapper {
	font-size: 12px;
	padding: 22px 0;
	margin-bottom: 11px;
	border-bottom: 1px solid #eaecef;
}

.side-nav-account-wrapper {

}

.side-nav-bottom-wrapper {
	padding: 100px 0 65px 0;
}

.side-nav-bottom-wrapper-fixed {
	position: absolute;
	bottom: 88px;
	left: 24px;
}

.side-nav-arrow {
	margin-right: 8px;
	width: 8px;
	height: 8px;
}

.nav-link {
	width: fit-content;
	color: #0267D8;
	margin-bottom: 5px;
	font-size: 12px;
	text-decoration: underline;
}

.nav-link:hover, .nav-link a:hover {
	text-decoration: none;
	cursor: pointer;
}

.nav-link a, .nav-link a:active, .nav-link a:link, .nav-link a:visited {
	text-decoration: underline;
	color: #0267D8;
}
