
.side-nav-wrapper {
	position: fixed;
	top: 58px;
	width: 300px;
	overflow-y: scroll;
	height: 100%;
	background-color: #fafbfc;
	border-right: 1px solid #eaecef;
	padding: 24px;
	letter-spacing: -0.27px;
}

.side-nav-link-wrapper {
	margin: 28px;
	height: 100%;
}

.side-nav-top-wrapper {
}

.side-nav-invite-button {
	width: 100%;
	margin-bottom: 28px;
}

.side-nav-header {
	margin-bottom: 28px;
}

.side-nav-tree-wrapper {
}

.side-nav-bottom-wrapper {
	padding: 100px 0 65px 0;
}

.side-nav-bottom-wrapper-fixed {
	position: absolute;
	bottom: 88px;
	left: 24px;
}

.side-nav-arrow {
	margin-right: 8px;
	width: 8px;
	height: 8px;
}

.nav-link {
	width: fit-content;
	color: #0267D8;
	margin-bottom: 15px;
}

.nav-link:hover, .nav-link a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.nav-link a, .nav-link a:active, .nav-link a:link, .nav-link a:visited {
	text-decoration: none;
	color: #0267D8;
}
