
.side-nav-item {
	margin-bottom: 12px;
	font-weight: 400;
}

.side-nav-item:hover {
	cursor: pointer;
	text-decoration: underline;
}

.side-nav-item-arrow {
	font-size: 14px;
	color: #ffffff;
	margin-right: 10px;
}

.side-nav-item-text {

}

.side-nav-item-arrow-selected, .side-nav-item-text-selected {
	text-transform: uppercase;
	color: #7ed321;
}