
.stripe-overlay-logo {
	margin: 28px 0;
}

.stripe-overlay-faq {
	width: 400px;
	margin-bottom: 56px;
}

.stripe-overlay-faq-title {
	margin-bottom: 28px;
	font-family: "Poppins Bold", sans-serif;
	font-size: 24px;
}

.stripe-overlay-faq-content {

}