
.tooltip-wrapper {
	width: 350px;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	position: fixed;
	left: 50%;
	bottom: 120px;
	font-family: "Poppins Medium", sans-serif;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
}

.tooltip-content, .tooltip-tail-1, .tooltip-tail-2, .tooltip-tail-3, .tooltip-tail-4 {
	position: absolute;
	/*top: 0;*/
	/*left: 0;*/
	width: 100%;
	border-radius: 6px;
	background-color: #002fff;
	padding: 20px;
}

.tooltip-content {
	display: table;
	z-index: 100;
}

.tooltip-text {
	display: table-cell;
	font-weight: 500;
	vertical-align: middle;
}

.tooltip-tail-1 {
	top: 15px;
	opacity: 0.5;
	z-index: 99;
}

.tooltip-tail-2 {
	top: 25px;
	opacity: 0.33;
	z-index: 98;
}

.tooltip-tail-3 {
	top: 35px;
	opacity: 0.25;
	z-index: 97;
}

.tooltip-tail-4 {
	top: 45px;
	opacity: 0.125;
	z-index: 96;
}


@media only screen and (max-width: 600px) {
	.tooltip-wrapper {
		top: 20px;
		left: 50%;
		width: auto;
		height: 50px;
		transform: translate(-50%, 0%);
		-webkit-transform: translate(-50%, 0%);
	}

	.tooltip-content {
		padding-left: 8px;
		font-size: 22px;
		line-height: 28px;
	}
}