
.top-nav-profile {
}

.top-nav-profile-avatar {
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-right: 10px;
}

.top-nav-profile-arrow {
	font-size: 18px;
	color: #ffffff;
}

.top-nav-profile-arrow:hover {
	cursor: pointer;
	opacity: 0.8;
}

.top-nav-profile-bubble-wrapper {
	position: absolute;
	top: 54px;
	right: 10px;
	width: 160px;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 8px;
}

.top-nav-profile-bubble-notch {
	position: absolute;
	top: -12px;
	right: 12px;
	font-size: 18px;
	color: #ffffff;
}
