
.top-nav-wrapper {
	position: fixed;
	width: 100%;
	background-color: #111111;
	display: table;
	z-index: 3;
}

.top-nav-column {
	display: table-cell;
	height: 58px;
	vertical-align: middle;
}

.top-nav-column-left {
	width: 800px;
}

.top-nav-column-right {
	padding-right: 20px;
	text-align: right;
}

.top-nav-logo {
	width: 48px;
	height: 22px;
	padding-left: 28px;
}

.top-nav-logo:hover {
	cursor: pointer;
}

.top-nav-link {
	color: #ffffff;
	margin-left: 28px;
	letter-spacing: -0.3px;
}

.top-nav-link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.top-nav-link-selected {
	color: #9b9b9b;
}

.top-nav-upload-button {
	font-family: "San Francisco Text", sans-serif;
	font-size: 14px;
	padding: 3px 14px;
}

.top-nav-avatar {
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-right: 10px;
}

.top-nav-profile-arrow {
	font-size: 16px;
	color: #ffffff;
}

.top-nav-avatar:hover, .top-nav-profile-arrow:hover {
	cursor: pointer;
}