
.top-nav-profile {
}

.top-nav-profile-avatar {
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-right: 10px;
}

.top-nav-profile-arrow {
	font-size: 18px;
	color: #ffffff;
}

.top-nav-profile-arrow:hover {
	cursor: pointer;
	opacity: 0.8;
}

.top-nav-profile-bubble-wrapper {
	position: absolute;
	top: 55px;
	right: 18px;
	width: 120px;
	background-color: #ffffff;
	padding: 8px 8px 6px 8px;
	border-radius: 4px;
}

.top-nav-profile-bubble-notch {
	position: absolute;
	top: -12px;
	right: 8px;
	font-size: 18px;
	color: #ffffff;
}

.top-nav-profile-link {
	margin-bottom: 6px;
	font-family: "San Francisco Text SemiBold", sans-serif;
	font-weight: 600;
	letter-spacing: -0.23px;
	color: #0267D8;
}
