
.top-nav-wrapper {
	position: fixed;
	width: 100%;
	display: table;
	z-index: 3;
	background-color: #24282e;
	font-family: "San Francisco Text Medium", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 0;
	letter-spacing: -0.3px;
}

.top-nav-column {
	display: table-cell;
	width: 50%;
	height: 64px;
	vertical-align: middle;
}

.top-nav-column-left {
	padding-left: 20px;
}

.top-nav-column-right {
	padding-right: 20px;
	text-align: right;
}

.top-nav-link, a.top-nav-link {
	color: #abdafd;
	margin-right: 22px;
	letter-spacing: -0.3px;
	text-decoration: none;
}

.top-nav-link:hover, .top-nav-link a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.top-nav-link:active, .top-nav-link a:active {
	color: #2288fb;
}

.top-nav-link-selected, a.top-nav-link-selected {
	color: #2288fb;
	text-decoration: underline;
}
