
.nav-logo {
	width: 158px;
	height: 18px;
}

.nav-link {
	padding-left: 20px;
	font-size: 12px;
	color: #002FFF;
}

.nav-link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.nav-link a, .nav-link a:active, .nav-link a:link, .nav-link a:visited {
	text-decoration: none;
	color: #002FFF;
}

.nav-link-active, .nav-link:active, .nav-link a:active {
	color: #9b9b9b;
	text-decoration: none;
}

.nav-link-close {
	width: 20px;
	height: 20px;
}

.nav-link-close:hover {
	cursor: pointer;
	opacity: 0.75;
}