
.top-nav-rate-wrapper {
}

.top-nav-rate-star-wrapper {
}

.top-nav-rate-star {
	padding-right: 8px;
	vertical-align: middle;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.2);
}

.top-nav-rate-star:last-child {
	padding-right: 0;
}

.top-nav-rate-star:hover {
	cursor: pointer;
}

.top-nav-rate-star-filled {
	color: #2288fb;
}
