
.upload-header-wrapper {
	display: table;
	width: calc(100% + 40px);
	height: 306px;
	margin: -20px -20px 20px -20px;
	background: #1a1b1d url(../../assets/images/backgrounds/bg-checkerboard.png) repeat;
}

.upload-header-dz {
	display: table-cell;
	width: 100%;
	height: 100%;
	padding: 20px 10px;
	text-align: center;
	vertical-align: middle;
}

.upload-header-subtitle {
	margin: -28px 0 20px 0;
	font-family: "San Francisco Text Medium", sans-serif;
	font-weight: 500;
	font-size: 28px;
	letter-spacing: -1.47px;
	color: #005cc5;
}

.upload-header-button-wrapper {
}
