
.home-page-wrapper {
}

.home-page-form {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	align-items: center; /* text-align: center */
	/* justify-content: center; /* vertical-align: middle */
	margin-bottom: 75px;
}

.home-page-element-wrapper {
	width: 100%;
	margin-bottom: 30px;
	border-radius: 20px;
}

.home-page-element {
}

.home-page-element-landscape {
	width: 100%;
}
.home-page-element-portrait {
	width: 100%;
	height: 100%;
}


@media screen and (max-width: 800px) {
	.home-page-form {
		margin-bottom: 45px;
	}
}
