
.home-page-wrapper {
}

.home-page-content {
	padding: 50px 0;
}

.home-page-content:nth-child(even) {
	background-color: #24282e;
}

.home-page-creator-wrapper {
	position: relative;
}

.home-page-creator-logo {
	width: 40%;
}

.home-page-creator-logo-adjacent {
	margin-left: 60px;
}

.home-page-creator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}

@media screen and (max-width: 800px) {
	.home-page-creator-wrapper {
		padding: 0 20px;
	}

	.home-page-creator-logo, .home-page-creator-logo-adjacent {
		width: 100%;
		margin-top: 20px;
		margin-left: 0
	}

	.home-page-creator {
		padding: 20px;
	}
}

