
.home-page-wrapper {
}

.home-page-content {
	width: 100%;
	border-radius: 20px;
}

.home-page-element {
	width: 100%;
}


.home-page-form {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	align-items: center; /* text-align: center */
	/* justify-content: center; /* vertical-align: middle */
	margin-bottom: 75px;
}

@media screen and (max-width: 800px) {
	.home-page-header-form {
		margin-bottom: 45px;
	}
}
