
.home-page-wrapper {
}

.home-page-content {
	padding: 70px 0 20px 0;
	border: 1px dotted rgba(255, 0, 255, 0.0);
}

.home-page-logo-wrapper {
	margin-top: 50px;
	padding-bottom: 20px;
}

.home-page-thank-you-logo-wrapper {
	margin-bottom: 180px;
}

.home-page-logo-npm {
	width: 117px;
	height: 48px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.home-page-logo-xd {
	width: 68px;
	height: 68px;
}

.home-page-content:nth-child(even) {
	background-color: #24282e;
}

.home-page-creator-wrapper {
	position: relative;
	margin: 20px 0 130px 0;
}

.home-page-creator-logo {
	width: 35%;
}

.home-page-creator-logo-adjacent {
	margin-left: 60px;
}

.home-page-creator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}

@media screen and (max-width: 800px) {
	.home-page-creator-wrapper {
		margin-top: -20px;
		padding: 0 20px;
	}

	.home-page-creator-logo, .home-page-creator-logo-adjacent {
		width: 75%;
		margin-top: 20px;
		margin-left: 0
	}

	.home-page-creator {
		padding: 20px;
	}
}

.home-page-button-wrapper {
	margin-bottom: 80px;
}