
.share-popover {
	width: 250px;
	padding: var(--orthodox-padding-base);
}

.share-popover-url {
	margin: var(--orthodox-margin-half) var(--orthodox-margin-base) var(--orthodox-margin-base) var(--orthodox-margin-base);
	padding-bottom: var(--orthodox-padding-half);
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
	word-break: break-all;
	transition: color 0.125s ease-out;
}

.share-popover-url:hover {
	cursor: pointer;
	color: rgba(var(--link-hover-color), 1.0);
}

.share-popover-form-wrapper {
}

.share-popover-form-wrapper form > * {
	width: 100%;
	margin-bottom: var(--orthodox-margin-base);
}

.share-popover-form-wrapper form > *:last-child {
	margin-bottom: 0;
}
