
.upload-header-wrapper {
	width: calc(100% + 40px);
	height: calc(100vh - 64px);
	margin: -20px;
	background: #1a1b1d url(../../../assets/images/backgrounds/bg-checkerboard.png) repeat;
}

.upload-header-dz {
	width: 100%;
	height: calc(100% - 216px);
	text-align: center;
}

.upload-header-logo {
	width: 138px;
	height: 63px;
	margin-bottom: 15px;
}

.upload-header-title {
}

.upload-header-subtitle {
	margin-bottom: 50px;
	color: #545454;
}

.upload-header-button-wrapper .adjacent-button {
	margin-right: 10px;
}

.upload-header-image-wrapper {
	position: fixed;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
}

.upload-header-image {
	width: 860px;
	height: 266px;
}