
.pricing-page {
	padding: var(--orthodox-padding-page) 20%;
}

.pricing-page-text p {
	padding-bottom: 70px;
}

.pricing-page-section-wrapper {
	line-height: var(--orthodox-padding-more);
	text-align: justify;
}


.pricing-page-section-title {
	display: flex;
	align-items: center;
	width: 100%;
}

.pricing-page-section-title h2 {
	flex: 1 0 auto;
	/*border: 1px dotted #ff00ff;*/
}

.pricing-page-section-title button {
	flex: 1 0 0;
}


@media screen and (max-width: 800px) {
	.pricing-page {
		padding: var(--orthodox-padding-page) var(--orthodox-padding-page-mobile);
	}
}
