
.pricing-page-wrapper {
	padding: 60px 20%;
}

.pricing-page-text p {
	padding-bottom: 70px;
}

.pricing-page-section-wrapper {
	line-height: 25px;
	text-align: justify;
}


.pricing-page-section-title {
	display: flex;
	align-items: center;
	width: 100%;
}

.pricing-page-section-title h2 {
	flex: 1 0 auto;
	/*border: 1px solid #ff00ff;*/
}

.pricing-page-section-title button {
	flex: 1 0 0;
}

.pricing-page-section-title button:disabled, .pricing-page-section-title button:disabled:hover {
	border: 1px solid rgb(var(--quiet-btn-fg-rgb-color), 0.33);
	background-color: rgb(var(--quiet-btn-bg-rgb-color), 0.875);
	color: rgb(var(--quiet-btn-fg-rgb-color), 0.75);
	cursor: default;
}


@media screen and (max-width: 800px) {
	.pricing-page-wrapper {
		padding: 60px 30px;
	}
}
