
.pricing-page-wrapper {
	padding: 60px 20%;
}

.pricing-page-text p {
	padding-bottom: 70px;
}

.pricing-page-section-wrapper {
	line-height: 25px;
	text-align: justify;
}


.pricing-page-section-title {
	display: flex;
	align-items: center;
	width: 100%;
}

.pricing-page-section-title h2 {
	flex: 1 0 auto;
	/*border: 1px solid #ff00ff;*/
}

.pricing-page-section-title button {
	flex: 1 0 0;
	/*border: 1px solid #00ff00;*/
}


@media screen and (max-width: 800px) {
	.pricing-page-wrapper {
		padding: 60px 30px;
	}
}
