
.playground-header {
	position: fixed;
	top: 0;
	left: 208px;
	/*left: 0;*/
	width: calc(100% - (var(--playground-nav-width) + var(--playground-comments-width)));
	/*width: 100%;*/
	display: flex;
	align-items: center;
	padding: calc(var(--orthodox-padding-base) - 4px) var(--orthodox-padding-base) 0 var(--orthodox-padding-base);
	/*background-color: rgba(var(--site-bg-color), 0.875);*/
	transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 2;
}

.playground-header > * {
	flex: 4 4 0;
}

.playground-header-col-right {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

.playground-header-col-right > *:not(:last-child) {
	margin-right: var(--orthodox-margin-base);
}

.playground-header-col-middle {
	display: none;
	visibility: hidden;
	flex: 1 0 auto;
	text-align: center;
}

.playground-header-breadcrumb-wrapper {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}


.playground-header-breadcrumb-wrapper > * {
	flex: 0 0 auto;
}

.playground-header-breadcrumb {
	color: rgba(var(--link-color), 1.0);
	text-decoration: none;
	transition: color 0.125s ease-out;
}

.playground-header-breadcrumb {
}

.playground-header-breadcrumb[data-last="false"]:hover {
	cursor: pointer;
	color: rgba(var(--link-hover-color), 1.0);
}

.playground-header-breadcrumb[data-last="true"] {
	color: rgba(var(--link-selected-color), 1.0);
	font-weight: 500;
	text-decoration: underline;
}


.playground-share-link {
	position: relative;
}

.playground-header-link {
	color: rgba(var(--link-color), 1.0);
	transition: color 0.125s ease-out;
}

.playground-header-link:hover {
	color: rgba(var(--link-hover-color), 1.0);
	cursor: pointer;
}
