
.playground-header {
	position: fixed;
	top: 0;
	left: 208px;
	/*left: 0;*/
	width: calc(100% - (var(--playground-nav-width) + var(--playground-comments-width)));
	/*width: 100%;*/
	display: flex;
	align-items: center;
	padding: var(--spacing-20) var(--spacing-20) 0 var(--spacing-20);
	transition: width 250ms 125ms cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 3;
}

.playground-page[data-comments="true"] .playground-header {
	transition: width 125ms 333ms cubic-bezier(0.4, 0, 0.2, 1);
}

.playground-header > * {
	flex: 4 4 0;
}

.playground-header-col-right {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

.playground-header-col-right > *:not(:last-child) {
	margin-right: var(--spacing-20);
}

.playground-header-col-middle {
	display: none;
	visibility: hidden;
	flex: 1 0 auto;
	text-align: center;
}

.playground-header-breadcrumb-wrapper {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}


.playground-header-breadcrumb-wrapper > * {
	flex: 0 0 auto;
}

.playground-header-breadcrumb {
	color: rgba(var(--link-color), 1.0);
	text-decoration: none;
	transition: color 0.125s ease-out;
}

.playground-header-breadcrumb:not(:first-child):hover, .playground-header-breadcrumb:not(:last-child):hover {
	cursor: pointer;
	color: rgba(var(--link-hover-color), 1.0);
}

.playground-header-breadcrumb:first-child:hover {
	color: rgba(var(--link-selected-color), 1.0);
	cursor: default;
}

.playground-header-breadcrumb:last-child, .playground-header-breadcrumb:last-child:hover {
	color: rgba(var(--link-selected-color), 1.0);
	font-weight: 500;
	text-decoration: underline;
	cursor: default;
}


.playground-share-link {
	position: relative;
}

.playground-header-link {
	color: rgba(var(--link-color), 1.0);
	transition: color 0.125s ease-out;
}

.playground-header-link:hover {
	color: rgba(var(--link-hover-color), 1.0);
	cursor: pointer;
}
