
.playground-header {
	position: fixed;
	top: 0;
	left: 208px;
	/*left: 0;*/
	width: calc(100% - (var(--playground-nav-width) + var(--playground-comments-width)));
	/*width: 100%;*/
	display: flex;
	align-items: center;
	padding: 20px 20px 0 20px;
	/*background-color: rgba(var(--site-bg-color), 0.875);*/
	transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 2;
}

.playground-header > * {
	flex: 4 4 0;
	border: 1px dotted #00ff00;
}

.playground-header-col-right {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

.playground-header-col-right > * {
	/*border: 1px dotted #ff00ff;*/
}

.playground-header-col-middle {
	display: none;
	visibility: hidden;
	flex: 1 0 auto;
	text-align: center;
}

.playground-header-link {
	color: rgba(var(--link-color), 1.0);
	transition: color 0.125s ease-out;
}

.playground-header-link:hover {
	color: rgba(var(--link-hover-color), 1.0);
	cursor: pointer;
}
