
@keyframes marquee-banner-intro {
	0%   { display: block; opacity: 0; }
	100% { opacity: 1; }
}

@keyframes marquee-banner-outro {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes marquee-banner-outro-remove {
	0%   { opacity: 1; }
	100% { opacity: 0; display: none; }
}

.filing-tab-set {
	width: 100%;
	height: 100%;
}

.filing-tab-set-title-wrapper {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin : 0;
	height: 48px;
	overflow-x: auto;
}

.filing-tab-set-content-wrapper {
	width: 100%;
	height: calc(100% - 46px);
}

.filing-tab-title {
	flex: 1 1 0;
	padding: 14px 14px;
	background-color: #24282e;
	border-right: 1px solid #1a1e23;
	font-family: "San Francisco Text", sans-serif;
	font-size: 14px;
	line-height: normal;
	letter-spacing: -0.26px;
	color: #ffffff;
}

.filing-tab-title:nth-child(even) {
	/*background-color: #171b21;*/
}

.filing-tab-title:only-child {
	border-right: none;
}

.filing-tab-title:hover {
	cursor: pointer;
	text-decoration: underline;
}

.filing-tab-title-selected {
	/*border-bottom: 2px solid rgba(0, 92, 197, 1.0);*/
	background-color: #1a1e23;
	color: #2288fb;
	/*text-decoration: underline;*/
}

.filing-tab-title-selected:hover {
	cursor: default;
}

.filing-tab-title-blank, .filing-tab-title-blank:hover {
	cursor: default;
	background-color: #171b21;
	text-decoration: none;
}

.filing-tab-title-selected:only-child {
	border-bottom: 2px solid rgba(0, 92, 197, 0.0);
	background-color: #24282e;
	text-decoration: none;
	color: #ffffff;
}

.filing-tab-title-disabled, .filing-tab-title-disabled:hover {
	cursor: default;
	background-color: #24282e;
	/*border-bottom: 2px solid rgba(0, 92, 197, 0.0);*/
	color: #abdafd;
	text-decoration: none;
}

.filing-tab-title-disabled:nth-child(even):hover, .filing-tab-title-blank:nth-child(even):hover {
	background-color: #171b21;
}

.filing-tab-content {
	width: 100%;
	height: 100%;
	padding: 14px 14px 0 14px;
	font-family: "San Francisco Text", sans-serif;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.44px;
	color: #00ff0f;
	word-wrap: break-word;
	/*white-space: pre-wrap;*/
	/*word-break: break-word;*/
	tab-size: 3;
	overflow-y: scroll;
}

.filing-tab-content-disabled, .filing-tab-content-disabled:hover {
	cursor: default;
	padding: 14px;
}

.inspector-page-wrapper {
	margin: -20px 0 -20px -20px;
	width: calc(100% + 40px);
	height: calc(100vh - 64px);
	background-color: #111111;
}

.inspector-page-context-menu {
	padding: 5px 10px;
	background-color: #24282e;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
	z-index: 10;
}

.react-contextmenu-item {
	color: #ffffff;
}

.react-contextmenu-item:hover {
	cursor: pointer;
	color: #2288fb;
}

.inspector-page-interactive-div {
	width: 100%;
	height : calc(100vh - 64px);
}

.inspector-page-content {
	height: 100%;
	flex: 1 1 0;
	vertical-align: top;
}

.inspector-page-artboards-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background: #111111 url(../../../../assets/images/backgrounds/bg-checkerboard.png) repeat;
	overflow: scroll;
	z-index: 1;
	cursor: crosshair;
	-ms-touch-action: none;
	touch-action: none;
}

.inspector-page-artboards-wrapper-scrolling, .inspector-page-artboards-wrapper:active {
	cursor: move;
}

.inspector-page-artboard {
}

.inspector-page-artboard-tinted {
	opacity: 0.5;
}

.inspector-page-artboard-caption {
	position: absolute;
	left: -2px;
	top: -23px;
	width: max-content;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #005cc5;
	text-transform: uppercase;
}

.inspector-page-canvas-wrapper {
	position: fixed;
	top: -50px;
	left: -100px;
	z-index: 2;
	background-color: rgba(255, 0, 255, 0.0);
}

.inspector-page-slices-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	overflow: hidden;
}

.inspector-page-group-slices-wrapper, .inspector-page-background-slices-wrapper, .inspector-page-symbol-slices-wrapper, .inspector-page-slice-slices-wrapper, .inspector-page-textfield-slices-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.inspector-page-artboard-slices-wrapper, .inspector-page-background-slices-wrapper {
	z-index: 4;
}

.inspector-page-group-slices-wrapper {
	z-index: 5;
}

.inspector-page-symbol-slices-wrapper {
	z-index: 6;
}

.inspector-page-slice-slices-wrapper {
	z-index: 7;
}

.inspector-page-textfield-slices-wrapper {
	z-index: 8;
}

.inspector-page-footer-wrapper {
	position: relative;
	bottom: 58px;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.0);
	vertical-align: middle;
}

.inspector-page-footer-logo {
	width: 35px;
	height: 16px;
	margin-right: 12px;
}

.inspector-page-footer-logo:hover {
	cursor: pointer;
}

.inspector-page-footer-button-wrapper {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.inspector-page-footer-button {
	width: fit-content;
	height: 38px;
	margin-right: 10px;
	padding-left: 12px;
	padding-right: 12px;
}

.inspector-page-footer-button:last-child {
	margin-right: 0;
}

.inspector-page-footer-dz {
	display: inline;
}

.inspector-page-live-editor-wrapper {
	position: relative;
	height: calc(100vh - 110px);
	overflow-y: scroll;
}

.inspector-page-live-editor, .inspector-page-live-error {
	width: calc(100%);
}

.inspector-page-live-editor {
	position: absolute;
	top: 0;
	left: 0;
}

.inspector-page-live-error {
	position: fixed;
	bottom: -20px;
	min-height: 268px;
	padding: 0 10px;
	background-color: rgba(36, 40, 46, 0.95);
	color: #ffffff;
	overflow-y: auto;
}

.inspector-page-editor-status {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #24282e;
	width: 100%;
	height: 268px;
	padding: 10px;
	color: #ffffff;
}

.inspector-page-live-preview-wrapper {
	width: 375px;
	min-width: 375px;
	max-width: 375px;
	overflow : hidden;
}

.inspector-page-live-preview {
	position: absolute;
	top: 48px;
	width: 375px;
	min-width: 375px;
	max-width: 375px;
	height: calc(100% - 48px);
	background-color: rgba(255, 255, 255, 0.0);
	overflow: hidden;
}

.inspector-page-panel {
	height: calc(100vh - 64px);
	max-height: calc(100vh - 64px);
	overflow: hidden;
}

.inspector-page-panel-editor {
	width: 67%;
	max-width: 67%;
	max-height: calc(100vh - 64px);
	overflow-y: scroll;
}

.inspector-page-panel-filing-tab-set-wrapper {
	width: 100%;
}

.inspector-page-panel-button-wrapper {
	padding: 10px;
}

.inspector-page-panel-editor-button-wrapper {
	position: fixed;
	bottom: 0;
}

.inspector-page-panel-button {
	width: 100%;
	margin-bottom: 10px;
	display: block;
}

.inspector-page-panel-editor-button {
	width: 70px;
}

.inspector-page-panel-button:only-child, .inspector-page-panel-button:last-child {
	margin-bottom: 0
}

.inspector-page-panel-header {
	width: 100%;
	height: 48px;
	vertical-align: middle;
	padding: 10px;
	background-color: #24282e;
	color: #005cc5;
}

.inspector-page-panel-header-alt {
	background-color: #1a1e23;
}

.inspector-page-panel-header a {
	text-decoration: none;
}

.inspector-page-panel-header a:hover {
	text-decoration: underline;
}

.inspector-page-panel-header-icon:hover {
	cursor: pointer;
}

.inspector-page-specs-list-wrapper {
	width: 100%;
	font-family: "San Francisco Text", sans-serif;
	font-size: 14px;
	letter-spacing: 0.44px;
	line-height: 20px;
	color: #666666;
}

.inspector-page-specs-list-wrapper-empty {
	margin-top: -2px;
	padding: 0;
	color: #00ff0f;
}

.inspector-page-specs-list-item-attribute, .inspector-page-specs-list-item-val {
	width: 50%;
}

.inspector-page-specs-list-item-attribute:hover, .inspector-page-specs-list-item-val:hover {
	cursor: pointer;
}

.inspector-page-specs-list-item-attribute-empty:hover, .inspector-page-specs-list-item-val-empty:hover {
	cursor: default;
}

.inspector-page-specs-list-item-val {
	color: #00ff0f;
}

.inspector-page-color-swatch {
	width: 12px;
	height: 12px;
	border: 1px solid #030307;
	border-radius: 1px;
	margin-left: 3px;
}


.marquee-banner-intro {
	animation: 0.125s ease-in 0s 1 forwards marquee-banner-intro;
}

.marquee-banner-outro {
	animation: 0.125s ease-out 0s 1 forwards marquee-banner-outro;
}


.slice-rollover-item {
	position: absolute;
	transform-origin: 0 0;
	background-color: rgba(0, 0, 0, 0.0);
	border: 1px solid rgba(0, 92, 197, 0.0);
}

.slice-rollover-item:hover {
	cursor: pointer;
}

.slice-rollover-item-artboard-filled, .slice-rollover-item-slice-filled, .slice-rollover-item-symbol-filled, .slice-rollover-item-textfield-filled, .slice-rollover-item-background-filled, .slice-rollover-item-group-filled {
	border-color: rgba(0, 92, 197, 0.0);
}


.upload-processing-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 360px);
	height: 100%;
	z-index : 8;
	padding-top: 25px;
	background-color: rgba(0, 0, 0, 0.875);
}

.upload-processing-title {
	margin-bottom: 38px;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 48px;
	letter-spacing: -2.53px;
	color: #c8eefd;
}

.upload-processing-url-wrapper {
	min-width: 50%;
	max-width: 80%;
	margin-bottom: 10px;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 28px;
	text-decoration: none;
	letter-spacing: -1px;
	color: #005cc5;
}

.upload-processing-button-wrapper {
	margin-bottom: 30px;
}

.upload-processing-image {
	width: 100%;
	height: 100%;
	opacity: 0.875;
	color: #005cc5;
}

.upload-processing-image-loading, .upload-processing-image-error {
	opacity: 1;
	font-size: 64px;
	text-align: center;
	vertical-align: middle;
}

.upload-processing-image-placeholder:hover {
	opacity: 1;
	cursor: pointer;
}
