
.site-wrapper {
  width: 100%;
	height: 100%;
}

.content-wrapper {
	position: fixed;
	top: 58px;
	left: 301px;
	width: calc(100% - 301px);
	height: calc(100% - 45px);
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 19px;
}

.page-wrapper {
	width: 100%;
	margin-bottom: 20px;
}

.page-header {
	padding: 30px 50px 45px 50px;
	margin-bottom: 32px;
	width: 100%;
	background-color: #fafbfc;
	border: 1px solid #eaecef;
	border-radius: 4px;
}

.page-header-text {
	text-align: center;
	margin: 0 0 29px 0;
	line-height: 30px;
	font-family: "San Francisco Text", sans-serif;
	font-size: 16px;
	letter-spacing: -0.24px;
}

.page-header-subtext {
	text-align: center;
	color: #0267d8;
	margin-bottom: 20px;
}

.page-header-url {
	margin-top: 18px;
	font-size: 14px;
	letter-spacing: -0.23px;
}

.long-button {
	padding: 9px 45px;
}

.fat-button {
	padding: 14px 28px;
}

.adjacent-button {
	margin-right: 20px;
}

.stack-button {
	margin-bottom: 14px;
}

.button-disabled, .button-disabled:hover {
	cursor: default;
	/*background: none;*/
	/*background-color: #9f9f9f;*/
	/*background-image: none;*/
	/*border-color: #9f9f9f;*/
	/*color: #e9e9e9;*/
	opacity : 0.75;
}

.page-link, .page-link a, .page-link a:active, .page-link a:link, .page-link a:visited {
	color: #0267d8;
	text-decoration: underline;
}

.page-link:hover, .page-link a:hover {
	cursor: pointer;
	text-decoration: none;
}

.page-footer {

}

.sub-h1 {
	font-family: "San Francisco Text Bold", sans-serif;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: -0.52px;
	color: #9b9b9b;
	margin-bottom: 24px;
}

.input-wrapper {
	margin-bottom: 18px;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	width: 100%;
}

.input-wrapper-error {
	border: 1px solid #ff5166;
}

.input-wrapper-error input[type=text], .input-wrapper-error input[type=password], .input-wrapper-error input[type=tel], .input-wrapper-error .input-txt {
	color: #ff5166;
}

.code-snippet {
	background-color: #111111;
	font-family: "AndaleMono", Monaco, Consolas, monospace;
	color: #7ed321;
}

.updated-timestamp {
	font-family: "San Francisco Text", sans-serif;
	font-size: 18px;
	font-style: italic;
}

.faq-block {
	margin-bottom: 58px;
}

.flex-wrapper {
	width: 100%;
	flex-wrap: wrap;
}

.full-width {
	width: 100%;
}

.text-underline {
	text-decoration: underline;
}

.is-hidden {
	display: none;
	visibility: hidden;
}


.debug-border {
	border: 1px dashed #ff00ff;
}

@media only screen and (max-width: 600px) {
}
