
.page-wrapper {
  width: 100%;
	height: 100%;
}

.content-wrapper {
	position: fixed;
	top: 40px;
	left: 200px;
	width: calc(100% - 240px);
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #3f3f3f;
	padding: 20px;
}

.flex-wrapper {
	width: 100%;
	flex-wrap: wrap;
}

.full-width {
	width: 100%;
}

.text-underline {
	text-decoration: underline;
}

.is-hidden {
	display: none;
	visibility: hidden;
}


.debug-border {
	border: 1px dashed #ff00ff;
}

@media only screen and (max-width: 600px) {
}
