
.page-wrapper {
  text-align: center;
  padding: 30px;
}

.content-wrapper {
	width: 100%;
	border: 1px dashed #cccccc;
}

.top-nav {
  width: 100%;
	margin-bottom: 30px;
}

.form-element {
	margin-bottom: 30px;
}

.action-button {
	padding: 10px 30px 10px 30px;
	background-color: #0000ff;
	font-size: 32px;
	color : #ffffff;
	border: none;
	box-shadow: 0 0 20px #666666;
}

.textfield-input {
	padding: 10px 30px 10px 30px;
	background-color: #ffffff;
	font-size: 32px;
	color : #000000;
	box-shadow: 0 0 20px #666666;
	border: none;
	border-radius: 10px;
	width: 100%;
}