
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}


/** Thin */
@font-face {
  font-family: "Work Sans";
  font-weight: 100;
  src: url("./fonts/WorkSans-Thin.otf");
}

/** Extra Light */
@font-face {
  font-family: "Work Sans";
  font-weight: 200;
  src: url("./fonts/WorkSans-ExtraLight.otf");
}

/** Light */
@font-face {
  font-family: "Work Sans";
  font-weight: 300;
  src: url("./fonts/WorkSans-Light.otf");
}

/** Regular */
@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  src: url("./fonts/WorkSans-Regular.otf");
}

/** Medium */
@font-face {
  font-family: "Work Sans";
  font-weight: 500;
  src: url("./fonts/WorkSans-Medium.otf");
}

/** Bold */
@font-face {
  font-family: "Work Sans";
  font-weight: 600;
  src: url("./fonts/WorkSans-Bold.otf");
}

/** Extra Bold */
@font-face {
  font-family: "Work Sans";
  font-weight: 700;
  src: url("./fonts/WorkSans-ExtraBold.otf");
}

/** Black */
@font-face {
  font-family: "Work Sans";
  font-weight: 800;
  src: url("./fonts/WorkSans-Black.otf");
}

/** Bold */
@font-face {
  font-family: "Poppins Bold";
  font-weight: 700;
  src: url("./fonts/Poppins-Bold.otf");
}

/** Bold */
@font-face {
  font-family: "Poppins SemiBold";
  font-weight: 600;
  src: url("./fonts/Poppins-SemiBold.otf");
}