
*, *::before, *::after {
  box-sizing: border-box;
  /*box-sizing: content-box;*/
  /*box-sizing: padding-box;*/
}

*:focus {
  outline: none;
}

*:disabled, *:disabled:hover {
  cursor: default;
  pointer-events: none;
}

*::placeholder {
	font-size: var(--orthodox-font-size);
}

:root {
	--full-white: 255, 255, 255; /* ffffff */
	--site-bg-color: 252, 252, 252; /* fcfcfc */
	/* --site-bg-color: 80, 80, 80; fcfcfc */
	--site-fg-color: 35, 35, 35; /* #232323 */
	--site-hilite-color: 0, 90, 217; /* #0067ff */
	--disabled-fg-color: 204, 204, 204; /* #cccccc */
	--invalid-bg-color: 255, 240, 240; /* fff0f0 */
	--invalid-fg-color: 255, 101, 101; /* #ff6565 */
	--invalid-border-color: var(--invalid-fg-color); /* #ff4646 */
	--btn-bg-color: 0, 103, 255; /* #0067ff */
	--btn-fg-color: var(--full-white); /* ffffff */
	--btn-hover-bg-color: 0, 92, 229; /* #005ce5 */
	--btn-disabled-bg-color: var(--disabled-fg-color); /* cccccc */
	--btn-disabled-fg-color: 247, 247, 247; /* #f7f7f7 */
	--quiet-btn-bg-color: 247, 247, 247; /* #f7f7f7 */
	--modal-bg-color: var(--full-white); /* ffffff */
	--quiet-btn-fg-color: var(--site-fg-color); /* #232323 */
	--quiet-btn-hover-bg-color: 237, 237, 237; /* #ededed */
	--quiet-btn-selected-bg-color: var(--site-fg-color); /* #232323 */
	--quiet-btn-selected-fg-color: var(--full-white); /* ffffff */
	--img-bg-color: 240, 240, 240; /* #f0f0f0 */
	--link-color: var(--site-fg-color); /* #232323 */
	--link-hover-color: 153, 153, 153; /* 999999 */
	--link-selected-color: var(--site-fg-color); /* #232323 */
	--txtfield-bg-color: var(--full-white); /* ffffff */
	--txtfield-fg-color: 153, 153, 153; /* 999999 */
	--txtfield-focused-bg-color: 247, 247, 247; /* #f7f7f7 */
	--txtfield-focused-fg-color: var(--site-fg-color); /* #232323 */
	--txtfield-hover-bg-color: 247, 247, 247; /* #f7f7f7 */
	--txtfield-hover-fg-color: 153, 153, 153; /* 999999 */
	--txtfield-invalid-bg-color: 247, 247, 247; /* #f7f7f7 */
	--txtfield-invalid-fg-color: var(--invalid-fg-color); /* #ff6565 */
	--txtfield-disabled-bg-color: var(--disabled-fg-color); /* cccccc */
	--txtfield-disabled-fg-color: 153, 153, 153; /* 999999 */
	--border-color: var(--site-fg-color);
	--border-alt-color: 206, 206, 206; /* cecece */
	--overlay-shadow: 2px 2px 6px rgba(var(--border-color), 0.125);
	--playground-component-shadow: 2px 2px 3px rgba(var(--border-color), 0.75);
	--playground-panel-bg-color: 244, 244, 244; /* #f4f4f4 */
	--playground-content-bg-color: 247, 247, 247; /* #f7f7f7 */
	/*--playground-content-bg-color: 80, 80, 80; /*#f4f4f4*/
	--playground-component-bg-color: 252, 252, 252; /* #fbfbfb */
	--playground-panel-link-color: 153, 153, 153; /* 999999 */
	--playground-panel-link-hover-color: var(--site-fg-color); /* #232323 */
	--comment-marker-bg-color: 207, 247, 207;

	--timestamp-color: 153, 153, 153; /* 999999 */
	--dialog-title-color: 153, 153, 153; /* 999999 */

	--popup-ok-bg-color: var(--site-bg-color);
	--popup-ok-fg-color: 255, 101, 101;  /*64, 128, 35; /* 80ff46 */

	--playground-nav-width: 208px;
	--playground-comments-width: 228px;

	--orthodox-margin-base: 20px;
	--orthodox-padding-base: 20px;

	--orthodox-margin-half: calc(var(--orthodox-margin-base) * 0.5);
	--orthodox-margin-less: calc(var(--orthodox-margin-base) * 0.75);
	--orthodox-margin-mini: calc(var(--orthodox-margin-base) * 0.25);
	--orthodox-margin-more: calc(var(--orthodox-margin-base) * 1.25);
	--orthodox-margin-huge: calc(var(--orthodox-margin-base) * 3.0);
	--orthodox-margin-dbbl: calc(var(--orthodox-margin-base) * 2.0);

	--orthodox-padding-half: calc(var(--orthodox-padding-base) * 0.5);
	--orthodox-padding-less: calc(var(--orthodox-padding-base) * 0.75);
	--orthodox-padding-mini: calc(var(--orthodox-padding-base) * 0.25);
	--orthodox-padding-more: calc(var(--orthodox-padding-base) * 1.25);
	--orthodox-padding-dbbl: calc(var(--orthodox-padding-base) * 2.0);
	--orthodox-padding-huge: calc(var(--orthodox-padding-base) * 3.0);
	--orthodox-padding-page: calc(var(--orthodox-padding-base) * 3.0);
	--orthodox-padding-form: calc(var(--orthodox-padding-base) * 1.5);

	--orthodox-padding-page-mobile: calc(var(--orthodox-padding-base) * 1.5);

	--orthodox-acc-size: 18px;
	--orthodox-ico-size: 24px;

	--orthodox-font-size: 16px;
	--orthodox-font-weight: 400;
	--modal-content-width: 306px;

	--border-radius: 20px;

	--expander-arrow-transition: all 250ms cubic-bezier(0.4, 1, 0.2, 1);
	--expander-content-mask-transition: height 250ms cubic-bezier(0.2, 0.9, 0.3, 1.0);
	--expander-content-open-transition: height 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
	--expander-content-close-transition: height 250ms cubic-bezier(0.5, 0.9, 0.1, 1.0);

	/*--expander-content-open-transition: height 250ms cubic-bezier(0.2, 0.9, 0.1, 1.0);*/
	/*--expander-content-close-transition: height 250ms cubic-bezier(0.5, 0.9, 0.1, 1.0);*/

	/*
	250ms cubic-bezier(0.2, 0.5, 0.9, 1.0) // 250ms cubic-bezier(0.5, 0.9, 0.1, 1.0)
	333ms cubic-bezier(0.2, 0.9, 0.1, 1.0) // 333ms cubic-bezier(0.0, 1.0, 0.0, 1.0)
	250ms cubic-bezier(0.2, 0.9, 0.3, 1.0) // 250ms cubic-bezier(0.5, 0.9, 0.1, 1.0)
	*/

	--debug-border: 1px dotted rgba(255, 0, 255, 0.75);
	--matty-gold: #ffe000;
	--matty-royall: #ff00ff;
	--matty-mana: #00ad10;
	--matty-earth: #6b4000;
	--matty-elect: #103bdf;
	--matty-border-style: 1px dashed;
	--matty-opacity: 0.33;

}



html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(var(--site-bg-color), 1.0);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
  font-weight: var(--orthodox-font-weight);
  font-size: var(--orthodox-font-size);
  color: rgba(var(--site-fg-color), 1.0);
}


a {
  color: rgba(var(--link-color), 1.0);
  text-decoration: none;
	transition: color 0.125s ease-out;
}

a:hover {
	color: rgba(var(--link-hover-color), 1.0);
	text-decoration: none;
}

a:active {
	color: rgba(var(--link-selected-color), 1.0);
	text-decoration: none;
}

button {
  width: var(--modal-content-width);
  /*height: 46px;*/
	padding: calc(var(--orthodox-padding-base) - 1px) var(--orthodox-padding-form);
  background-color: rgba(var(--btn-bg-color), 1.0);
  border: 1px solid rgba(var(--btn-bg-color), 1.0);
  border-radius: 30px;
  font-size: var(--orthodox-font-size);
  color: rgba(var(--btn-fg-color), 1.0);
	transition: background-color 0.1s ease-out;
}

button:hover, button:active {
  background-color: rgba(var(--btn-hover-bg-color), 1.0);
	border: 1px solid rgba(var(--btn-hover-bg-color), 1.0);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
	background-color: rgba(var(--btn-disabled-bg-color), 1.0);
	border: 1px solid rgba(var(--btn-disabled-bg-color), 1.0);
  color: rgba(var(--btn-disabled-fg-color), 1.0);
  cursor: default;
}

button[data-hidden="true"] {
	display: none;
	visibility: hidden;
}

button.quiet-button {
	width: fit-content;
	min-width: fit-content;
	max-width: fit-content;
	/*padding: var(--orthodox-padding-half) var(--orthodox-padding-base);*/
	border: 1px solid rgba(var(--border-color), 1.0);
	background-color: rgba(var(--quiet-btn-bg-color), 1.0);
	color: rgba(var(--quiet-btn-fg-color), 1.0);
}

button.quiet-button:hover {
	border: 1px solid rgba(var(--border-color), 1.0);
	background-color: rgba(var(--quiet-btn-hover-bg-color), 1.0);
	color: rgba(var(--quiet-btn-fg-color), 1.0);
}

button.quiet-button[data-selected="true"], button.quiet-button[data-selected="true"]:hover {
	background-color: rgba(var(--quiet-btn-selected-bg-color), 1.0);
	color: rgba(var(--quiet-btn-selected-fg-color), 1.0);
}

	/* min-width: unset;
	min-height: unset;
	max-width: unset;
	max-height: unset; */
	/* width: min-content; */
	/* height: min-content; */

button.quiet-button[data-selected="true"]:hover {
	color: rgba(var(--quiet-btn-hover-bg-color), 1.0);
}

button.glyph-button {

	border-radius: 50%;
	border: 1px solid rgba(var(--site-fg-color), 1.0);
}

button.glyph-button > svg {
	width: 100%;
	height: 100%;
	fill: rgba(var(--site-fg-color), 1.0);
	transition: fill 125ms ease-out;
}

button.glyph-button[data-selected="true"] > svg, button.glyph-button[data-selected="true"]:hover {
	fill: rgba(255, 255, 255, 1.0);
}

button.cancel-button {
	min-width: unset;
	max-width: unset;
	padding: var(--orthodox-padding-half) var(--orthodox-padding-form);
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
}

/** Page Title **/
h1 {
  margin-bottom: var(--orthodox-margin-huge);
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 68px;
}

h1::before {
  margin-top: calc((1 - 1.4) * 0.5em);
}

/** Expand Section Title **/
h2 {
	margin-bottom: 0;
	width: fit-content;
	color: rgba(var(--btn-bg-color), 1.0);
	font-size: 48px;
	letter-spacing: 1px;
	line-height: 43px;
	transition: color 0.125s ease-out;
}

h2::before {
	margin-top: calc((1 - 1.1) * 0.5em);
}

h2:hover {
	color: rgba(var(--btn-hover-bg-color), 1.0);
	cursor: pointer;
}

/** Modal Title **/
h3 {
	color: rgba(var(--btn-bg-color), 1.0);
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 0.75px;
}

h3::before {
	margin-top: calc((1 - 2.3) * 0.5em);
}

/** Modal Title **/
h4 {
	font-size: var(--orthodox-font-size);
	line-height: 24px;
	margin-bottom: var(--orthodox-margin-base);
}

h4::before {
	margin-top: calc((1 - 1.2) * 0.5em);
}

h5 {
	font-size: 15px;
}

/** Legal Section Title **/
h5.legal, h5.terms {
	padding-bottom: var(--orthodox-margin-mini);
	font-size: var(--orthodox-font-size);
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	text-align: left;
}

/** Legal Definition **/
h6 {
	display: inline;
	padding-right: 1px;
	font-size: var(--orthodox-font-size);
	font-weight: 500;
	text-align: left;
}

h6::before {
	margin-top: 0;
}

input[type="email"], input[type="password"], input[type="text"], select, textarea {
	width: 100%;
	padding: calc(var(--orthodox-padding-base) - 1px) var(--orthodox-padding-base);
	background-color: rgba(var(--txtfield-bg-color), 1.0);
	border: 1px solid rgba(var(--border-color), 1.0);
	border-radius: 30px;
	color: rgba(var(--txtfield-fg-color), 1.0);
	/*text-align: center;*/
	font-size: var(--orthodox-font-size);
	cursor: text;
	-webkit-appearance: none;
	transition: background-color 0.125s ease-out;
}

input[type="email"]:hover, input[type="password"]:hover, input[type="text"]:hover, textarea:hover {
	background-color: rgba(var(--txtfield-hover-bg-color), 1.0);
	color: rgba(var(--txtfield-hover-fg-color), 1.0);
}

input[type="email"]:invalid, input[type="email"]:invalid:hover, input[type="password"]:invalid, input[type="password"]:invalid:hover, input[type="text"]:invalid, input[type="text"]:invalid:hover {
	border: 1px solid rgba(var(--txtfield-invalid-fg-color), 1.0);
	background-color: rgba(var(--txtfield-invalid-bg-color), 1.0);
	color: rgba(var(--txtfield-invalid-fg-color), 1.0);
}

input[type="email"]:valid, input[type="password"]:valid, input[type="text"]:valid, select:valid, textarea:valid {
	border: 1px solid rgba(var(--border-color), 1.0);
	background-color: rgba(var(--txtfield-bg-color), 1.0);
	color: rgba(var(--txtfield-fg-color), 1.0);
}

input[type="email"]:valid:hover, input[type="password"]:valid:hover, input[type="text"]:valid:hover, textarea:valid:hover {
	background-color: rgba(var(--txtfield-hover-bg-color), 1.0);
	color: rgba(var(--txtfield-hover-fg-color), 1.0);
}

input[type="email"]:disabled, input[type="password"]:disabled, input[type="text"]:disabled, select:disabled, textarea:disabled {
  cursor: not-allowed;
	background-color: rgba(var(--txtfield-disabled-bg-color), 1.0);
	color: rgba(var(--txtfield-disabled-fg-color), 1.0);
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 1px 50px rgba(var(--txtfield-bg-color), 1.0) inset;
	-webkit-text-fill-color: rgba(var(--txtfield-fg-color), 1.0);
}

input:-webkit-autofill:focus, input:-webkit-autofill:hover:focus, input:-webkit-autofill:active:focus {
  -webkit-box-shadow: 0 0 1px 50px rgba(var(--txtfield-focused-bg-color), 1.0) inset;
  -webkit-text-fill-color: rgba(var(--txtfield-fg-color), 1.0);
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, textarea:focus {
	background-color: rgba(var(--txtfield-focused-bg-color), 1.0);
	color: rgba(var(--txtfield-focused-fg-color), 1.0);
}

li > p:last-child {
	margin-bottom: var(--orthodox-margin-base);
}

p {
	margin: 0;
  line-height: var(--orthodox-padding-more);
}

p:not(:last-child) {
	margin-bottom: var(--orthodox-margin-base);
}

p:last-child {
  margin-bottom: 35px;
}

p > a {
	text-decoration: underline;
	/*text-decoration-style: dashed;*/
	text-decoration-skip: objects spaces edges box-decoration;
	text-decoration-color: rgba(var(--link-color), 1.0);
	transition: text-decoration-color 0.125s ease-in;
}

p > a:hover {
	color: rgba(var(--link-color), 1.0);
	text-decoration-color: rgba(var(--link-color), 0.33);
}

p.list-title {
	margin-bottom: var(--orthodox-margin-mini);
}

sup {
	font-size: 8px;
	line-height: 0;
}

textarea, textarea:hover, textarea:active, textarea:focus, textarea:disabled, textarea:valid {
  resize: none;
	padding: var(--orthodox-padding-mini) 0;
	border: 1px solid rgba(var(--border-color), 0.0);
	border-radius: 4px;
}

ul {
	margin: var(--orthodox-margin-half) var(--orthodox-margin-base);
	padding-left: var(--orthodox-padding-half);
	list-style-type: square;
}

ul:last-child {
	margin-bottom: 35px;
}

ul:first-of-type, ul:only-child {
	margin-top: 0;
}

ul > li {
	line-height: var(--orthodox-padding-more);
}

ul > li:first-child {
	margin-top: 0;
}

ul > li:last-child {
	margin-bottom: var(--orthodox-margin-base);
}

ul > li:not(:last-child) {
	margin-bottom: var(--orthodox-margin-half);
}



::-webkit-scrollbar {
	/*display: initial;*/
	display: none;
}

::-webkit-scrollbar-track {
  background: rgba(var(--quiet-btn-bg-color), 1.0);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--border-color), 1.0);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--site-fg-color);
}


@media screen and (max-width: 800px) {
	:root {
		--playground-nav-width: 208px;
		--playground-comments-width: 228px;
	}

	button {
		width: 100%;
	}

	form {
		width: 100%;
	}

	h1 {
		margin-bottom: 50px;
	}
}


.site-wrapper[data-devin-matty="true"] body {
	/*background-color: rgba(255, 0, 255, 0.33);*/
	/*filter: none;*/
}
