
*, *::before, *::after {
  box-sizing: border-box;
  /*box-sizing: content-box;*/
  /*box-sizing: padding-box;*/
}

*:focus {
  outline: none;
}

*:disabled, *:disabled:hover {
  cursor: default;
  pointer-events: none;
}

:root {
	--site-bg-color: #fcfcfc;
	--site-bg-rgb-color: 252, 252, 252; /* fcfcfc */
	--site-fg-color: #232323;
	--site-disabled-fg-color: #cccccc;
	--site-alt-fg: #999999;
	--btn-bg-color: #0067ff;
	--btn-fg-color: #232323;
	--btn-hover-bg-color: #2259e0;
	--btn-hover-fg-color: #94a9f4;
	--btn-disabled-bg-color: #cccccc;
	--btn-disabled-fg-color: var(--site-alt-fg);
	--btn-selected-fg-color: #ffffff;
	--cancel-btn-bg-color: #cccccc;
	--cancel-btn-fg-color: var(--site-alt-fg);
	--quiet-btn-bg-rgb-color: 247, 247, 247; /* f7f7f7 */
	--quiet-btn-fg-rgb-color: 35, 35, 35; /* 232323 */
	--quiet-btn-hover-bg-color: #ededed;
	--quiet-btn-selected-bg-color: #232323;
	--quiet-btn-selected-fg-color: #ffffff;
	--link-color: #232323;
	--link-hover-color: var(--site-alt-fg);
	--link-selected-color: var(--site-alt-fg);
	--link-alt-color: var(--site-alt-fg);
	--link-alt-hover-color: #666666;
	--txtfield-bg-color: #f7f7f7;
	--txtfield-disabled-bg-color: #f7f7f7;
	--txtfield-disabled-fg-color: #666666;
	--border-color: #cecece;
	--playground-panel-bg-color: #f7f7f7;
	--playground-nav-width: 208px;
	--playground-comments-width: 228px;
	--playground-comments-timestamp-color: var(--site-alt-fg);
	--dialog-title-color: var(--site-alt-fg);
}

::placeholder {
	font-size: 16px;
}


html, body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  min-height: 100vh;
  background-color: var(--site-bg-color);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--site-fg-color);
}


a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: none;
	transition: color 0.125s ease-out;
}

a:active {
	text-decoration: underline;
}

button {
  width: 316px;
  height: 46px;
	padding: 8px 30px 10px 30px;
  background-color: var(--btn-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 23px;
  font-size: 16px;
  color: var(--btn-fg-color);
}

button:hover, button:active {
  background-color: var(--btn-hover-bg-color);
	color: var(--btn-hover-fg-color);
  transition: background-color 0.1s ease-out;
  cursor: pointer;
}

button:disabled, button:disabled:hover {
	background-color: var(--btn-disabled-bg-color);
  color: var(--btn-disabled-fg-color);
  cursor: default;
}

button[data-selected="true"], button[data-selected="true"]:hover {
	color: var(--btn-selected-fg-color);
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
}

/** Page Title **/
h1 {
  margin-bottom: 60px;
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 68px;
}

h1::before {
  margin-top: calc((1 - 1.4) * 0.5em);
}

/** Expand Section Title **/
h2 {
	margin-bottom: 0;
	width: fit-content;
	color: var(--btn-bg-color);
	font-size: 48px;
	letter-spacing: 1px;
	line-height: 43px;
}

h2::before {
	margin-top: calc((1 - 1.1) * 0.5em);
}

h2:hover {
	color: var(--btn-hover-bg-color);
	transition: filter 0.125s ease-out;
	cursor: pointer;
}

/** Modal Title **/
h3 {
	color: var(--btn-bg-color);
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 0.75px;
}

h3::before {
	margin-top: calc((1 - 2.3) * 0.5em);
}

/** Modal Title **/
h4 {
	font-size: 16px;
}

h4::before {
	margin-top: calc((1 - 1.2) * 0.5em);
}

/** Legal Section Title **/
h5 {
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	text-align: left;
}

/** Legal Paragraph **/
h6 {
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	text-align: left;
}

input[type="email"], input[type="password"], input[type="text"], textarea {
	width: 100%;
	padding: 15px 20px;
	border: 1px solid var(--border-color);
	border-radius: 23px;
	color: var(--site-fg-color);
	text-align: center;
	font-size: 16px;
	cursor: text;
	-webkit-appearance: none;
}

input[type="email"]:invalid, input[type="password"]:invalid, input[type="text"]:invalid {
	border: 1px solid #ff4646;
	background-color: #fff0f0;
	color: #ff4646;
}

input[type="email"]:valid, input[type="password"]:valid, input[type="text"]:valid, select, textarea {
	border: 1px solid var(--border-color);
	background-color: var(--txtfield-bg-color);
	color: var(--site-fg-color);
}

input[type="email"]:disabled, input[type="password"]:disabled, input[type="text"]:disabled, select:disabled, textarea:disabled {
  cursor: not-allowed;
	background-color: var(--txtfield-disabled-bg-color);
	color: var(--txtfield-disabled-fg-color);
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 1px 50px var(--site-bg-color) inset;
  -webkit-text-fill-color: var(--site-fg-color);
  /*-webkit-text-fill-color: #ff00ff;*/
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, textarea:focus, input[type="email"]:hover, input[type="password"]:hover, input[type="text"]:hover, textarea:hover {
	background-color: var(--txtfield-bg-color);
	color: var(--site-fg-color);
	transition: background-color 0.125s ease-out;
}

p {
	margin-top: 0;
	text-align: justify;
  line-height: 25px;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
  margin-bottom: 35px;
}

sup {
	font-size: 8px;
	line-height: 0;
}

textarea {
  resize: none;
}


::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: var(--quiet-btn-bg-rgb-color);
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--site-fg-color);
}


@media screen and (max-width: 800px) {
	:root {
		--playground-nav-width: 208px;
		--playground-comments-width: 228px;
	}

	button {
		width: 100%;
	}

	form {
		width: 100%;
	}

	h1 {
		margin-bottom: 50px;
	}
}
