
*, *:before, *:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:disabled, *:disabled:hover {
  cursor: default;
  pointer-events: none;
}


:root {
	--site-bg-color: #f7f7f7;
}

:root .dark-mode {
	--site-bg-color: #232323;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  /*background-color: #fcfcfc;*/
  background-color: var(--site-bg-color);
  /*-webkit-font-smoothing: subpixel-antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 16px;
  color: #232323;
}

/*a, a:any-link, a:active, a:visited {*/
a:not(:hover) {
  color: #232323;
  text-decoration: none;
}

a:hover {
	color: #343434;
	text-decoration: underline;
	transition: color 0.125s ease-out;
}

button {
  width: 316px;
  height: 46px;
	padding: 8px 30px 10px 30px;
  background-color: #0067ff;
  border: 1px solid rgba(0, 92, 197, 0.0);
  border-radius: 23px;
  font-size: 16px;
  color: #ffffff;
}

button:hover, button:active {
  background-color: #0062eb;
  transition: background-color 0.1s ease-out;
  cursor: pointer;
}

button:disabled, button:disabled:hover {
	background-color: #cccccc;
  color: #7f7f7f;
  cursor: default;
}

code {
  padding: 0 2px 1px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 0;
  color: #c8e1fd;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

form {
	width: 316px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
}

/** Page Title **/
h1 {
  margin-bottom: 60px;
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 68px;
}

h1:before {
  margin-top: calc((1 - 1.4) * 0.5em);
}

/** Expand Section Title **/
h2 {
	margin-bottom: 0;
	width: fit-content;
	color: #0067ff;
	font-size: 48px;
	letter-spacing: 1px;
	line-height: 43px;
}

h2:before {
	margin-top: calc((1 - 1.1) * 0.5em);
}

h2:hover {
	color: #005ad9;
	transition: filter 0.125s ease-out;
	cursor: pointer;
}

h3 {
	margin-bottom: 0;
	width: fit-content;
	color: #0067ff;
	font-size: 32px;
	letter-spacing: 1px;
}

h3:before {
	margin-top: calc((1 - 1.1) * 0.5em);
}

/** Legal Section Title **/
h5 {
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
}

/** Legal Paragraph **/
h6 {
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
}

input[type="text"], input[type="password"], input[type="tel"], select, textarea, .input-txt, .field-error {
  background-color: #f7f7f7;
  padding: 15px 20px;
  width: 100%;
  border: none;
  border-radius: 23px;
  font-size: 16px;
  cursor: text;
}

input[type="text"], input[type="password"], input[type="tel"], textarea {
	text-align: center;
}

input[type="text"]:disabled, input[type="password"]:disabled, input[type="tel"]:disabled, select:disabled, textarea:disabled {
  cursor: not-allowed;
  color: #999999;
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 1px 50px #ebebeb inset;
  -webkit-text-fill-color: #000000;
	font-size: 16px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, textarea:focus {
	background-color: #ebebeb;
	transition: background-color 0.125s ease-out;
}


p {
	margin-top: 0;
	text-align: justify;
  line-height: 25px;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
  margin-bottom: 35px;
}

textarea {
  resize: none;
}


::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: #151619;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}


@media screen and (max-width: 800px) {
	button {
		width: 100%;
	}

	form {
		width: 100%;
	}

	h1 {
		margin-bottom: 50px;
	}
}