
.playground-base-comment {
	width: 100%;
	height: fit-content;
	padding: var(--orthodox-padding-more) var(--orthodox-padding-base) var(--orthodox-padding-base) var(--orthodox-padding-base);
}

.playground-base-comment-header-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center; /* h-align */
	align-items: flex-start; /* v-align */
	width: 100%;
	margin-bottom: var(--orthodox-margin-base);
}

.playground-base-comment-header-wrapper > * {
	/*margin: auto;*/
	/*border: 1px dotted #ff00ff;*/
}

.playground-base-comment-header-icon-wrapper {
	flex: 1 1 auto;
	display: flex;
}

.playground-base-comment-header-spacer {
	flex: 10 0 0;
	margin: auto;
}

.playground-base-comment-header-link-wrapper {
	flex: 1 1 auto;
	text-align: right;
}

.playground-base-comment-header-icon {
	text-align: center;
}

.playground-base-comment-header-icon:not(:last-child) {
	margin-right: var(--orthodox-margin-mini);
}

.playground-base-comment-header-icon > * {
	opacity: 0.875;
	transition: opacity 0.125s;
}

.playground-base-comment-header-icon > *:hover {
	opacity: 1.0;
}

.playground-base-comment-header-link {
	font-size: 10px;
	color: rgba(var(--link-color), 1.0);
	transition: color 0.125s ease-out;
}

.playground-base-comment-header-link:hover {
	color: rgba(var(--link-hover-color), 1.0);
	cursor: pointer;
}

.playground-base-comment-timestamp {
	margin-bottom: var(--orthodox-margin-mini);
	font-size: 12px;
	color: rgba(var(--timestamp-color), 1.0);
}

.playground-base-comment-content {
	font-size: 14px;
	line-height: 20px;
	text-align: justify;
}
