
.bottom-nav {
	margin-top: 40px;
	font-family: "San Francisco Text SemiBold", sans-serif;
	font-size: 16px;
	line-height: normal;
}

.bottom-nav-link-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 100px 20px 100px;
}

@media screen and (max-width: 800px) {
	.bottom-nav-link-wrapper {
		margin: 0 10px 20px 10px;
	}
}

.bottom-nav-link, a.bottom-nav-link {
	text-decoration: none;
	color: #999999;
	flex: 1 0 auto;
	margin-right: 20px;
}

.bottom-nav-link:hover, .bottom-nav-link a:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #a8a8a8;
}

.bottom-nav-link a, .bottom-nav-link a:any-link, a:active {
	text-decoration: underline;
	color: #b0b0b0;
}

.bottom-nav-disclaimer {
	text-align: center;
	font-family: "San Francisco Text Medium", sans-serif;
	font-size: 14px;
	line-height: 21px;
}