
.bottom-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	z-index: 2;
}

.bottom-nav-link-wrapper {
	width: 100%;
	text-align: right;
}

.bottom-nav-link {
	/*width: fit-content;*/
	color: #232323;
	text-decoration: none;
}

.bottom-nav-link:hover {
	cursor: pointer;
	color: #666666;
	text-decoration: underline;
	transition: color 0.125s ease-out;
}


@media screen and (max-width: 800px) {
	.bottom-nav {
		padding: 20px;
	}
}
