
.top-nav-wrapper {
	position: fixed;
	width: 100%;
	display: table;
	z-index: 3;
	background-color: #24282e;
	font-family: "SF Pro Display Medium", sans-serif;
	font-size: 16px;
	line-height: 0;
	letter-spacing: -0.3px;
}

.top-nav-column {
	display: table-cell;
	width: fit-content;
	height: 64px;
	vertical-align: middle;
}

.top-nav-column-left {
	padding-left: 20px;
}

.top-nav-column-left-mobile {
	padding-left: 15px;
	width: 30%;
}

.top-nav-column-right {
	padding-right: 15px;
	text-align: right;
}

.top-nav-column-right-mobile {
	width: 70%;
	padding-right: 15px;
}

.top-nav-link, a.top-nav-link {
	width: fit-content;
	margin-right: 20px;
	letter-spacing: -0.3px;
	text-decoration: none;
	color: #ffffff;
}

.top-nav-link:last-child, a.top-nav-link:last-child {
	margin-right: 0;
}

.top-nav-link:hover, .top-nav-link a:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #abdafd;
}

.top-nav-link:active, .top-nav-link a:active {
	color: #2288fb;
}

.top-nav-link-selected, a.top-nav-link-selected {
	color: #2288fb;
	text-decoration: none;
}
