
.nav-panel-team {
  transition: height 0.125s ease-out;
}

.nav-panel-team:not(:last-child) {
  margin-bottom: var(--spacing-05);
}

.nav-panel-team .title {
  font-weight: 300;
}

.nav-panel-team .title:hover {
  cursor: pointer;
}

.nav-panel-team .title[data-selected="true"] {
  font-weight: 500;
  text-decoration: underline;
}

.nav-panel-team .title[data-selected="true"]:hover {
  cursor: default;
}
