
.signup-modal-wrapper {
	min-width: 480px;
	height: 80%;
	padding: 20px;
	background-color: #1a1e23;
}

.signup-modal-header {
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #24282e;
}

.signup-modal-content-wrapper {

}

.signup-modal-content {

}
