
.page-header {
	width: 100%;
	padding: 60px 0 20px 0;
	border: 1px dotted rgba(255, 0, 255, 0.0);
}

.page-header-logo {
	width: 148px;
	height: 68px;
	margin-bottom: 40px;
}

.page-header-logo:hover {
	filter: brightness(90%);
	transition: filter 0.125s ease-out;
	cursor: pointer;
}

.page-header-title {
	width: 100%;
	margin-top: 0;
	margin-bottom: 60px;
	text-align: center;
}

.page-header-children-wrapper {
}


@media screen and (max-width: 800px) {
	.page-header {
		padding-top: 66px;
	}

	.page-header-logo {
		width: 108px;
		height: 49px;
		margin-bottom: 66px;
	}

	.page-header-title {
		padding: 0 20px;
	}
}