
.page-header {
	width: 100%;
	padding: 75px 0 40px 0;
}

.page-header-logo {
	width: 148px;
	height: 68px;
	margin-bottom: 70px;
}

.page-header-title {
	width: 100%;
	margin-bottom: 60px;
	text-align: center;
}

.page-header-children-wrapper {
	margin-top: 15px;
}


@media screen and (max-width: 800px) {
	.page-header {
		padding-top: 66px;
	}

	.page-header-logo {
		width: 108px;
		height: 49px;
		margin-bottom: 66px;
	}

	.page-header-title {
		padding: 0 20px;
	}
}